/*.icon_matlab_category_16 {*/
/*background: url(../images/favorite_command_icon_sprites.png) no-repeat;*/
/*width: 16px;*/
/*height: 16px;*/
/*background-position: -46px -54px;*/
/*}*/

/*.icon_help_category_16 {*/
/*background: url(../images/favorite_command_icon_sprites.png) no-repeat;*/
/*width: 16px;*/
/*height: 16px;*/
/*background-position: -82px -90px;*/
/*}*/

/*.icon_simulink_category_16 {*/
/*background: url(../images/favorite_command_icon_sprites.png) no-repeat;*/
/*width: 16px;*/
/*height: 16px;*/
/*background-position: -118px -126px;*/
/*}*/

.icon_favorite_category_16 {
    background: url(../images/favorite_command_icon_sprites.png) no-repeat;
    width: 16px;
    height: 16px;
    background-position: -10px -54px;
}

.icon_matlab_category_16 {
    background: url(../images/matlab_category.png) no-repeat;
    width: 16px;
    height: 16px;
}

.icon_simulink_category_16 {
    background: url(../images/simulink_category.png) no-repeat;
    width: 16px;
    height: 16px;
}

.icon_help_category_16 {
    background: url(../images/help_category.png) no-repeat;
    width: 16px;
    height: 16px;
}

.icon_new_favorite_category_16 {
    background: url(../images/favorite_command_icon_sprites.png) no-repeat;
    width: 16px;
    height: 16px;
    background-position: -54px -10px;
}

.icon_favorite_command_24 {
    background: url(../images/favorite_command_icon_sprites.png) no-repeat;
    width: 24px;
    height: 24px;
    background-position: -10px -10px;
}

.icon_favorite_command_16 {
    background: url(../images/favorite_command_icon_sprites.png) no-repeat;
    width: 16px;
    height: 16px;
    background-position: -10px -90px;
}

.icon_matlab_favorite_16 {
    background: url(../images/favorite_command_icon_sprites.png) no-repeat;
    width: 16px;
    height: 16px;
    background-position: -90px -10px;
}

.icon_help_favorite_16 {
    background: url(../images/favorite_command_icon_sprites.png) no-repeat;
    width: 16px;
    height: 16px;
    background-position: -46px -54px;
}

.icon_simulink_favorite_16 {
    background: url(../images/favorite_command_icon_sprites.png) no-repeat;
    width: 16px;
    height: 16px;
    background-position: -82px -90px;
}

.icon_favorite_16 {
    background: url(../images/favorite_command_icon_sprites.png) no-repeat;
    width: 16px;
    height: 16px;
    background-position: -10px -126px;
}

.icon_new_favorite_16 {
    background: url(../images/favorite_command_icon_sprites.png) no-repeat;
    width: 16px;
    height: 16px;
    background-position: -90px -46px;
}

.icon_delete_favorite_16 {
    background: url(../images/favorite_command_icon_sprites.png) no-repeat;
    width: 16px;
    height: 16px;
    background-position: -126px -82px;
}

.icon_add_to_qab_16 {
    background: url(../images/favorite_command_icon_sprites.png) no-repeat;
    width: 16px;
    height: 16px;
    background-position: -126px -46px;
}

.icon_remove_from_qab_16 {
    background: url(../images/favorite_command_icon_sprites.png) no-repeat;
    width: 16px;
    height: 16px;
    background-position: -46px -90px;
}

.icon_translucent_favorite_16 {
    background: url(../images/favorite_command_icon_sprites.png) no-repeat;
    width: 16px;
    height: 16px;
    background-position: -126px -10px;
}

.icon_edit_favorite_16 {
    background: url(../images/favorite_command_icon_sprites.png) no-repeat;
    width: 16px;
    height: 16px;
    background-position: -126px -10px;
}

.fav_command_a:before,
.fav_category_a:before {
    content: "A";
    font-weight: bold;
}

.fav_command_b:before,
.fav_category_b:before {
    content: "B";
    font-weight: bold;
}

.fav_command_c:before,
.fav_category_c:before {
    content: "C";
    font-weight: bold;
}

.fav_command_d:before,
.fav_category_d:before {
    content: "D";
    font-weight: bold;
}

.fav_command_e:before,
.fav_category_e:before {
    content: "E";
    font-weight: bold;
}

.fav_command_f:before,
.fav_category_f:before {
    content: "F";
    font-weight: bold;
}

.fav_command_g:before,
.fav_category_g:before {
    content: "G";
    font-weight: bold;
}

.fav_command_h:before,
.fav_category_h:before {
    content: "H";
    font-weight: bold;
}

.fav_command_i:before,
.fav_category_i:before {
    content: "I";
    font-weight: bold;
}

.fav_command_j:before,
.fav_category_j:before {
    content: "J";
    font-weight: bold;
}

.fav_command_k:before,
.fav_category_k:before {
    content: "K";
    font-weight: bold;
}

.fav_command_l:before,
.fav_category_l:before {
    content: "L";
    font-weight: bold;
}

.fav_command_m:before,
.fav_category_m:before {
    content: "M";
    font-weight: bold;
}

.fav_command_n:before,
.fav_category_n:before {
    content: "N";
    font-weight: bold;
}

.fav_command_o:before,
.fav_category_o:before {
    content: "O";
    font-weight: bold;
}

.fav_command_p:before,
.fav_category_p:before {
    content: "P";
    font-weight: bold;
}

.fav_command_q:before,
.fav_category_q:before {
    content: "Q";
    font-weight: bold;
}

.fav_command_r:before,
.fav_category_r:before {
    content: "R";
    font-weight: bold;
}

.fav_command_s:before,
.fav_category_s:before {
    content: "S";
    font-weight: bold;
}

.fav_command_t:before,
.fav_category_t:before {
    content: "T";
    font-weight: bold;
}

.fav_command_u:before,
.fav_category_u:before {
    content: "U";
    font-weight: bold;
}

.fav_command_v:before,
.fav_category_v:before {
    content: "V";
    font-weight: bold;
}

.fav_command_w:before,
.fav_category_w:before {
    content: "W";
    font-weight: bold;
}

.fav_command_x:before,
.fav_category_x:before {
    content: "X";
    font-weight: bold;
}

.fav_command_y:before,
.fav_category_y:before {
    content: "Y";
    font-weight: bold;
}

.fav_command_z:before,
.fav_category_z:before {
    content: "Z";
    font-weight: bold;
}

.fav_command_lower_case_a:before,
.fav_category_lower_case_a:before {
    content: "a";
    font-weight: bold;
}

.fav_command_lower_case_b:before,
.fav_category_lower_case_b:before {
    content: "b";
    font-weight: bold;
}

.fav_command_lower_case_c:before,
.fav_category_lower_case_c:before {
    content: "c";
    font-weight: bold;
}

.fav_command_lower_case_d:before,
.fav_category_lower_case_d:before {
    content: "d";
    font-weight: bold;
}

.fav_command_lower_case_e:before,
.fav_category_lower_case_e:before {
    content: "e";
    font-weight: bold;
}

.fav_command_lower_case_f:before,
.fav_category_lower_case_f:before {
    content: "f";
    font-weight: bold;
}

.fav_command_lower_case_g:before,
.fav_category_lower_case_g:before {
    content: "g";
    font-weight: bold;
}

.fav_command_lower_case_h:before,
.fav_category_lower_case_h:before {
    content: "h";
    font-weight: bold;
}

.fav_command_lower_case_i:before,
.fav_category_lower_case_i:before {
    content: "i";
    font-weight: bold;
}

.fav_command_lower_case_j:before,
.fav_category_lower_case_j:before {
    content: "j";
    font-weight: bold;
}

.fav_command_lower_case_k:before,
.fav_category_lower_case_k:before {
    content: "k";
    font-weight: bold;
}

.fav_command_lower_case_l:before,
.fav_category_lower_case_l:before {
    content: "l";
    font-weight: bold;
}

.fav_command_lower_case_m:before,
.fav_category_lower_case_m:before {
    content: "m";
    font-weight: bold;
}

.fav_command_lower_case_n:before,
.fav_category_lower_case_n:before {
    content: "n";
    font-weight: bold;
}

.fav_command_lower_case_o:before,
.fav_category_lower_case_o:before {
    content: "o";
    font-weight: bold;
}

.fav_command_lower_case_p:before,
.fav_category_lower_case_p:before {
    content: "p";
    font-weight: bold;
}

.fav_command_lower_case_q:before,
.fav_category_lower_case_q:before {
    content: "q";
    font-weight: bold;
}

.fav_command_lower_case_r:before,
.fav_category_lower_case_r:before {
    content: "r";
    font-weight: bold;
}

.fav_command_lower_case_s:before,
.fav_category_lower_case_s:before {
    content: "s";
    font-weight: bold;
}

.fav_command_lower_case_t:before,
.fav_category_lower_case_t:before {
    content: "t";
    font-weight: bold;
}

.fav_command_lower_case_u:before,
.fav_category_lower_case_u:before {
    content: "u";
    font-weight: bold;
}

.fav_command_lower_case_v:before,
.fav_category_lower_case_v:before {
    content: "v";
    font-weight: bold;
}

.fav_command_lower_case_w:before,
.fav_category_lower_case_w:before {
    content: "w";
    font-weight: bold;
}

.fav_command_lower_case_x:before,
.fav_category_lower_case_x:before {
    content: "x";
    font-weight: bold;
}

.fav_command_lower_case_y:before,
.fav_category_lower_case_y:before {
    content: "y";
    font-weight: bold;
}

.fav_command_lower_case_z:before,
.fav_category_lower_case_z:before {
    content: "z";
    font-weight: bold;
}

.fav_command_0:before,
.fav_category_0:before {
    content: "0";
    font-weight: bold;
}

.fav_command_1:before,
.fav_category_1:before {
    content: "1";
    font-weight: bold;
}

.fav_command_2:before,
.fav_category_2:before {
    content: "2";
    font-weight: bold;
}

.fav_command_3:before,
.fav_category_3:before {
    content: "3";
    font-weight: bold;
}

.fav_command_4:before,
.fav_category_4:before {
    content: "4";
    font-weight: bold;
}

.fav_command_5:before,
.fav_category_5:before {
    content: "5";
    font-weight: bold;
}

.fav_command_6:before,
.fav_category_6:before {
    content: "6";
    font-weight: bold;
}

.fav_command_7:before ,
.fav_category_7:before {
    content: "7";
    font-weight: bold;
}

.fav_command_8:before,
.fav_category_8:before {
    content: "8";
    font-weight: bold;
}

.fav_command_9:before,
.fav_category_9:before {
    content: "9";
    font-weight: bold;
}

.fav_command_a, .fav_command_b, .fav_command_c,.fav_command_d, .fav_command_e, .fav_command_f,
.fav_command_g, .fav_command_h, .fav_command_i, .fav_command_j,.fav_command_k, .fav_command_l,
.fav_command_m, .fav_command_n, .fav_command_o, .fav_command_p, .fav_command_q, .fav_command_r,
.fav_command_s, .fav_command_t, .fav_command_u, .fav_command_v, .fav_command_w, 
.fav_command_x, .fav_command_y, .fav_command_z, .fav_command_lower_case_a, .fav_command_lower_case_b,
.fav_command_lower_case_c, .fav_command_lower_case_d, .fav_command_lower_case_e, .fav_command_lower_case_f,
.fav_command_lower_case_g, .fav_command_lower_case_h, .fav_command_lower_case_i, .fav_command_lower_case_j,
.fav_command_lower_case_k, .fav_command_lower_case_l, .fav_command_lower_case_m, .fav_command_lower_case_n, 
.fav_command_lower_case_o, .fav_command_lower_case_p, .fav_command_lower_case_q, .fav_command_lower_case_r,
.fav_command_lower_case_s,.fav_command_lower_case_t, .fav_command_lower_case_u, .fav_command_lower_case_v,
.fav_command_lower_case_w, .fav_command_lower_case_x, .fav_command_lower_case_y, .fav_command_lower_case_z, 
.fav_command_0, .fav_command_1, .fav_command_2, .fav_command_3, .fav_command_4, .fav_command_5, 
.fav_command_6, .fav_command_7, .fav_command_8, .fav_command_9 {
    background: url(../images/favorites.png) no-repeat;
    background-size: 10px;
    background-position: bottom right;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Noto Sans", Arial, "Helvetica Neue", Helvetica, lucida, sans-serif;
    min-width: 16px;
}

.fav_category_a, .fav_category_b, .fav_category_c,.fav_category_d, .fav_category_e, .fav_category_f,
.fav_category_g, .fav_category_h, .fav_category_i, .fav_category_j,.fav_category_k, .fav_category_l,
.fav_category_m, .fav_category_n, .fav_category_o, .fav_category_p, .fav_category_q, .fav_category_r,
.fav_category_s, .fav_category_t, .fav_category_u, .fav_category_v, .fav_category_w, 
.fav_category_x, .fav_category_y, .fav_category_z, .fav_category_lower_case_a, .fav_category_lower_case_b,
.fav_category_lower_case_c, .fav_category_lower_case_d, .fav_category_lower_case_e, .fav_category_lower_case_f,
.fav_category_lower_case_g, .fav_category_lower_case_h, .fav_category_lower_case_i, .fav_category_lower_case_j,
.fav_category_lower_case_k, .fav_category_lower_case_l, .fav_category_lower_case_m, .fav_category_lower_case_n, 
.fav_category_lower_case_o, .fav_category_lower_case_p, .fav_category_lower_case_q, .fav_category_lower_case_r,
.fav_category_lower_case_s,.fav_category_lower_case_t, .fav_category_lower_case_u, .fav_category_lower_case_v,
.fav_category_lower_case_w, .fav_category_lower_case_x, .fav_category_lower_case_y, .fav_category_lower_case_z, 
.fav_category_0, .fav_category_1, .fav_category_2, .fav_category_3, .fav_category_4, .fav_category_5, 
.fav_category_6, .fav_category_7, .fav_category_8, .fav_category_9 {
    background: url(../images/favorite_category.png) no-repeat;
    background-position: center;

    min-width: 16px;

    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Noto Sans", Arial, "Helvetica Neue", Helvetica, lucida, sans-serif;
    font-weight: normal;

    /* g2643864: Temporary workaround until theme-able SVG icons are available */
    --mw-font-fill-color: var(--widget-font-color);
    --mw-font-stroke-color: var(--gallery-bg-color);
    color: var(--mw-font-fill-color);
    text-shadow: -1px 1px 5px var(--mw-font-stroke-color),
        1px 1px 5px var(--mw-font-stroke-color),
        1px -1px 5px var(--mw-font-stroke-color),
        -1px -1px 5px var(--mw-font-stroke-color);
}

.toolstrip .qab .fav_category_a, .toolstrip .qab .fav_category_b, .toolstrip .qab .fav_category_c,
.toolstrip .qab .fav_category_d, .toolstrip .qab .fav_category_e, .toolstrip .qab .fav_category_f,
.toolstrip .qab .fav_category_g, .toolstrip .qab .fav_category_h, .toolstrip .qab .fav_category_i,
.toolstrip .qab .fav_category_j, .toolstrip .qab .fav_category_k, .toolstrip .qab .fav_category_l,
.toolstrip .qab .fav_category_m, .toolstrip .qab .fav_category_n, .toolstrip .qab .fav_category_o,
.toolstrip .qab .fav_category_p, .toolstrip .qab .fav_category_q, .toolstrip .qab .fav_category_r,
.toolstrip .qab .fav_category_s, .toolstrip .qab .fav_category_t, .toolstrip .qab .fav_category_u,
.toolstrip .qab .fav_category_v, .toolstrip .qab .fav_category_w, .toolstrip .qab .fav_category_x,
.toolstrip .qab .fav_category_y, .toolstrip .qab .fav_category_z,
.toolstrip .qab .fav_category_lower_case_a, .toolstrip .qab .fav_category_lower_case_b,
.toolstrip .qab .fav_category_lower_case_c, .toolstrip .qab .fav_category_lower_case_d,
.toolstrip .qab .fav_category_lower_case_e, .toolstrip .qab .fav_category_lower_case_f,
.toolstrip .qab .fav_category_lower_case_g, .toolstrip .qab .fav_category_lower_case_h,
.toolstrip .qab .fav_category_lower_case_i, .toolstrip .qab .fav_category_lower_case_j,
.toolstrip .qab .fav_category_lower_case_k, .toolstrip .qab .fav_category_lower_case_l,
.toolstrip .qab .fav_category_lower_case_m, .toolstrip .qab .fav_category_lower_case_n, 
.toolstrip .qab .fav_category_lower_case_o, .toolstrip .qab .fav_category_lower_case_p,
.toolstrip .qab .fav_category_lower_case_q, .toolstrip .qab .fav_category_lower_case_r,
.toolstrip .qab .fav_category_lower_case_s, .toolstrip .qab .fav_category_lower_case_t,
.toolstrip .qab .fav_category_lower_case_u, .toolstrip .qab .fav_category_lower_case_v,
.toolstrip .qab .fav_category_lower_case_w, .toolstrip .qab .fav_category_lower_case_x,
.toolstrip .qab .fav_category_lower_case_y, .toolstrip .qab .fav_category_lower_case_z, 
.toolstrip .qab .fav_category_0, .toolstrip .qab .fav_category_1,
.toolstrip .qab .fav_category_2, .toolstrip .qab .fav_category_3,
.toolstrip .qab .fav_category_4, .toolstrip .qab .fav_category_5, 
.toolstrip .qab .fav_category_6, .toolstrip .qab .fav_category_7,
.toolstrip .qab .fav_category_8, .toolstrip .qab .fav_category_9 {
    --mw-font-fill-color: var(--qab-widget-font-color); /* Use the QAB font color when in the QAB */
    --mw-font-stroke-color: var(--globalTabButton-bg-color);
}

.mwComboBox .fav_category_a, .mwComboBox .fav_category_b,
.mwComboBox .fav_category_c, .mwComboBox .fav_category_d,
.mwComboBox .fav_category_e, .mwComboBox .fav_category_f,
.mwComboBox .fav_category_g, .mwComboBox .fav_category_h,
.mwComboBox .fav_category_i, .mwComboBox .fav_category_j,
.mwComboBox .fav_category_k, .mwComboBox .fav_category_l,
.mwComboBox .fav_category_m, .mwComboBox .fav_category_n,
.mwComboBox .fav_category_o, .mwComboBox .fav_category_p,
.mwComboBox .fav_category_q, .mwComboBox .fav_category_r,
.mwComboBox .fav_category_s, .mwComboBox .fav_category_t,
.mwComboBox .fav_category_u, .mwComboBox .fav_category_v,
.mwComboBox .fav_category_w, .mwComboBox .fav_category_x,
.mwComboBox .fav_category_y, .mwComboBox .fav_category_z,
.mwComboBox .fav_category_lower_case_a, .mwComboBox .fav_category_lower_case_b,
.mwComboBox .fav_category_lower_case_c, .mwComboBox .fav_category_lower_case_d,
.mwComboBox .fav_category_lower_case_e, .mwComboBox .fav_category_lower_case_f,
.mwComboBox .fav_category_lower_case_g, .mwComboBox .fav_category_lower_case_h,
.mwComboBox .fav_category_lower_case_i, .mwComboBox .fav_category_lower_case_j,
.mwComboBox .fav_category_lower_case_k, .mwComboBox .fav_category_lower_case_l,
.mwComboBox .fav_category_lower_case_m, .mwComboBox .fav_category_lower_case_n, 
.mwComboBox .fav_category_lower_case_o, .mwComboBox .fav_category_lower_case_p,
.mwComboBox .fav_category_lower_case_q, .mwComboBox .fav_category_lower_case_r,
.mwComboBox .fav_category_lower_case_s, .mwComboBox .fav_category_lower_case_t,
.mwComboBox .fav_category_lower_case_u, .mwComboBox .fav_category_lower_case_v,
.mwComboBox .fav_category_lower_case_w, .mwComboBox .fav_category_lower_case_x,
.mwComboBox .fav_category_lower_case_y, .mwComboBox .fav_category_lower_case_z, 
.mwComboBoxPopup .fav_category_0, .mwComboBoxPopup .fav_category_1,
.mwComboBoxPopup .fav_category_2, .mwComboBoxPopup .fav_category_3,
.mwComboBoxPopup .fav_category_4, .mwComboBoxPopup .fav_category_5, 
.mwComboBoxPopup .fav_category_6, .mwComboBoxPopup .fav_category_7,
.mwComboBoxPopup .fav_category_8, .mwComboBoxPopup .fav_category_9,
.mwComboBoxPopup .fav_category_a, .mwComboBoxPopup .fav_category_b,
.mwComboBoxPopup .fav_category_c, .mwComboBoxPopup .fav_category_d,
.mwComboBoxPopup .fav_category_e, .mwComboBoxPopup .fav_category_f,
.mwComboBoxPopup .fav_category_g, .mwComboBoxPopup .fav_category_h,
.mwComboBoxPopup .fav_category_i, .mwComboBoxPopup .fav_category_j,
.mwComboBoxPopup .fav_category_k, .mwComboBoxPopup .fav_category_l,
.mwComboBoxPopup .fav_category_m, .mwComboBoxPopup .fav_category_n,
.mwComboBoxPopup .fav_category_o, .mwComboBoxPopup .fav_category_p,
.mwComboBoxPopup .fav_category_q, .mwComboBoxPopup .fav_category_r,
.mwComboBoxPopup .fav_category_s, .mwComboBoxPopup .fav_category_t,
.mwComboBoxPopup .fav_category_u, .mwComboBoxPopup .fav_category_v,
.mwComboBoxPopup .fav_category_w, .mwComboBoxPopup .fav_category_x,
.mwComboBoxPopup .fav_category_y, .mwComboBoxPopup .fav_category_z,
.mwComboBoxPopup .fav_category_lower_case_a, .mwComboBoxPopup .fav_category_lower_case_b,
.mwComboBoxPopup .fav_category_lower_case_c, .mwComboBoxPopup .fav_category_lower_case_d,
.mwComboBoxPopup .fav_category_lower_case_e, .mwComboBoxPopup .fav_category_lower_case_f,
.mwComboBoxPopup .fav_category_lower_case_g, .mwComboBoxPopup .fav_category_lower_case_h,
.mwComboBoxPopup .fav_category_lower_case_i, .mwComboBoxPopup .fav_category_lower_case_j,
.mwComboBoxPopup .fav_category_lower_case_k, .mwComboBoxPopup .fav_category_lower_case_l,
.mwComboBoxPopup .fav_category_lower_case_m, .mwComboBoxPopup .fav_category_lower_case_n, 
.mwComboBoxPopup .fav_category_lower_case_o, .mwComboBoxPopup .fav_category_lower_case_p,
.mwComboBoxPopup .fav_category_lower_case_q, .mwComboBoxPopup .fav_category_lower_case_r,
.mwComboBoxPopup .fav_category_lower_case_s, .mwComboBoxPopup .fav_category_lower_case_t,
.mwComboBoxPopup .fav_category_lower_case_u, .mwComboBoxPopup .fav_category_lower_case_v,
.mwComboBoxPopup .fav_category_lower_case_w, .mwComboBoxPopup .fav_category_lower_case_x,
.mwComboBoxPopup .fav_category_lower_case_y, .mwComboBoxPopup .fav_category_lower_case_z, 
.mwComboBoxPopup .fav_category_0, .mwComboBoxPopup .fav_category_1,
.mwComboBoxPopup .fav_category_2, .mwComboBoxPopup .fav_category_3,
.mwComboBoxPopup .fav_category_4, .mwComboBoxPopup .fav_category_5, 
.mwComboBoxPopup .fav_category_6, .mwComboBoxPopup .fav_category_7,
.mwComboBoxPopup .fav_category_8, .mwComboBoxPopup .fav_category_9 {
    --mw-font-fill-color: var(--mw-color-primary);
    --mw-font-stroke-color: var(--mw-backgroundColor-primary);
}

.mwComboBoxSelectedMenuItem .fav_category_a, .mwComboBoxSelectedMenuItem .fav_category_b,
.mwComboBoxSelectedMenuItem .fav_category_c, .mwComboBoxSelectedMenuItem .fav_category_d,
.mwComboBoxSelectedMenuItem .fav_category_e, .mwComboBoxSelectedMenuItem .fav_category_f,
.mwComboBoxSelectedMenuItem .fav_category_g, .mwComboBoxSelectedMenuItem .fav_category_h,
.mwComboBoxSelectedMenuItem .fav_category_i, .mwComboBoxSelectedMenuItem .fav_category_j,
.mwComboBoxSelectedMenuItem .fav_category_k, .mwComboBoxSelectedMenuItem .fav_category_l,
.mwComboBoxSelectedMenuItem .fav_category_m, .mwComboBoxSelectedMenuItem .fav_category_n,
.mwComboBoxSelectedMenuItem .fav_category_o, .mwComboBoxSelectedMenuItem .fav_category_p,
.mwComboBoxSelectedMenuItem .fav_category_q, .mwComboBoxSelectedMenuItem .fav_category_r,
.mwComboBoxSelectedMenuItem .fav_category_s, .mwComboBoxSelectedMenuItem .fav_category_t,
.mwComboBoxSelectedMenuItem .fav_category_u, .mwComboBoxSelectedMenuItem .fav_category_v,
.mwComboBoxSelectedMenuItem .fav_category_w, .mwComboBoxSelectedMenuItem .fav_category_x,
.mwComboBoxSelectedMenuItem .fav_category_y, .mwComboBoxSelectedMenuItem .fav_category_z,
.mwComboBoxSelectedMenuItem .fav_category_lower_case_a, .mwComboBoxSelectedMenuItem .fav_category_lower_case_b,
.mwComboBoxSelectedMenuItem .fav_category_lower_case_c, .mwComboBoxSelectedMenuItem .fav_category_lower_case_d,
.mwComboBoxSelectedMenuItem .fav_category_lower_case_e, .mwComboBoxSelectedMenuItem .fav_category_lower_case_f,
.mwComboBoxSelectedMenuItem .fav_category_lower_case_g, .mwComboBoxSelectedMenuItem .fav_category_lower_case_h,
.mwComboBoxSelectedMenuItem .fav_category_lower_case_i, .mwComboBoxSelectedMenuItem .fav_category_lower_case_j,
.mwComboBoxSelectedMenuItem .fav_category_lower_case_k, .mwComboBoxSelectedMenuItem .fav_category_lower_case_l,
.mwComboBoxSelectedMenuItem .fav_category_lower_case_m, .mwComboBoxSelectedMenuItem .fav_category_lower_case_n, 
.mwComboBoxSelectedMenuItem .fav_category_lower_case_o, .mwComboBoxSelectedMenuItem .fav_category_lower_case_p,
.mwComboBoxSelectedMenuItem .fav_category_lower_case_q, .mwComboBoxSelectedMenuItem .fav_category_lower_case_r,
.mwComboBoxSelectedMenuItem .fav_category_lower_case_s, .mwComboBoxSelectedMenuItem .fav_category_lower_case_t,
.mwComboBoxSelectedMenuItem .fav_category_lower_case_u, .mwComboBoxSelectedMenuItem .fav_category_lower_case_v,
.mwComboBoxSelectedMenuItem .fav_category_lower_case_w, .mwComboBoxSelectedMenuItem .fav_category_lower_case_x,
.mwComboBoxSelectedMenuItem .fav_category_lower_case_y, .mwComboBoxSelectedMenuItem .fav_category_lower_case_z, 
.mwComboBoxSelectedMenuItem .fav_category_0, .mwComboBoxSelectedMenuItem .fav_category_1,
.mwComboBoxSelectedMenuItem .fav_category_2, .mwComboBoxSelectedMenuItem .fav_category_3,
.mwComboBoxSelectedMenuItem .fav_category_4, .mwComboBoxSelectedMenuItem .fav_category_5, 
.mwComboBoxSelectedMenuItem .fav_category_6, .mwComboBoxSelectedMenuItem .fav_category_7,
.mwComboBoxSelectedMenuItem .fav_category_8, .mwComboBoxSelectedMenuItem .fav_category_9 {
    text-shadow: 0 0 3px var(--mw-font-stroke-color); /* Decrease the intensity of the shadow when selected in the ComboBox */
}
