.mwFavoriteCommandsEditorContents {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 300px; /* [Label, Code, Category] */
    min-width: 500px;
}

/*  g3132477 - Text was too close to the left border  */
.mwFavoriteCode .rtePane .lineNode {
    padding-left: 8px;
}

.dijitPopup .mwWidgetPopup .mwComboBoxPopupParent .mwIconNode {
    flex: 0;
    min-width: 16px;
    padding-right: 5px;
}

.mwMenuItemParent { 
    display: flex;
    flex-direction: row;
}

.mwTextFieldContainerNode .mwIconNode {
    margin-left: 5px;
    padding-right: 2px;
    width: 16px;
    height: 16px;
}


.mwFavoritesEditorCodeContainer {
    flex: 1;
}

.mwFavoritesEditorLayoutRow {
    display: flex;
    flex-direction: row;
}

.mwFavoritesEditorLayoutRow .mwFavoritesEditorLabel {
    align-self: flex-start;
    width: 60px;
}

.mwFavoritesEditorLayoutRow .mwFavoritesEditorControl {
    margin-right: 2px;
    margin-bottom: 10px;
}

.mwFavoritesEditorLayoutRow .mwFavoritesEditorControl.mwFavoritesEditorExpandToFit {
    flex: 1 1 auto;
}

.mwFavoritesEditorLayoutRow .mwFavoritesEditorControl.keyboardTrapLabel {
    color: var(--mw-color-secondary);
}

.mwFavoriteCodeWrapper {
    width: calc(100% - 64px); /* 100% - labelWidth [60px] - borderLeftWidth [1px] - borderRightWidth [1px] - ??? [2px] */
    height: calc(100% - 10px); /* 100% - marginBottom */
    background-color: #FFF;
    border: 1px solid #999;
    display: inline-block;
}

.mwFavoriteCodeWrapper.mwFocused,
.mwFavoriteCodeWrapper.mwFocusedWithin {
    border: 1px solid #09F;
}

.mwFavoriteCode {
    overflow: auto;
}

.mwFavoriteCode .dijitContentPane {
    width: 100% !important;
    height: 100% !important;
}

.mwFavoriteIconButton {
    display: inline-block;
    cursor: default;
    background: #f5f5f5;
    border-color: #a6a6a6;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    font-size: 13px;
    text-align: center;
    height: 20px;
    width: 20px;
    vertical-align: text-bottom;
}

.mwFavoriteIconButton:hover {
    background: #fafafa;
    border-color: #808080;
}

.mwFavoriteIconButton:active {
    background: #e0e0e0;
    border-color: #808080;
    box-shadow: rgba(0, 0, 0, 0.15) 0 1px 0 0 inset;
}

.mwFavoriteIconButton:focus {
    border-color: #09F;
}

.mwFavoriteIconFileChooser {
    display: none;
}

.mwFavoritesEditorLayoutRow .mwCheckBox {
    border: 1px solid rgba(255,255,255,0);
}

.mwFavoritesEditorLayoutRow .mwCheckBox:focus {
    border-color: #09F;
}