<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
    </head>
    <body>
        <p class="SectionNote">
            <form class="Hole">
                <label for="SectionNote">SectionNote</label>
                <input id="SectionNote" value="SectionNote"/>
            </form>
        </p>

        <p class="SectionTitle">
            <form class="Hole">
                <label for="SectionTitle">SectionTitle</label>
                <input id="SectionTitle" value="SectionTitle"/>
            </form>
        </p>

        <form class="Hole">
            <label for="SectionContents">SectionContents</label>
            <input id="SectionContents" value="SectionContents"/>
        </form>
    </body>
</html>
