<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2024 The MathWorks, Inc.-->

<rsccat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0" locale="ko_KR" product="vision" xsi:noNamespaceSchemaLocation="../../resources/schema/msgcat.xsd">
  <message>
    <entry key="minMaxLogNotSupported">이 System Object는 고정소수점 툴을 사용한 최솟값 및 최댓값의 기록을 지원하지 않습니다.</entry>
    <entry key="inOutImgTypesDiffer">출력 데이터형은 Image 입력 데이터형과 동일해야 합니다.</entry>
    <entry key="errROIClipOutNotBool">ROIFlag 및 ClipFlag 출력은 부울 스칼라여야 합니다.</entry>
    <entry key="imgNotMxNOrMxNxP">Image 입력은 M×N 또는 M×N×P 배열이어야 합니다. 여기서 M과 N은 2 이상이어야 합니다.</entry>
    <entry key="tranMatWrongDims">변환 행렬 입력값의 차원이 잘못되었습니다.</entry>
    <entry key="wrongROIDims">ROI 입력값의 차원이 잘못되었습니다.</entry>
    <entry key="outDimsSettingDiffer">출력 차원은 System Object에 지정된 차원과 일치해야 합니다.</entry>
    <entry key="tranMatsROIDiffer">변환 행렬 개수는 ROI 개수와 같아야 합니다.</entry>
    <entry key="fillValueClrPansDiffer">BackgroundFillValue 속성의 요소 개수는 색 평면의 개수와 같아야 합니다.</entry>
    <entry key="transMatrixDimInvalid">TransformMatrix 속성값의 차원이 잘못되었습니다.</entry>
    <entry key="boundBoxROIInvalid">사각형 ROI 값의 차원이 잘못되었습니다.</entry>
    <entry key="verticesPolyInvalid">다각형 ROI 값의 차원이 잘못되었습니다.</entry>
    <entry key="inputsSignMismatch">입력값은 모두 부호가 있거나 모두 부호가 없어야 합니다.</entry>
    <entry key="dimI1NotGTDimI2">OutputSize 속성이 'Valid'로 설정된 경우 첫 번째 입력값의 차원이 두 번째 입력값의 차원보다 커야 합니다.</entry>
    <entry key="backPropI1NotAllow">I1 입력 포트의 차원을 역전파할 수 없습니다.</entry>
    <entry key="backPropI2NotAllow">I2 입력 포트의 차원을 역전파할 수 없습니다.</entry>
    <entry key="inputsRealOutComplex">두 입력값이 모두 실수인 경우 출력값도 실수여야 합니다.</entry>
    <entry key="horVerCompxtyMismatch">수평 계수와 수직 계수는 실수/복소수 여부가 동일해야 합니다.</entry>
    <entry key="vertCoefNotVector">수직 계수 입력값은 벡터여야 합니다.</entry>
    <entry key="horzCoefNotVector">수평 계수 입력값은 벡터여야 합니다.</entry>
    <entry key="pvalNotScalar">채우기 값 입력은 스칼라여야 합니다.</entry>
    <entry key="firPadNotReal">영상 입력값이 실수인 경우 채우기 값도 실수여야 합니다.</entry>
    <entry key="noStatSelected">통계량 중 적어도 하나를 선택해야 합니다.</entry>
    <entry key="statNotBoolean">BlobAnalysis S-Function에 대한 첫 번째 인수 'stats'는 부울이어야 합니다.</entry>
    <entry key="notStatSelected">통계량 중 적어도 하나를 선택해야 합니다.</entry>
    <entry key="statsNotAvailable">MajorAxisLengthOutputPort, MinorAxisLengthOutputPort, OrientationOutputPort 및 EccentricityOutputPort 속성은 고정소수점 데이터형에 적용할 수 없습니다.</entry>
    <entry key="fillValStatMismatch">FillValues 속성값은 스칼라이거나 선택한 통계량의 개수와 같은 개수의 요소를 가진 벡터여야 합니다.</entry>
    <entry key="areaOutWrongDim">Area 출력의 차원은 1×(MaximumCount)여야 합니다.</entry>
    <entry key="centroidOutWrongDim">Centroid 출력의 차원은 2×(MaximumCount)여야 합니다.</entry>
    <entry key="bndBoxOutWrongDim">Bounding box 출력의 차원은 4×(MaximumCount)여야 합니다.</entry>
    <entry key="majAxisOutWrongDim">Major axis 출력의 차원은 1×(MaximumCount)여야 합니다.</entry>
    <entry key="minorAxisOutWrongDim">Minor axis 출력의 차원은 1×(MaximumCount)여야 합니다.</entry>
    <entry key="orientOutWrongDim">Orientation 출력의 차원은 1×(MaximumCount)여야 합니다.</entry>
    <entry key="eccOutWrongDim">Eccentricity 출력의 차원은 1×(MaximumCount)여야 합니다.</entry>
    <entry key="equDiaOutWrongDim">Equivalent diameter squared 출력의 차원은 1×(MaximumCount)여야 합니다.</entry>
    <entry key="extentOutWrongDim">Extent 출력의 차원은 1×(MaximumCount)여야 합니다.</entry>
    <entry key="perimOutWrongDim">Perimeter 출력의 차원은 1×(MaximumCount)여야 합니다.</entry>
    <entry key="areaOutNotInt32">Area 출력 데이터형은 int32형이어야 합니다.</entry>
    <entry key="bndBoxOutNotInt32">Bounding box 출력 데이터형은 int32형이어야 합니다.</entry>
    <entry key="labelOutNotUint32">Label 출력 데이터형은 uint32형이어야 합니다.</entry>
    <entry key="labelOutNotUint16">Label 출력 데이터형은 uint16형이어야 합니다.</entry>
    <entry key="labelOutNotUint8">Label 출력 데이터형은 uint8형이어야 합니다.</entry>
    <entry key="labelOutNotDouble">Label 출력 데이터형은 배정밀도여야 합니다.</entry>
    <entry key="labelOutOntSingle">Label 출력 데이터형은 단정밀도여야 합니다.</entry>
    <entry key="countOutNotUint32">Count 출력 데이터형은 uint32형이어야 합니다.</entry>
    <entry key="countOutNotUint16">Count 출력 데이터형은 uint16형이어야 합니다.</entry>
    <entry key="countOutNotUint8">Count 출력 데이터형은 uint8형이어야 합니다.</entry>
    <entry key="countOutNotDouble">Count 출력 데이터형은 배정밀도여야 합니다.</entry>
    <entry key="countOutOntSingle">Count 출력 데이터형은 단정밀도여야 합니다.</entry>
    <entry key="codeGenNotSupported">이 System Object는 출력값이 부동소수점 데이터형이고 최솟값/최댓값 기록이 활성화되어 있는 경우 코드 생성을 지원하지 않습니다.</entry>
    <entry key="inWidthNotDivTwo">The number of columns of the input image must be divisible by two.</entry>
    <entry key="inHeightNotDivTwo">입력 영상의 행 개수는 2로 나누어져야 합니다.</entry>
    <entry key="inWdHtNotDivTwo">The number of rows and number of columns of the input image must be each be divisible by two.</entry>
    <entry key="inWidthNotDivFour">입력 영상의 열 개수는 4로 나누어져야 합니다.</entry>
    <entry key="outWidthNotDivTwo">출력 영상의 행 개수는 2로 나누어져야 합니다.</entry>
    <entry key="outWdHtNotDivTwo">출력 영상의 행 개수와 열 개수는 각각 2로 나누어져야 합니다.</entry>
    <entry key="outWidthNotDivFour">출력 영상의 열 개수는 4로 나누어져야 합니다.</entry>
    <entry key="outHeightNotDivTwo">출력 영상의 행 개수는 2로 나누어져야 합니다.</entry>
    <entry key="inputNotMxNx3">입력값은 M×N×3 행렬이어야 합니다.</entry>
    <entry key="outputNotMxN">출력값은 M×N 행렬이어야 합니다.</entry>
    <entry key="outputNotMxNx3">출력값은 M×N×3 행렬이어야 합니다.</entry>
    <entry key="clrSpcConvNotSupport">지정된 컬러스페이스 변환은 지원되지 않습니다.</entry>
    <entry key="compositeInputsDimsDiffer">Image 1과 Image 2 입력은 차원 수가 동일해야 합니다.</entry>
    <entry key="compositeInputsWrongDim">Image 1과 Image 2 입력은 세 번째 차원이 동일해야 합니다.</entry>
    <entry key="compositeInOutDimsDiffer">Image 1 입력과 출력은 차원 수가 동일해야 합니다.</entry>
    <entry key="locationWrongDim">Location 입력은 요소를 2개 가진 벡터여야 합니다.</entry>
    <entry key="inOutNotSameFlt">모든 입력값과 출력값은 동일한 부동소수점 데이터형이어야 합니다.</entry>
    <entry key="rowsColsNotGT5">기울기가 수정된 선형 보간을 사용하려면 입력 영상의 행 개수와 열 개수가 모두 5보다 크거나 같아야 합니다.</entry>
    <entry key="rowsColsNotGT3">쌍선형 보간을 사용하려면 입력 영상의 행 개수와 열 개수가 모두 3보다 크거나 같아야 합니다.</entry>
    <entry key="outNotMxNSepClrsSet">출력 영상 신호 형식이 '별도의 색 신호'로 설정된 경우 출력값은 M×N이어야 합니다.</entry>
    <entry key="outNotMxNOneDimSet">출력값은 M×N×3이어야 합니다.</entry>
    <entry key="rgbNotVectOrMat">R, G, B 입력값은 벡터 또는 행렬이어야 합니다.</entry>
    <entry key="dimPropError">mdlSetOutputPortDimensionInfo의 포트 차원 전파 오류입니다.</entry>
    <entry key="imageInDimGT3">Image 입력은 3차원보다 클 수 없습니다.</entry>
    <entry key="thresholdWrongDim">임계값 입력 벡터는 두 개의 요소를 가져야 합니다.</entry>
    <entry key="thresholdNotScalar">임계값 입력값은 스칼라여야 합니다.</entry>
    <entry key="cannyEdgeFixptNotSupport">Method 속성이 'Canny'로 설정된 경우 고정소수점 입력값이 지원되지 않습니다.</entry>
    <entry key="frameSizeWrongElements">OutputSize 속성의 요소 개수는 비디오 성분 개수의 두 배여야 합니다.</entry>
    <entry key="sampleTimeNotRealScalInh">샘플 시간 값은 스칼라 또는 -1(상속됨)이어야 합니다.</entry>
    <entry key="bitsLengthWrong">VideoComponentBits 속성값의 벡터 길이는 비디오 성분 개수와 같아야 합니다.</entry>
    <entry key="bitsNotMult8">BitStreamFormat 속성이 'Planar'로 설정된 경우 VideoComponentBits 속성값 벡터의 각 요소는 8의 배수여야 합니다.</entry>
    <entry key="compOrderWrongSize">VideoComponentOrder 속성값의 요소 개수는 비디오 성분 개수보다 크거나 같아야 합니다.</entry>
    <entry key="compOrderWrongVal">VideoComponentOrder 속성값은 1에서 출력값 개수 사이의 값을 포함해야 합니다.</entry>
    <entry key="compOrderNotUnique">BitStreamFormat 속성이 'Planar'으로 설정된 경우 VideoComponentOrder 속성값은 고유한 요소를 가져야 합니다.</entry>
    <entry key="fourccNotSupported">이 FOURCC(4자 코드)는 지원되지 않습니다.</entry>
    <entry key="neighWindowWrongDim">NeighborhoodSize 속성값의 각 차원은 입력 행렬의 대응 차원보다 작거나 같아야 합니다.</entry>
    <entry key="dtTrueDblsMismatch">고정소수점 툴의 '데이터형 재정의' 파라미터에 대해 'Double'이 선택된 경우 모든 입력값과 출력값의 데이터형은 double형이어야 합니다.</entry>
    <entry key="dtTrueSinglesMismatch">고정소수점 툴의 '데이터형 재정의' 파라미터에 대해 'Single'이 선택된 경우 모든 입력값과 출력값의 데이터형은 single형이어야 합니다.</entry>
    <entry key="indexOutDouble">Index 출력은 다른 모든 입력과 출력이 배정밀도인 경우에만 배정밀도일 수 있습니다.</entry>
    <entry key="indexOutSingle">Index 출력은 다른 모든 입력과 출력이 단정밀도인 경우에만 단정밀도일 수 있습니다.</entry>
    <entry key="countOutDouble">Count 출력은 다른 모든 입력과 출력이 배정밀도인 경우에만 배정밀도일 수 있습니다.</entry>
    <entry key="countOutSingle">Count 출력 데이터형은 모든 입력/출력 데이터형이 single형인 경우에만 single형으로 설정할 수 있습니다.</entry>
    <entry key="inWordLenGT16">입력 워드 길이는 16보다 작거나 같아야 합니다.</entry>
    <entry key="outWordLenGT16">출력 워드 길이는 16보다 작거나 같아야 합니다.</entry>
    <entry key="inDataOutsideRange">입력 데이터가 지정된 범위를 벗어났습니다.</entry>
    <entry key="maxInLTminOut">입력의 최댓값은 입력의 최솟값보다 커야 합니다.</entry>
    <entry key="eMetricFixpPtTypeWrong">CustomEffectivenessMetricDataType 속성값이 사양과 일치하지 않습니다.</entry>
    <entry key="histogramWrongType">Histogram 입력은 부동소수점 또는 내장 정수 데이터형이어야 합니다.</entry>
    <entry key="histogramIsFloat">Image 입력이 부동소수점이 아닌 경우 Histogram 입력이 부동소수점일 수 없습니다.</entry>
    <entry key="histogramNotVector">Histogram 입력은 벡터여야 합니다.</entry>
    <entry key="thetaResWrongVal">ThetaResolution 속성의 값은 0보다 크고 pi/2보다 작아야 합니다.</entry>
    <entry key="houghOutFracLenVariable">CustomHoughOutputDataType 속성값의 소수부 길이는 변수일 수 없습니다.</entry>
    <entry key="houghOutFracLenNotZero">CustomHoughOutputDataType 속성값의 소수부 길이는 0이어야 합니다.</entry>
    <entry key="houghOutWrdLenVariable">CustomHoughOutputDataType 속성값의 워드 길이는 변수일 수 없습니다.</entry>
    <entry key="thetaOutWrdLenVariable">CustomThetaOutputDataType 속성값의 워드 길이는 변수일 수 없습니다.</entry>
    <entry key="thetaOutFracLenVariable">CustomThetaOutputDataType 속성값의 소수부 길이는 변수일 수 없습니다.</entry>
    <entry key="rhoOutWrdLenVariable">CustomRhoDataType 속성값의 워드 길이는 변수일 수 없습니다.</entry>
    <entry key="rhoOutFracLenVariable">CustomRhoDataType 속성값의 소수부 길이는 변수일 수 없습니다.</entry>
    <entry key="houghSampTimeNotDiscrete">System Object가 세타 값 및 로 값을 출력하는 경우 연속 샘플 시간은 지원되지 않습니다.</entry>
    <entry key="rhoResWrongVal">RhoResolution 속성의 값은 0보다 크고 norm(size(BW 입력값))보다 작아야 합니다.</entry>
    <entry key="houghThetaMismatch">Hough 출력의 열 개수는 Theta 출력의 너비와 같아야 합니다.</entry>
    <entry key="rhoDimInconsistent">출력 Rho 차원이 일관되지 않게 설정되었습니다. Rho 출력의 너비는 BW 입력의 차원과 RhoResolution 속성에 따라 달라집니다.</entry>
    <entry key="sineValNotTblLookup">System Object 입력값이 고정소수점 데이터형인 경우 SineComputation 속성을 '테이블 룩업'으로 설정해야 합니다.</entry>
    <entry key="floatLoggingNotAllowed">System Object 입력값이 부동소수점 데이터형인 경우 고정소수점 툴에서 '최솟값, 최댓값 및 오버플로' 및 '데이터형 재정의'는 '로컬 설정 사용'으로 설정할 수 없습니다.</entry>
    <entry key="thetaRhoWrongTypeOrLen">Theta 및 Rho 입력은 워드 길이가 32보다 작거나 같은 동일한 부호 있는 데이터형을 가져야 합니다.</entry>
    <entry key="sineValNotTrigFcn">System Object 입력값이 부동소수점 데이터형인 경우 SineComputation 속성을 '삼각 함수'로 설정해야 합니다.</entry>
    <entry key="sineTblWrdLenGT32">SineTableType 속성의 워드 길이는 32보다 작거나 같아야 합니다.</entry>
    <entry key="thetaRhoWidthsDiffer">Theta 및 Rho 입력은 요소의 개수가 동일해야 합니다.</entry>
    <entry key="thetaRhoNotVectors">Theta 및 Rho 입력은 벡터여야 합니다.</entry>
    <entry key="outputNotUint32">출력 데이터형은 uint32형이어야 합니다.</entry>
    <entry key="outputNotUint16">출력 데이터형은 uint16형이어야 합니다.</entry>
    <entry key="outputNotUint8">출력 데이터형은 uint8형이어야 합니다.</entry>
    <entry key="neighDimsExceedImage">이웃 차원은 입력 영상 차원보다 작아야 합니다.</entry>
    <entry key="setting2Empty">Neighborhood 속성에서 파생된 S-Function의 파라미터 2는 비어 있을 수 없습니다.</entry>
    <entry key="setting2NotBool">Neighborhood 속성에서 파생된 S-Function의 파라미터 2는 부울형이어야 합니다.</entry>
    <entry key="neighNumEleWrong">S-Function의 파라미터 2로 지정된 이웃 요소 개수는 S-Function의 3번째 파라미터로 지정된 이웃 차원 행렬로 기술되는 요소 개수와 일치해야 합니다.</entry>
    <entry key="outputNotUnsigned">출력 데이터형은 부호가 없어야 합니다.</entry>
    <entry key="inputDimsDiffer">모든 입력값은 차원이 동일해야 합니다.</entry>
    <entry key="inImageRowsLE4">Method 속성이 'Lucas-Kanade'로 설정된 경우 입력 영상의 행 개수는 4보다 커야 합니다.</entry>
    <entry key="inImageColsLE4">Method 속성이 'Lucas-Kanade'로 설정된 경우 입력 영상의 열 개수는 4보다 커야 합니다.</entry>
    <entry key="i1I2DimsDiffer">두 입력 영상은 차원이 동일해야 합니다.</entry>
    <entry key="codegenNotSupported">코드 생성은 단정밀도 입력 및 배정밀도 입력에 대해서만 지원됩니다.</entry>
    <entry key="inDimErrorReduce">입력 차원을 확인할 수 없습니다. Operation 속성이 '축소'로 설정된 경우 신호 차원을 역전파할 수 없습니다.</entry>
    <entry key="inDimErrorExpand">입력 차원을 확인할 수 없습니다. Operation 속성이 '확장'으로 설정된 경우 현재 출력 차원이 유효하지 않습니다.</entry>
    <entry key="angleNotScalar">Rotation angle 입력은 스칼라여야 합니다.</entry>
    <entry key="colorValueWrongSize">Color 속성의 크기는 3과 같아야 합니다.</entry>
    <entry key="colorValueWrongMatSize">Color 속성값은 M×3 행렬이어야 합니다. 여기서 M은 문자형 벡터의 개수입니다.</entry>
    <entry key="locationWrongSize">Location 속성값은 요소를 2개 가진 배열 또는 M×2 행렬이어야 합니다. 여기서 M은 문자형 벡터의 개수입니다.</entry>
    <entry key="locationWrongMatSize">Location 속성값은 M×2 행렬이어야 합니다. 여기서 M은 문자형 벡터의 개수입니다.</entry>
    <entry key="imageInOutDimMismatch">영상의 입력 차원과 출력 차원은 일치해야 합니다.</entry>
    <entry key="selectNotScalar">텍스트 문자형 벡터 선택 입력인 Select는 스칼라여야 합니다.</entry>
    <entry key="locInWrongSize">Location 입력은 요소를 2개 가진 벡터이거나 2×N 행렬이어야 합니다. 여기서 N은 문자형 벡터의 개수입니다.</entry>
    <entry key="locInWrongMatSize">Location 입력은 M×2 행렬이어야 합니다. 여기서 M은 문자형 벡터의 개수입니다.</entry>
    <entry key="colorInWrongDim">Color 입력은 스칼라 또는 요소를 N개 가진 벡터여야 합니다. 여기서 N은 문자형 벡터의 개수입니다.</entry>
    <entry key="variablesInNotVector">변환 사양이 {0}인 경우 Variables 입력은 벡터여야 합니다.</entry>
    <entry key="variablesInNotScalar">Variables 입력은 스칼라여야 합니다.</entry>
    <entry key="variablesWrongLength">Text 속성의 최대 변환 사양 개수는 1 또는 Variables 입력의 길이와 같아야 합니다.</entry>
    <entry key="variablesWrongMatSize">Text 속성의 최대 변환 사양 개수는 1 또는 Variables 입력의 행 개수와 같아야 합니다.</entry>
    <entry key="opacityWrongDim">Opacity 입력은 스칼라 또는 1×N 벡터여야 합니다. 여기서 N은 문자형 벡터의 개수입니다.</entry>
    <entry key="opacityWrongType">Image 입력이 부동소수점 데이터형인 경우 Opacity 입력은 동일한 부동소수점 데이터형이어야 합니다.</entry>
    <entry key="opacityWrongFixptType">Image 입력이 정수 또는 고정소수점 데이터형인 경우 Opacity 입력은 워드 길이가 8이고 소수부 길이가 7인 부호 없는 fi 객체여야 합니다.</entry>
    <entry key="convLetterNotSupport">Text 속성에 지정된 변환 문자는 지원되지 않습니다.</entry>
    <entry key="locClrInColumnMismatch">Location 입력과 Color 입력은 행 개수가 같아야 합니다.</entry>
    <entry key="opacityLocWrongWidth">Opacity 입력의 길이는 Location 행렬의 행 개수와 동일해야 합니다.</entry>
    <entry key="opacityClrwrongWidth">Opacity 입력의 길이는 Color 행렬의 행 개수와 동일해야 합니다.</entry>
    <entry key="variablesWrongColWidth">Variables 입력의 행 개수는 Location 입력의 행 개수, Color 입력의 행 개수, Opacity 입력의 길이 중 가장 큰 것보다 클 수 없습니다.</entry>
    <entry key="backgroundWrongDim">BackgroundFillValue 속성값은 스칼라이거나 입력 영상의 세 번째 차원과 길이가 같아야 합니다.</entry>
    <entry key="firstInputWrongDim">첫 번째 입력값의 차원은 M×N 또는 M×N×P여야 합니다.</entry>
    <entry key="offsetWrongSize">Offset 입력은 요소를 2개 가진 벡터여야 합니다.</entry>
    <entry key="outDimNotMxNOrMxNxP">출력값의 차원은 M×N 또는 M×N×P여야 합니다.</entry>
    <entry key="invalidOutDim">출력값의 차원이 유효하지 않습니다.</entry>
    <entry key="videoOutNotSupported">비디오 출력은 Windows 및 Linux 플랫폼에서 지원됩니다.</entry>
    <entry key="novipToVideoDisplayPanel">MATLAB 파일 matlabroot/toolbox/vision/vision/vipToVideoDisplayPanel.m을 호출하는 중 오류가 발생했습니다. 파일이 제거되었거나 이름이 바뀌었을 수 있습니다.</entry>
    <entry key="statNotVector">BlobAnalysis S-Function의 첫 번째 인수 'stats'는 요소를 {0, number, integer}개 가진 벡터여야 합니다.</entry>
    <entry key="ceontroidOutWrongType">Centroid 출력 데이터형은 System Object에 지정된 데이터형과 일치해야 합니다.</entry>
    <entry key="majAxisOutWrongType">Major axis 출력 데이터형은 System Object에 지정된 데이터형과 일치해야 합니다.</entry>
    <entry key="minorAxisOutWrongType">Minor axis 출력 데이터형은 System Object에 지정된 데이터형과 일치해야 합니다.</entry>
    <entry key="orientOutWrongType">Orientation 출력 데이터형은 System Object에 지정된 데이터형과 일치해야 합니다.</entry>
    <entry key="eccOutWrongType">Eccentricity 출력 데이터형은 System Object에 지정된 데이터형과 일치해야 합니다.</entry>
    <entry key="equDiaOutWrongType">Equivalent diameter squared 출력 데이터형은 System Object에 지정된 데이터형과 일치해야 합니다.</entry>
    <entry key="extentOutWrongType">Extent 출력 데이터형은 System Object에 지정된 데이터형과 일치해야 합니다.</entry>
    <entry key="perimOutWrongType">Perimeter 출력 데이터형은 System Object에 지정된 데이터형과 일치해야 합니다.</entry>
    <entry key="clrConvUnsupDataType">RGB에서 YCbCr로, YCbCr에서 RGB로, RGB에서 명암으로의 변환은 배정밀도, 단정밀도 및 uint8 데이터형을 지원합니다. 다른 변환은 배정밀도 및 단정밀도 데이터형을 지원합니다.</entry>
    <entry key="inputDimScalarOrVector">{0, number, integer}번째 입력값은 두 개 이상의 차원을 가져야 합니다.</entry>
    <entry key="inputDimsWrong">입력 차원은 최소 {0, number, integer}×{1, number, integer}이어야 합니다.</entry>
    <entry key="highThreshTooSmall">Threshold 속성값의 두 번째 요소는 첫 번째 요소보다 커야 합니다.</entry>
    <entry key="numInputNotScalar">세 번째 입력값인 NUM은 스칼라여야 합니다.</entry>
    <entry key="inlierOutNotVector">두 번째 출력값인 INLIER는 벡터여야 합니다.</entry>
    <entry key="videoFileOpenError">입력 비디오 파일 {0}을(를) 열 수 없습니다.</entry>
    <entry key="maxNumBlobsExceededMrkZero">찾은 객체 개수가 지정된 최대 블롭 개수를 초과했습니다. 출력 레이블 행렬의 나머지 영역은 0(배경) 값을 사용하여 표시됩니다.</entry>
    <entry key="invalidRandomSamples">유효한 임의 샘플을 찾을 수 없습니다. Num 입력의 점 개수를 늘리십시오.</entry>
    <entry key="invalidPtsNum">세 번째 입력값인 NUM은 {0, number, integer}과(와) {1, number, integer} 사이(구간의 끝점 포함)여야 합니다.</entry>
    <entry key="inputValsExceedRange1">적어도 하나의 값이 입력 데이터 범위 [{0, number, integer}, {1, number, integer}]을(를) 초과했습니다.</entry>
    <entry key="frameRateSetToOne">비디오 디스플레이 프레임 속도가 1fps보다 느린 속도로 설정되었습니다. 이로 인해 사용자 입력에 대한 반응 속도가 저하될 수 있습니다.</entry>
    <entry key="outDataTypesNotDbl">출력 데이터형은 배정밀도여야 합니다.</entry>
    <entry key="outDataTypesNotSingle">출력 데이터형은 단정밀도여야 합니다.</entry>
    <entry key="inImageWrongDim">The Image input must have three or fewer dimensions.</entry>
    <entry key="inputIWrongDim">Image 입력은 2차원 이하여야 합니다.</entry>
    <entry key="rgbInWrongDims">R, G, B 입력값은 2차원 이하여야 합니다.</entry>
    <entry key="cirInWrongDim">테두리 또는 채우기 색 입력값은 2차원 이하여야 합니다.</entry>
    <entry key="outImageWrongDim">Image 출력은 3차원 이하여야 합니다.</entry>
    <entry key="outputIWrongDim">Image 출력은 2차원 이하여야 합니다.</entry>
    <entry key="rgbOutWrongDims">R, G, B 출력값은 2차원 이하여야 합니다.</entry>
    <entry key="rhoOutWidthWrong">Rho 출력의 너비는 Hough 출력의 행 개수와 같아야 합니다.</entry>
    <entry key="thetaOutWidthWrong">Theta 출력의 너비는 Hough 출력의 열 개수와 같아야 합니다.</entry>
    <entry key="overlapRowsWrong">Overlap 속성의 행 개수는 블록의 높이보다 작은 값을 가진 음이 아닌 정수여야 합니다.</entry>
    <entry key="overlapColsWrong">Overlap 속성의 열 개수는 블록의 너비보다 작은 값을 가진 음이 아닌 정수여야 합니다.</entry>
    <entry key="blockHeightWrong">블록의 높이는 영상 입력값의 행 개수보다 작거나 같아야 합니다.</entry>
    <entry key="blockWidthWrong">블록의 너비는 영상 입력값의 열 개수보다 작거나 같아야 합니다.</entry>
    <entry key="pixelUpperLimitWrong">입력 픽셀 범위의 상한은 하한보다 커야 합니다.</entry>
    <entry key="settingNotPositive">{0} 속성값은 양수여야 합니다.</entry>
    <entry key="sumPixSatTooBig">PixelSaturationPercentage 속성값의 합은 100보다 작아야 합니다.</entry>
    <entry key="bitsNotMultiple8">VideoComponentBits 속성값은 8의 배수여야 합니다.</entry>
    <entry key="compOrderForPackedWrong">BitStreamFormat 속성이 'Packed'로 설정된 경우 VideoComponentOrder 속성의 요소 개수는 성분 개수보다 크거나 같아야 합니다.</entry>
    <entry key="compOrderForPlanarWrong">BitStreamFormat 속성이 'Planar'로 설정된 경우 VideoComponentOrder 속성의 요소 개수는 성분 개수와 같아야 합니다.</entry>
    <entry key="dimRatioCompOrderMismatch">입력 차원의 비율이 지정된 성분 순서와 일치하지 않습니다.</entry>
    <entry key="dimRatioFourCCMismatch">입력 차원의 비율이 지정된 FOURCC에 필요한 비율과 일치하지 않습니다.</entry>
    <entry key="bitsExceedInputSize">지정된 비트는 입력 크기보다 작거나 같아야 합니다.</entry>
    <entry key="inputBytesWrong">입력값은 1바이트, 2바이트 또는 4바이트여야 합니다.</entry>
    <entry key="roiVectorWrongSize">ROI 입력은 요소를 4개 가진 벡터여야 합니다.</entry>
    <entry key="outTypeNotSgnCpxMotVec">복소수 모션 벡터의 경우 출력 데이터형은 부호가 있어야 합니다.</entry>
    <entry key="outTypeNotSigMgSqMotVec">크기를 제곱한 모션 벡터의 경우 출력 데이터형은 부호가 없어야 합니다.</entry>
    <entry key="wordLenRangeError">{0} 워드 길이는 {1, number, integer}과(와) 128 사이(구간의 끝점 포함)의 양의 정수여야 합니다.</entry>
    <entry key="normalizeOutNotForFixpt">NormalizeOutput 속성은 부동소수점 입력 데이터형에만 적용됩니다.</entry>
    <entry key="minBlobAreaGTMaxBlobArea">최소 블롭 면적은 최대 블롭 면적보다 작거나 같아야 합니다.</entry>
    <entry key="inputNotFixptSettingFixpt">고정소수점 출력 데이터형을 지정하는 경우 입력값은 고정소수점 데이터형이어야 합니다.</entry>
    <entry key="outDataTypeSettingMismatch">출력 데이터형은 블록 대화 상자에 지정된 출력 데이터형과 일치해야 합니다.</entry>
    <entry key="grayThreshTypesDiffer">입력 영상 I, 출력 임계값 Th 및 출력값 유효성 메트릭 EMetric은 모두 double형, 모두 single형 또는 모두 고정소수점이어야 합니다.</entry>
    <entry key="imageHistTypesDiffer">입력값이 부동소수점인 경우 Image와 Histogram은 데이터형이 동일해야 합니다.</entry>
    <entry key="optFlowOutTypeNotFloat">출력 데이터형은 Horn-Schunck 방법 및 Lucas-Kanade(가우스 도함수) 방법에 대하여 배정밀도 또는 단정밀도여야 합니다.</entry>
    <entry key="fixPtTooLongForCodeGen">코드 생성 시 워드 길이가 최대 16비트인 고정소수점 데이터형이 지원됩니다.</entry>
    <entry key="fixPtWdLenGT32Bits">워드 길이가 최대 32비트인 고정소수점 데이터형이 지원됩니다.</entry>
    <entry key="maxOffsetTooLarge">MaximumOffset 속성에 지정된 값으로 인해 픽셀 개수 INTMAX를 초과하는 출력 영상 차원을 초래할 수 있습니다.</entry>
    <entry key="numColorsChanged">The number of colors in the image cannot be changed.</entry>
    <entry key="videoBandsSzChanged">System Object가 잠겨 있는 경우 비디오 대역 개수를 변경할 수 없습니다.</entry>
    <entry key="compNotInCompOrder">VideoComponentOrder 속성의 값에 NumVideoComponents 속성에서 식별된 각 성분이 포함되어야 합니다.</entry>
    <entry key="smoothFltWronNumElem">SmoothingFilterCoefficients 속성의 요소 개수는 홀수여야 하며 적어도 3이어야 합니다.</entry>
    <entry key="outMetricTooSmall">출력 메트릭 신호의 차원은 {0, number, integer}×{1, number, integer}보다 작을 수 없습니다.</entry>
    <entry key="inDataTypeNotFloatInt8Or16OrFixpt">입력 데이터형은 배정밀도, 단정밀도, 부울, int8, uint8, int16, uint16 또는 워드 길이가 16보다 작거나 같은 고정소수점 데이터형이어야 합니다.</entry>
    <entry key="outDataTypeNotFloatInt8Or16OrFixpt">출력 데이터형은 배정밀도, 단정밀도, 논리형, int8, uint8, int16, uint16 또는 워드 길이가 16보다 작거나 같은 고정소수점 데이터형이어야 합니다.</entry>
    <entry key="imgInOutFltTypesDiffer">Image 입력이 부동소수점 데이터형인 경우 출력은 동일한 데이터형이어야 합니다.</entry>
    <entry key="roiFltTypeImgInNotFlt">ROI 입력이 부동소수점 데이터형인 경우 Image 입력은 부동소수점 데이터형이어야 합니다.</entry>
    <entry key="roiFltTypeOutNotFlt">ROI 입력이 부동소수점 데이터형인 경우 출력은 부동소수점 데이터형이어야 합니다.</entry>
    <entry key="imgInOutTypesDiffer">출력 데이터형과 Image 입력 데이터형은 동일해야 합니다.</entry>
    <entry key="imgInOutSgnsDiffer">출력 데이터형과 Image 입력 데이터형은 부호의 유무가 동일해야 합니다.</entry>
    <entry key="pts1OrPts2TooSmall">The first and second inputs, PTS1 and PTS2, must have at least {0, number, integer} points.</entry>
    <entry key="inlierOutSzTooSmall">Inlier 출력에는 적어도 {0, number, integer}개의 요소가 있어야 합니다.</entry>
    <entry key="vipDrawNotScalar">{0} 입력에는 {1, number, integer}개의 색 평면이 있고 Pts 입력에는 {2, number, integer}개의 형태가 있습니다. {3}은(는) 스칼라여야 합니다.</entry>
    <entry key="vipDrawNotSclOrVec">{0} 입력에는 {1, number, integer}개의 색 평면이 있고 Pts 입력에는 {2, number, integer}개의 형태가 있습니다. {3}은(는) 모든 형태에 대해 하나의 색을 제공하는 스칼라이거나 각 형태에 대해 하나의 색을 제공하는 요소를 {4, number, integer}개 가진 벡터여야 합니다.</entry>
    <entry key="vipDarwNotVector">{0} 입력에는 {1, number, integer}개의 색 평면이 있고 Pts 입력에는 {2, number, integer}개의 형태가 있습니다. {3}은(는) 요소를 {4, number, integer}개 가진 벡터여야 합니다.</entry>
    <entry key="vipDrawNotVecOrMat">{0} 입력에는 {1, number, integer}개의 색 평면이 있고 Pts 입력에는 {2, number, integer}개의 형태가 있습니다. {3}은(는) 모든 형태에 대해 하나의 색을 제공하는 요소를 {4, number, integer}개 가진 벡터이거나 각 형태에 대해 하나의 색을 제공하는 {5, number, integer}×{6, number, integer} 행렬이어야 합니다.</entry>
    <entry key="vipDrawNumClrPlaneNumShape">입력 영상의 색 평면 개수와 Pts 입력의 형태 개수가 일치하지 않습니다.</entry>
    <entry key="opacityNotScalar">Pts 입력에는 1개의 형태가 있습니다. Opacity 속성값은 스칼라여야 합니다.</entry>
    <entry key="opacityNotSclOrVec">Pts 입력에는 {0, number, integer}개의 형태가 있습니다. Opacity 속성값은 모든 형태에 대한 스칼라 값이거나 각 형태에 대해 하나의 값을 제공하는 요소를 {1, number, integer}개 가진 벡터여야 합니다.</entry>
    <entry key="opacityNotSclOrVecForMat">{0}은(는) {1, number, integer}×{2, number, integer} 행렬입니다. Opacity 속성값은 모든 형태에 대한 스칼라 값이거나 각 형태에 대해 하나의 값을 제공하는 요소를 {3, number, integer}개 가진 벡터여야 합니다.</entry>
    <entry key="forNumClrPlanesNotScalar">{0} 입력값에는 {1, number, integer}개의 색 평면이 있습니다. Opacity 속성값에는 {2, number, integer}개의 요소가 있습니다. {3}은(는) 스칼라여야 합니다.</entry>
    <entry key="forNumClrPlanesNotScOrVec">{0} 입력값에는 {1, number, integer}개의 색 평면이 있습니다. Opacity 속성값에는 {2, number, integer}개의 요소가 있습니다. {3}은(는) 모든 형태에 대해 하나의 색을 제공하는 스칼라이거나 각 형태에 대해 하나의 색을 제공하는 요소를 {4, number, integer}개 가진 벡터여야 합니다.</entry>
    <entry key="forNumClrPlanesNotVecOrMat">{0} 입력값에는 {1, number, integer}개의 색 평면이 있습니다. Opacity 속성값에는 {2, number, integer}개의 요소가 있습니다. {3}은(는) 모든 형태에 대해 하나의 색을 제공하는 요소를 {4, number, integer}개 가진 벡터이거나 각 형태에 대해 하나의 색을 제공하는 {5, number, integer}×{6, number, integer} 행렬이어야 합니다.</entry>
    <entry key="img2SettingDimMismatch">{0} 속성이 행렬인 경우 차원은 Image2 입력의 차원과 일치해야 합니다.</entry>
    <entry key="img2SignalDimMismatch">{0} 신호가 행렬인 경우 차원은 Image2 입력의 차원과 일치해야 합니다.</entry>
    <entry key="inputNotVectOrMat">{0} 입력값은 벡터 또는 행렬이어야 합니다.</entry>
    <entry key="outputOneDim">{0, number, integer}번 출력값은 두 개 이상의 차원을 가져야 합니다.</entry>
    <entry key="strSettingEmpty">{0, number, integer}번 속성은 비어 있지 않은 문자형 벡터여야 합니다.</entry>
    <entry key="numClrEleNotMult">Color 입력의 요소 개수는 {0, number, integer}의 배수여야 합니다.</entry>
    <entry key="clrNotNStrings">Color 입력 또는 Color 속성값은 요소를 {0, number, integer}개 가진 벡터 또는 M×{1, number, integer} 행렬이어야 합니다. 여기서 M은 문자형 벡터의 개수입니다.</entry>
    <entry key="clrLenNotColsLoc">Color 속성의 길이는 Location 행렬의 점 개수와 같아야 합니다.</entry>
    <entry key="rgbSizesDiffer">R, G, B 입력값은 크기가 같아야 합니다.</entry>
    <entry key="backPropDimsFailed">출력 차원을 기반으로 입력 차원을 확인할 수 없습니다.</entry>
    <entry key="inputIDimsNotGTTemp">I 입력의 모든 차원은 Template 입력의 모든 차원보다 크거나 같아야 합니다.</entry>
    <entry key="inputsBothNotFloat">{0} 입력값이 부동소수점인 경우 {1} 입력값도 부동 소수점이어야 합니다.</entry>
    <entry key="inputsBothNotBool">When the {0} input is logical, the {1} input must also be logical.</entry>
    <entry key="outDataTypWrongInBool">입력값이 부울인 경우 OutputDataType 속성을 '첫 번째 입력과 동일'로 설정할 수 없습니다.</entry>
    <entry key="accDataTypWrongInBool">입력값이 논리형인 경우 AccumulatorDataType을 '첫 번째 입력과 동일'로 설정할 수 없습니다.</entry>
    <entry key="dimIOrTempNotSet">출력 차원을 확인할 수 없습니다. I 입력의 차원과 Template 입력의 차원을 설정해야 합니다.</entry>
    <entry key="numObjsExceedsDataMrkZero">찾은 객체 개수가 출력 데이터 범위를 초과합니다. 나머지 영역은 0(배경) 값을 사용하여 표시됩니다.</entry>
    <entry key="numObjsExceedsDataMrkMax">찾은 객체 개수가 출력 데이터 범위를 초과합니다. 나머지 영역은 출력 데이터형의 최댓값을 사용하여 표시됩니다.</entry>
    <entry key="forClrPlanesNotVecMat">{0} 입력값에는 {1, number, integer}개의 색 평면이 있습니다. {2}은(는) 요소를 {3, number, integer}개 가진 벡터 또는 {4, number, integer}×N 행렬이어야 합니다.</entry>
    <entry key="outputDimsTooSmall">출력 차원은 최소 {0, number, integer}×{1, number, integer}이어야 합니다.</entry>
    <entry key="gradSettingFixPtMismatch">역전파된 기울기의 고정소수점 데이터형 특성은 System Object의 사양과 일치해야 합니다.</entry>
    <entry key="freeTypeInitFailed">FreeType 라이브러리를 초기화하지 못했습니다({0}).</entry>
    <entry key="fontFormatUnsupport">FreeType 라이브러리에서 지원하지 않는 글꼴 파일 형식입니다.</entry>
    <entry key="fontSizeUnsupport">FreeType 라이브러리에서 지원하지 않는 글꼴 파일 크기입니다.</entry>
    <entry key="inputsDataTypeMismatch">{0} 입력값이 {1} 데이터형인 경우 {2} 입력값은 {3} 데이터형이어야 합니다.</entry>
    <entry key="inptOutptDataTypeMismatch">{0} 입력값이 {1} 데이터형인 경우 출력값은 {2} 데이터형이어야 합니다.</entry>
    <entry key="outptInptDataTypeMismatch">출력값이 {0} 데이터형인 경우 {1} 입력값은 {2} 데이터형이어야 합니다.</entry>
    <entry key="fontLoadFailure">FreeType 라이브러리 글꼴 파일을 불러올 수 없습니다({0}).</entry>
    <entry key="fontPartialLoadFailure">FreeType 라이브러리가 모든 문자({0})에 대한 글꼴 비트맵을 불러올 수 없습니다.</entry>
    <entry key="numClrPlanesChanged">System Object가 잠겨 있는 경우 영상의 색 평면 개수를 변경할 수 없습니다. 색 평면의 개수는 영상 입력의 세 번째 차원입니다.</entry>
    <entry key="rowsColsOutZero">출력값의 행 개수와 열 개수는 0일 수 없습니다. ResizeFactor 속성의 값을 높여 보십시오.</entry>
    <entry key="pts1AndPts2SizesDiffer">첫 번째 입력값 PTS1과 두 번째 입력값 PTS2는 크기가 같아야 합니다.</entry>
    <entry key="allowVarSizeNotSelected">입력값은 고정 크기 신호여야 합니다.</entry>
    <entry key="imageAndTFormSameType">Image 입력과 TForm 입력은 데이터형이 같아야 합니다.</entry>
    <entry key="imageTFormAndROISameType">ROI 입력이 부동소수점 데이터형인 경우 Image 입력, TForm 입력 및 ROI 입력은 데이터형이 같아야 합니다.</entry>
    <entry key="imgSmallerThanBlkSize">Image 입력의 각 차원 크기는 '블록 크기' 파라미터로 지정된 대응 차원보다 크거나 같아야 합니다.</entry>
    <entry key="transToInfinity">입력 영상의 일부가 무한대의 위치로 변환되었습니다. 영상의 어떤 부분도 무한대로 변환하지 않는 변환 행렬만 지원됩니다.</entry>
    <entry key="iterCountNotSame">블록이 전체 입력값을 순회하기 위해 계산된 스텝 수는 모든 입력값에 대해 동일해야 합니다. 필요에 따라 입력의 크기를 조정하거나 블록 크기와 중첩 크기를 수정하십시오.</entry>
    <entry key="wbfMinInputSize">최소 입력 행 개수는 {0, number, integer}개여야 하고, 최소 입력 열 개수는 {1, number, integer}개여야 합니다.</entry>
    <entry key="opacityFactorLT0GT1">The opacity factor must be between 0 and 1, inclusive.</entry>
    <entry key="angleInfOrNaN">Angle 입력은 Inf 또는 NaN일 수 없습니다.</entry>
    <entry key="videoFileOpenForWriteError">비디오 파일 {0}을(를) 열어서 쓸 수 없습니다.</entry>
    <entry key="allInportsScDoubles">입력 데이터형이 스케일링된 double형이면 모든 입력 데이터형이 스케일링된 double형이어야 합니다.</entry>
    <entry key="inputScDblOutputDblScDblBool">입력 데이터형이 스케일링된 double형이면 출력 데이터형은 부울, double형 또는 스케일링된 double형이어야 합니다.</entry>
    <entry key="outputScDblInputDblScDblBool">출력 데이터형이 스케일링된 double형이면 입력 데이터형은 부울, double형 또는 스케일링된 double형이어야 합니다.</entry>
    <entry key="rgbCurInputDimsWrong">모든 입력값은 현재 차원이 동일해야 합니다.</entry>
    <entry key="varSizeNotSupportedAutomaticMode">OutputDataType 속성이 '자동'으로 설정된 경우 가변 크기 입력 신호가 지원되지 않습니다.</entry>
    <entry key="numPlanesNot3for3dInput">입력값이 3차원 배열인 경우 입력 평면의 개수는 3개여야 합니다.</entry>
    <entry key="rhoThetaOutportForVarS">입력값이 가변 크기 데이터인 경우 ThetaRhoOutputPort 속성을 false로 설정해야 합니다.</entry>
    <entry key="pts1Pts2NotMx2">첫 번째 입력값 PTS1과 두 번째 입력값 PTS2는 M×2 행렬이어야 합니다.</entry>
    <entry key="polyLnPtsInWrongDim">The Points input must be an M-by-2L matrix. Each row specifies a different polyline with points connected in consecutive order, and is of the form [x1 y1 x2 y2 ... xL yL].</entry>
    <entry key="polygonPtsInWrongDim">Points 입력은 M×2L 행렬이어야 합니다. 각 행은 연속적인 순서로 연결된 점이 있는 다른 다각형을 지정하며 [x1 y1 x2 y2 ... xL yL] 형식입니다.</entry>
    <entry key="cirPtsInWrongDim">Points 입력은 M×3 행렬이어야 합니다. 각 행은 서로 다른 원을 지정하며 [x y radius] 형식입니다.</entry>
    <entry key="cntrPtsInWrongDim">The Points input must be an M-by-2 matrix. Each row specifies a different center and is of the form [x y].</entry>
    <entry key="ptsInputInvalidSize">Pts 입력 크기가 유효하지 않습니다.</entry>
    <entry key="roiInWrongDim">The ROI input must be a four-element vector and of the form [x y width height].</entry>
    <entry key="forDrawPtsDimsWrong">Pts 입력에는 {0, number, integer}개의 형태가 있습니다. {1}은(는) 요소를 {2, number, integer}개 가진 벡터 또는 {3, number, integer}×N 행렬이어야 합니다.</entry>
    <entry key="shearInfOrNaN">전단 값은 Inf 또는 NaN일 수 없습니다.</entry>
    <entry key="offsetInfOrNaN">오프셋 값은 Inf 또는 NaN일 수 없습니다.</entry>
    <entry key="roiInfOrNaN">ROI 값은 Inf 또는 NaN일 수 없습니다.</entry>
    <entry key="locationInfOrNaN">Location 값은 Inf 또는 NaN일 수 없습니다.</entry>
    <entry key="startPtsWrongSize">Start points 입력은 요소를 2개 가진 벡터여야 합니다.</entry>
    <entry key="maxNumBlobsExceeded">찾은 객체 개수가 지정된 최대 블롭 개수를 초과했습니다.</entry>
    <entry key="inputNotMxN">입력값은 M×N 행렬이어야 합니다.</entry>
    <entry key="mapBlkLineWidth">선 너비</entry>
    <entry key="image2OutsideImage1">Image 2 입력값이 Image 1 입력값의 경계 밖에 있습니다.</entry>
    <entry key="inputValsExceedRange">적어도 하나의 값이 입력 데이터 범위를 초과했습니다.</entry>
    <entry key="rectPtsInWrongDim">Points 입력은 4×N 행렬이어야 합니다. 각 열은 서로 다른 사각형을 지정하며 [row column height width] 형식입니다.</entry>
    <entry key="outColsNotFour">출력값에는 4개의 열이 있어야 합니다.</entry>
    <entry key="thetaRhoAndOutDimsDiffer2">Theta 및 Rho 입력의 열 개수는 출력값의 행 개수와 같아야 합니다.</entry>
    <entry key="fixptVarSize">가변 크기 입력값을 처리하려면 영상이 double형 또는 single형이어야 합니다.</entry>
    <entry key="invalidFileExtFileFormat">파일 확장자와 파일 형식이 일치하지 않습니다.</entry>
    <entry key="hwBitsPerCharNot8">구성 파라미터 대화 상자의 [하드웨어 구현] 창에서 "char"은 8비트로 정의되어야 합니다.</entry>
    <entry key="imageInportMinSizeTwo">Image 입력 차원은 'Valid' 출력 크기에 대해 최소 2×2여야 합니다.</entry>
    <entry key="numInputsGreaterThanOne">입력값 개수는 1보다 크거나 같은 정수여야 합니다.</entry>
    <entry key="paramScalarInteger">[기록할 마지막 데이터 점 개수:] 파라미터는 1보다 크거나 같은 정수 스칼라여야 합니다.</entry>
    <entry key="paramGreaterThanOne">[기록할 마지막 데이터 점 개수:] 파라미터는 1보다 크거나 같은 정수여야 합니다.</entry>
    <entry key="decimationFactorGrThanOne">데시메이션 인자는 1보다 크거나 같은 정수여야 합니다.</entry>
    <entry key="invalidVariableName">유효하지 않은 MATLAB 변수 이름이 지정되었습니다.</entry>
    <entry key="fixedPointNotSupported">이 고정소수점 워드 길이는 지원되지 않습니다.</entry>
    <entry key="memoryAllocError">메모리 할당 오류입니다.</entry>
    <entry key="memoryAllocFailed">메모리 할당에 실패했습니다.</entry>
    <entry key="couldNotCreateVarWS">MATLAB 작업 공간에서 변수를 만들 수 없습니다.</entry>
    <entry key="when3DInput">입력값이 3차원인 경우 '입력 개수' 파라미터는 1이어야 합니다</entry>
    <entry key="signal3Dor4D">신호는 3차원 또는 4차원이어야 합니다.</entry>
    <entry key="invalidMovieStructure">유효하지 않은 동영상 구조체 형식이 지정되었습니다. cdata 필드를 찾을 수 없습니다.</entry>
    <entry key="colormapDataNotSupported">컬러맵 데이터는 이 블록에서 지원되지 않습니다.</entry>
    <entry key="dataTypeNotSupported">지정된 신호의 데이터형이 지원되지 않습니다.</entry>
    <entry key="sampleMustBePositiveScalar">샘플 시간은 양의 스칼라 또는 -1이어야 합니다.</entry>
    <entry key="onlySupports32CG">코드 생성 시 이 블록은 워드 길이가 32비트 이하인 고정소수점 데이터형만 지원합니다.</entry>
    <entry key="errorFixedDTReg">고정소수점 데이터형 등록 중 오류가 발생했습니다.</entry>
    <entry key="scaledDoubleNotSupported">스케일링된 double 데이터형은 지원되지 않습니다.</entry>
    <entry key="backgroundFillScalar">배경 채우기 값은 스칼라이거나 입력 영상의 세 번째 차원과 길이가 같아야 합니다</entry>
    <entry key="runTimeAllocFailed">런타임 파라미터 할당 실패</entry>
    <entry key="vectorShearValInput">'전단 값' 입력 포트에는 크기가 2인 벡터가 필요합니다.</entry>
    <entry key="backPropOutSpec">역전파된 출력 포트의 고정소수점 데이터형 특성이 블록 마스크의 사양과 일치하지 않습니다.</entry>
    <entry key="traverseDirection">순회 방향은 1 또는 2여야 합니다.</entry>
    <entry key="needAssignPorts">할당 포트는 0 또는 1이어야 합니다.</entry>
    <entry key="outputOnlyStartVal">인덱스의 출력 전용 시작 값은 0 또는 1이어야 합니다.</entry>
    <entry key="paramTwoElement">파라미터는 2 요소 벡터여야 합니다.</entry>
    <entry key="cellArrayAtleastOne">셀형 배열에 적어도 하나의 요소가 있어야 합니다.</entry>
    <entry key="blockSizeAtleastOne">블록 크기는 각 차원에서 적어도 1이어야 합니다.</entry>
    <entry key="overlapSizeAtleast0">중첩 크기는 각 차원에서 적어도 0이어야 합니다.</entry>
    <entry key="blockSizeGrOverlapSize">블록 크기는 중첩 크기보다 커야 합니다.</entry>
    <entry key="fltptVariablesMayNotBeSupported">Variables 포트에 대한 부동소수점 입력값은 고정소수점 임베디드 타깃에서 지원되지 않을 수 있습니다.</entry>
    <entry key="selectValueOutOfRangeNewCoords">Select 포트에 대한 입력값은 범위 [1, 텍스트 문자열 개수] 내에 있어야 합니다.</entry>
    <entry key="unsupportedTargetDevice">이 함수는 호스트 타깃에 대해서만 코드를 생성합니다. 타깃 하드웨어 장치 유형을 호스트와 일치하도록 설정해야 합니다.</entry>
    <entry key="toVideoDisplayStartWarning">{0}</entry>
    <entry key="toVideoDisplayStartError">{0}</entry>
    <entry key="toVideoDisplayUpdateError">{0}</entry>
  </message>
</rsccat>
