<?xml version="1.0"?>
<!-- Copyright 2021 The MathWorks, Inc. -->
<rsccat version="1.0" locale="en_US" product="login">
  <message>
    <entry key="Close" context="uistring">Close</entry>
    <entry key="Error" context="uistring">Error</entry>
    <entry key="ErrorPersistFailed" context="warning">Unable to save login information.\nYou are currently signed in but you will be prompted to sign in again the next time that you start this application.</entry>
    <entry key="Info" context="uistring">Information</entry>
    <entry key="Warning" context="uistring">Warning</entry>
  </message>
</rsccat>
