/* Copyright 2017-2021 The MathWorks, Inc. */
html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
}

#uiroot {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}