<?xml version="1.0"?>
<!-- Copyright 2018-2020 The MathWorks, Inc. -->
<rsccat version="1.0" locale="en_US" product="nav">
  <message>
    <entry key="InvalidInputScans">The first input is invalid. If it is a cell array, a cell array of lidarScan objects is expected.</entry>
    <entry key="InvalidInputPoses">The second input is invalid. A cell array of finite [x y theta] vectors is expected.</entry>
    <entry key="ScansAndPosesNumMismatch">If both scans and poses are provided as cell arrays, they are expected to have the same number of entries.</entry>
    <entry key="UnrecognizedInput">SLAM map builder cannot parse the supplied input. Start the app with no input arguments.</entry>
    <entry key="ReadBag">Failed to load {0}. </entry>
    <entry key="NoScanTopic">The specified rosbag, {0}, contains no scan topic of type sensor_msgs/LaserScan.</entry>
    <entry key="UseWithROSBags">To import rosbags using ''slamMapBuilder'', ROS Toolbox license is required.</entry>
  </message>
</rsccat>
