body {
  font-size: 10pt;
  font-family: arial, sans-serif;
}

table {
  border-collapse: collapse;
  border: solid 1px var(--mw-borderColor-primary);
  background-color: var(--mw-backgroundColor-primary);
  width: 100%;

  table-layout: fixed;
}

tbody {
  display: table-row-group;
}

th {
  font-weight: bold;
  border: solid 1px var(--mw-borderColor-primary);
  padding: 5px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

tr:hover {
  background-color: var(--mw-backgroundColor-hover);
}

td {
  border: solid 1px var(--mw-borderColor-primary);
  padding: 5px;
  overflow: hidden;
}

td.accordion {
  border: solid 1px var(--mw-borderColor-primary);
  background-color: var(--mw-backgroundColor-input);
  white-space: nowrap;
}

td.accordion button.accordian {
  border: 0;
  background-color: transparent;
  left: 0;
  padding: 0;
  text-align: left;
  width: 15px;
  outline: none;
}

td.accordion a.accordiontext {

  /* color: var(--mw-color-primary); */

  display: inline-block;

  width: calc(100% - 15px);
  max-width: max-content;

  white-space: nowrap;
  font-weight: bold;

  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
}


div.colresizeright {
  /*DEBUG*/
  /* background-color: red; */
  top: 0;
  right: -2px;
  width: 5px;
  cursor: col-resize;
  user-select: none;
  position: absolute;
}

div.colresizeleft {
  /*DEBUG*/
  /* background-color: green; */
  top: 0;
  left: -2px;
  width: 5px;
  cursor: col-resize;
  user-select: none;
  position: absolute;
}

th label {
  vertical-align: middle;
}

th input[type="checkbox"] {
  border: 0;
  width: 13px;
  background-color: transparent;
  vertical-align: middle;
}

input {
  border: 0;
  width: 100%;
  background-color: transparent;
}

input.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="numeric"]:disabled {
  font-style: italic;
}

input[type="text"]:disabled {
  font-style: italic;
}

#nocontent {
  font-size: 20pt;
  font-family: arial, sans-serif;
  font-weight: bold;
  text-align: center;
  width: 100%;

  margin: 0;
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
}