<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2024 The MathWorks, Inc.-->

<rsccat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0" locale="zh_CN" product="Slvnv" xsi:noNamespaceSchemaLocation="../../resources/schema/msgcat.xsd">
  <message>
    <entry key="InvalidNewMapCellArrayNeeded">Invalid new map: need a cell array of character vectors</entry>
    <entry key="InvalidNewMapColumnNeeded">Invalid new map: need 3 columns</entry>
    <entry key="CannotResolve">Unable to resolve {0}</entry>
    <entry key="FileNotExist">文件不存在: {0}</entry>
    <entry key="SelectSlmxForLoad">选择文件以加载可追溯性链接</entry>
    <entry key="SelectSlmxForSave">选择文件以存储可追溯性链接</entry>
  </message>
</rsccat>
