/* Should only be applied during export
It will hide everything other than the editor */
.tabBar {
    display: none;
}

.topTabContentWrapper,
.topTabContentWrapper > div,
#diagram-root,
#diagram-root > div {
    height: 100% !important;
    top: 0 !important;
}