<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2025 The MathWorks, Inc.-->

<rsccat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0" locale="ko_KR" product="Advisor" xsi:noNamespaceSchemaLocation="../../resources/schema/msgcat.xsd">
  <message>
    <entry key="ModelAdvisorTabTitle">모델 어드바이저</entry>
    <entry key="ToolstripSectionHeader_Configure">구성</entry>
    <entry key="ToolstripSectionHeader_Analyze">분석</entry>
    <entry key="ToolstripSectionHeader_View">보기</entry>
    <entry key="ToolstripSectionHeader_Resolve">해결</entry>
    <entry key="ToolstripSectionHeader_Export">내보내기</entry>
    <entry key="ConfigureSection_Btn_Configure_Title">구성</entry>
    <entry key="ConfigureSection_Btn_Configure_Description">구성 파일을 구성합니다</entry>
    <entry key="ConfigureSection_Btn_Settings_Title">설정</entry>
    <entry key="ConfigureSection_Btn_Settings_Description">설정</entry>
    <entry key="AnalyzeSection_Btn_SelectSystem_Title">시스템 선택</entry>
    <entry key="AnalyzeSection_Btn_Run_Title">실행</entry>
    <entry key="AnalyzeSection_Btn_SelectSystem_Description">분석을 실행할 시스템을 선택합니다</entry>
    <entry key="AnalyzeSection_Btn_Run_Description">검사를 실행합니다</entry>
    <entry key="ViewSection_Btn_ViewResults_Title">결과</entry>
    <entry key="ViewSection_Btn_ViewResults_Description">결과 보기</entry>
    <entry key="ViewSection_Btn_UndockMA_Title">어드바이저</entry>
    <entry key="ViewSection_Btn_UndockMA_Description">창에서 모델 어드바이저를 엽니다</entry>
    <entry key="ResolveSection_Btn_Fix_Title">수정</entry>
    <entry key="ResolveSection_Btn_Fix_Description">검사를 수정합니다</entry>
    <entry key="ResolveSection_Btn_Justify_Title">정당화 사유 추가</entry>
    <entry key="ResolveSection_Btn_Justify_Description">검사에 정당화 사유를 추가합니다</entry>
    <entry key="ExportSection_Btn_Export_Title">내보내기</entry>
    <entry key="ExportSection_Btn_Export_Description">결과를 내보냅니다</entry>
    <entry key="ConfigureListItem_SectionHeader_ManageConfiguration">구성 관리</entry>
    <entry key="ConfigureListItem_SectionHeader_RecentlyLoadedConfig">최근에 불러온 구성</entry>
    <entry key="ConfigureListItem_SelectPresetConfig">구성 선택</entry>
    <entry key="ConfigureListItem_SelectPresetConfig_Description">기존 구성에서 선택합니다</entry>
    <entry key="ConfigureListItem_LoadConfig">구성 불러오기</entry>
    <entry key="ConfigureListItem_LoadConfig_Description">기존 구성 불러오기</entry>
    <entry key="ConfigureListItem_MACE">구성 편집기 열기</entry>
    <entry key="ConfigureListItem_MACE_Description">구성 파일을 편집하거나 만듭니다</entry>
    <entry key="ExportListItem_SectionHeader_Format">내보내기 형식</entry>
    <entry key="ExportListItem_SectionHeader_Template">Word/PDF 리포트 형식</entry>
    <entry key="ExportListItem_HTML_Title">HTML</entry>
    <entry key="ExportListItem_HTML_Description">HTML 리포트로 저장합니다</entry>
    <entry key="ExportListItem_PDF_Title">PDF</entry>
    <entry key="ExportListItem_PDF_Description">PDF 리포트로 저장합니다</entry>
    <entry key="ExportListItem_Word_Title">Word</entry>
    <entry key="ExportListItem_Word_Description">Microsoft Word 리포트로 저장합니다</entry>
    <entry key="ExportListItem_Template_Title">템플릿 파일</entry>
    <entry key="ExportListItem_Template_Description">디폴트 값</entry>
    <entry key="PresetConfigListItem_Default">디폴트 값</entry>
    <entry key="PresetConfigListItem_MAB">MAB</entry>
    <entry key="PresetConfigListItem_JMAAB">JMAAB</entry>
    <entry key="PresetConfigListItem_MISRA">MISRA</entry>
    <entry key="PresetConfigListItem_DO">DO 178</entry>
    <entry key="PresetConfigListItem_ISO">ISO 26262</entry>
  </message>
</rsccat>
