@import "variables";


.mwDefaultVisualFamily.mwDropDownButton:not(.mwDisabled) .mwFocusNode:hover,
.mwDefaultVisualFamily.mwSplitButton:not(.mwDisabled) .mwButtonNode:hover,
.mwDefaultVisualFamily.mwSplitButton:not(.mwDisabled) .mwFocusNode:hover,
.mwDefaultVisualFamily.mwToggleSplitButton:not(.mwDisabled) .mwButtonNode:hover,
.mwDefaultVisualFamily.mwToggleSplitButton:not(.mwDisabled) .mwFocusNode:hover {

  background: var(--mw-backgroundColor-hover, $mw-backgroundColor-hover);
}

.mwDefaultVisualFamily.mwDropDownButton:not(.mwDisabled) .mwFocusNode:active,
.mwDefaultVisualFamily.mwDropDownButton.mwHasMenuOpened,
.mwDefaultVisualFamily.mwSplitButton:not(.mwDisabled) .mwButtonNode:active,
.mwDefaultVisualFamily.mwSplitButton.mwHasMenuOpened .mwFocusNode,
.mwDefaultVisualFamily.mwToggleSplitButton:not(.mwDisabled) .mwButtonNode:active,
.mwDefaultVisualFamily.mwToggleSplitButton.mwToggleSplitButtonChecked .mwButtonNode,
.mwDefaultVisualFamily.mwToggleSplitButton.mwHasMenuOpened .mwFocusNode  {

  background: var(--mw-backgroundColor-active, $mw-backgroundColor-active);

  border-color: var(--mw-borderColor-focus, $mw-borderColor-focus);
}
