@import "variables";

/* ListBox in normal state */
.mwDefaultVisualFamily.mwListBox {
    border: 1px solid var(--mw-borderColor-primary, $mw-borderColor-primary);
    background-color: var(--mw-backgroundColor-input, $mw-backgroundColor-input);
}

/* ListBox in hover state */
.mwDefaultVisualFamily.mwListBox.mwListBoxHover {
    border-color: var(--mw-borderColor-hover, $mw-borderColor-hover);
}

/* ListBox item in hover state */
.mwDefaultVisualFamily.mwListBox:not(.mwListBoxDisabled) .mwListItem:not(.mwListItemIOS):hover {
    background: var(--mw-backgroundColor-list-hover, $mw-backgroundColor-list-hover);
    color: var(--mw-color-primary, $mw-color-primary); /* g2384753 */
}

/* List item in active state */
.mwDefaultVisualFamily.mwListBox.mwWidgetFocused .mwListItem.mwListItemSelected {
    background: var(--mw-backgroundColor-selectedFocus, $mw-backgroundColor-selectedFocus);
    color: var(--mw-color-primary, $mw-color-primary); /* g2384753 */
}

/* List item in selected state */
.mwDefaultVisualFamily.mwListBox .mwListItem.mwListItemSelected {
    background: var(--mw-backgroundColor-selected, $mw-backgroundColor-selected);
    color: var(--mw-color-primary, $mw-color-primary); /* g2384753 */
}

/* List box in focused state */
.mwDefaultVisualFamily.mwListBox .mwListItem.mwListItemFocused {
    border: 1px solid var(--mw-borderColor-focus, $mw-borderColor-focus);
}

.mwDefaultVisualFamily.mwListBox.mwHorizontallyScrollable .mwListItem{
    text-overflow: clip;
}