@import "variables";

.mwDefaultVisualFamily.mwSpinner .mwTextField {
  border: 1px solid var(--mw-borderColor-primary, $mw-borderColor-primary);
}

.mwDefaultVisualFamily.mwSpinner .mwButtonsContainer {
  width: 22px;
  display: inline-block;
  height:100%;
  border: 1px solid var(--mw-borderColor-primary, $mw-borderColor-primary);
  border-radius: 0 5px 5px 0;
  box-sizing: border-box;
  // fix for the border gap
  margin-left: 0px;
  border-left: 0;
}

.mwDefaultVisualFamily.mwSpinner .mwIncrementButtonWrapper .mwPushButton,
.mwDefaultVisualFamily.mwSpinner .mwDecrementButtonWrapper .mwPushButton {
  display: flex;
  background: var(--mw-backgroundColor-primary, $mw-borderColor-primary);
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;  
  padding: 0;
}

.mwDefaultVisualFamily.mwSpinner .mwIncrementButtonWrapper,
.mwDefaultVisualFamily.mwSpinner .mwDecrementButtonWrapper {
  height: 50%;
}

.mwDefaultVisualFamily.mwSpinner .mwIncrementButtonWrapper .mwPushButton {
  border-top: 1px solid var(--mw-borderColor-primary, $mw-borderColor-primary);
  border-bottom: none;
  border-radius: 0 5px 0 0;
}

.mwDefaultVisualFamily.mwSpinner .mwDecrementButtonWrapper .mwPushButton {
  border-radius: 0 0 5px 0;
  border-bottom: 1px solid var(--mw-borderColor-primary, $mw-borderColor-primary);
}

.mwDefaultVisualFamily.mwSpinner .mwButtonsContainer .mwIncrementButtonDisabled,
.mwDefaultVisualFamily.mwSpinner .mwButtonsContainer .mwDecrementButtonDisabled {
  opacity: 0.35;
  border: 1px solid var(--mw-borderColor-primary, $mw-borderColor-primary);
}

.mwDefaultVisualFamily.mwSpinner:not(.mwSpinnerDisabled) .mwTextField {
  border: 1px solid var(--mw-borderColor-primary, $mw-borderColor-primary);
}

.mwDefaultVisualFamily.mwSpinner .mwIncrementButtonWrapper .mwPushButton{
  height: 50%;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.mwDefaultVisualFamily.mwSpinner .mwDecrementButtonWrapper .mwPushButton{
  height: 50%;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
}

.mwDefaultVisualFamily.mwSpinner .mwIncrementButtonWrapper .mwAlignmentNode
.mwDefaultVisualFamily.mwSpinner .mwDecrementButtonWrapper .mwAlignmentNode {
  text-align: center;
}

/* ===== Focused ===== */
.mwDefaultVisualFamily.mwSpinnerFocused.mwSpinner:not(.mwSpinnerDisabled) .mwTextField {
  border: 1px solid var(--mw-borderColor-focus, $mw-borderColor-focus);
}

.mwDefaultVisualFamily.mwSpinner.mwSpinnerFocused:not(.mwSpinnerDisabled) .mwButtonsContainer {
  border: 1px solid var(--mw-borderColor-focus, $mw-borderColor-focus);
  // fix for the border gap
  border-left: 0;
}


/* ===== Hover ===== */
.mwDefaultVisualFamily.mwSpinner:not(.mwSpinnerDisabled) .mwTextField:hover {
  border: 1px solid var(--mw-borderColor-hover, $mw-borderColor-hover);
}

.mwDefaultVisualFamily.mwSpinner:not(.mwSpinnerDisabled) .mwDecrementButtonWrapper .mwPushButton.mwPushButtonHover {
  border-top: 1px solid var(--mw-borderColor-primary, #7d7d7d);
}


/* ===== Focused Hover ===== */
.mwDefaultVisualFamily.mwSpinnerFocused.mwSpinner:hover:not(.mwSpinnerDisabled) .mwTextField {
  border: 1px solid var(--mw-borderColor-focus, $mw-borderColor-focus);
}

.mwDefaultVisualFamily.mwSpinnerFocused:not(.mwSpinnerDisabled) .mwDecrementButtonWrapper .mwPushButton.mwPushButtonHover {
  border-top: 1px solid var(--mw-borderColor-focus, $mw-borderColor-focus);
}


/* ===== Error ===== */
.mwDefaultVisualFamily.mwSpinner.mwValidationError:not(.mwSpinnerDisabled),
.mwDefaultVisualFamily.mwSpinner.mwValidationError.mwWidgetHoverFocused:not(.mwSpinnerDisabled) {
  border: none;
}

.mwDefaultVisualFamily.mwSpinner.mwValidationError:not(.mwSpinnerDisabled) .mwTextField {
  border: 1px solid var(--mw-borderColor-error, $mw-borderColor-error);
}

  
.mwDefaultVisualFamily.mwSpinner.mwValidationError:not(.mwSpinnerDisabled) .mwButtonsContainer {
  border: 1px solid var(--mw-borderColor-error, $mw-borderColor-error);
}

/* ===== Error Hover ===== */
.mwDefaultVisualFamily.mwSpinner.mwValidationError:hover:not(.mwSpinnerDisabled) .mwTextField {
  border: 1px solid var(--mw-borderColor-error, $mw-borderColor-error);
}

.mwDefaultVisualFamily.mwSpinner.mwValidationError:not(.mwSpinnerDisabled) .mwButtonsContainer:hover {
  border: 1px solid var(--mw-borderColor-error, $mw-borderColor-error);
}

/* ===== Active ===== */
.mwDefaultVisualFamily.mwSpinnerActiveFocused:not(.mwSpinnerDisabled) .mwButtonsContainer .mwIncrementButtonWrapper:not(.mwIncrementButtonDisabled):active .mwPushButton,
.mwDefaultVisualFamily.mwSpinnerActiveFocused:not(.mwSpinnerDisabled) .mwButtonsContainer .mwDecrementButtonWrapper:not(.mwDecrementButtonDisabled):active .mwPushButton{
  background: var(--mw-backgroundColor-active, $mw-backgroundColor-active);
}

