@import "variables";

/* more styles in Buttons.styl */

/* ToggleButton in toggled state */
.mwDefaultVisualFamily.mwToggleButton.mwToggleButtonChecked {
    background: var(--mw-backgroundColor-toggleOn, $mw-backgroundColor-toggleOn);
    border-color: var(--mw-borderColor-primary, $mw-borderColor-primary);
}
