# -*-conf-*- See http://wiki/gitignore
# Copyright 2021 The MathWorks, Inc.

# Derived files
/product/css/doc_center_base.css
/shared/scripts/*.json
/shared/scripts/helpservices.js
/shared/scripts/saxonjs/

# Ignored by:
# matlab/.gitignore: glnxa64/
!/product/arch/glnxa64/

# Ignored by:
# matlab/.gitignore: maci64/
!/product/arch/maci64/

# Ignored by:
# matlab/.gitignore: win64/
!/product/arch/win64/

# Ignored by:
# matlab/help/customdoc/includes/.gitignore:5: /product/css/doc_center_base.css
!/product/css/doc_center_base.css

# Ignored by:
# matlab/.gitignore:180: release/
!/shared/equationrenderer/release/

# Ignored by:
# matlab/.gitignore:17: derived/
!/shared/equationrenderer/release/derived/

# Ignored by:
# matlab/.gitignore:397: *.rights
!/shared/equationrenderer/release/rights/dijit.rights
!/shared/equationrenderer/release/rights/dojo.rights
!/shared/equationrenderer/release/rights/dojox.rights
!/shared/equationrenderer/release/rights/graphlib.rights
!/shared/equationrenderer/release/rights/lodash.rights
!/shared/equationrenderer/release/rights/put-selector.rights
!/shared/equationrenderer/release/rights/xstyle.rights

# Ignored by:
# matlab/help/customdoc/includes/.gitignore:6: /shared/scripts/*.json
!/shared/scripts/3pdemos-sef.json
!/shared/scripts/3pdemostoc-sef.json
!/shared/scripts/3ptoc-sef.json
!/shared/scripts/above_product_landing-sef.json
!/shared/scripts/exlist-sef.json

# Ignored by:
# matlab/help/customdoc/includes/.gitignore:7: /shared/scripts/helpservices.js
!/shared/scripts/helpservices.js

# Ignored by:
# matlab/help/customdoc/includes/.gitignore:6: /shared/scripts/*.json
!/shared/scripts/product_group-sef.json
!/shared/scripts/reflist-sef.json
!/shared/scripts/releasenotes-sef.json

# Ignored by:
# matlab/help/customdoc/includes/.gitignore:8: /shared/scripts/saxonjs/
!/shared/scripts/saxonjs/

# Ignored by:
# matlab/.gitignore:397: *.rights
!/shared/scripts/saxonjs/saxonjs.rights
