<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2025 The MathWorks, Inc.-->

<rsccat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0" locale="ja_JP" product="Advisor" xsi:noNamespaceSchemaLocation="../../resources/schema/msgcat.xsd">
  <message>
    <entry key="ModelAdvisorTabTitle">モデル アドバイザー</entry>
    <entry key="ToolstripSectionHeader_Configure">構成</entry>
    <entry key="ToolstripSectionHeader_Analyze">解析</entry>
    <entry key="ToolstripSectionHeader_View">ビュー</entry>
    <entry key="ToolstripSectionHeader_Resolve">解決</entry>
    <entry key="ToolstripSectionHeader_Export">エクスポート</entry>
    <entry key="ConfigureSection_Btn_Configure_Title">構成</entry>
    <entry key="ConfigureSection_Btn_Configure_Description">コンフィギュレーション ファイルを構成します</entry>
    <entry key="ConfigureSection_Btn_Settings_Title">設定</entry>
    <entry key="ConfigureSection_Btn_Settings_Description">設定</entry>
    <entry key="AnalyzeSection_Btn_SelectSystem_Title">システムの選択</entry>
    <entry key="AnalyzeSection_Btn_Run_Title">実行</entry>
    <entry key="AnalyzeSection_Btn_SelectSystem_Description">解析を実行するシステムを選択します</entry>
    <entry key="AnalyzeSection_Btn_Run_Description">チェックを実行します</entry>
    <entry key="ViewSection_Btn_ViewResults_Title">結果</entry>
    <entry key="ViewSection_Btn_ViewResults_Description">結果を表示</entry>
    <entry key="ViewSection_Btn_UndockMA_Title">アドバイザー</entry>
    <entry key="ViewSection_Btn_UndockMA_Description">ウィンドウでモデル アドバイザーを開きます</entry>
    <entry key="ResolveSection_Btn_Fix_Title">修正</entry>
    <entry key="ResolveSection_Btn_Fix_Description">チェックを修正します</entry>
    <entry key="ResolveSection_Btn_Justify_Title">正当化</entry>
    <entry key="ResolveSection_Btn_Justify_Description">チェックを正当化します</entry>
    <entry key="ExportSection_Btn_Export_Title">エクスポート</entry>
    <entry key="ExportSection_Btn_Export_Description">結果をエクスポートします</entry>
    <entry key="ConfigureListItem_SectionHeader_ManageConfiguration">構成の管理</entry>
    <entry key="ConfigureListItem_SectionHeader_RecentlyLoadedConfig">最近読み込まれた構成</entry>
    <entry key="ConfigureListItem_SelectPresetConfig">構成の選択</entry>
    <entry key="ConfigureListItem_SelectPresetConfig_Description">既存の構成を選択します</entry>
    <entry key="ConfigureListItem_LoadConfig">構成の読み込み</entry>
    <entry key="ConfigureListItem_LoadConfig_Description">既存の構成の読み込み</entry>
    <entry key="ConfigureListItem_MACE">構成エディターを開く</entry>
    <entry key="ConfigureListItem_MACE_Description">コンフィギュレーション ファイルを編集または作成します</entry>
    <entry key="ExportListItem_SectionHeader_Format">エクスポート形式</entry>
    <entry key="ExportListItem_SectionHeader_Template">Word/PDF レポート形式</entry>
    <entry key="ExportListItem_HTML_Title">HTML</entry>
    <entry key="ExportListItem_HTML_Description">HTML レポートとして保存します</entry>
    <entry key="ExportListItem_PDF_Title">PDF</entry>
    <entry key="ExportListItem_PDF_Description">PDF レポートとして保存します</entry>
    <entry key="ExportListItem_Word_Title">WORD</entry>
    <entry key="ExportListItem_Word_Description">Microsoft Word レポートとして保存します</entry>
    <entry key="ExportListItem_Template_Title">テンプレート ファイル</entry>
    <entry key="ExportListItem_Template_Description">既定</entry>
    <entry key="PresetConfigListItem_Default">既定</entry>
    <entry key="PresetConfigListItem_MAB">MAB</entry>
    <entry key="PresetConfigListItem_JMAAB">JMAAB</entry>
    <entry key="PresetConfigListItem_MISRA">MISRA</entry>
    <entry key="PresetConfigListItem_DO">DO 178</entry>
    <entry key="PresetConfigListItem_ISO">ISO 26262</entry>
  </message>
</rsccat>
