<?xml version="1.0" encoding="UTF-8" ?>
<rsccat version="1.0" locale="en_US" product="Simulink" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../schema/msgcat.xsd">
  <message>
    <entry key="BadSetParamValue">Unable to set value for parameter ''{0}''.</entry>
    <entry key="PluginIDIsSetToBeNeverAttached">Plugin ''{0}'' is set to never be attached.</entry>
    <entry key="IncorrectAttachAndAttachOnOpenSystemSpecified">''{0}'' must not have both the "attach" and "attach_on_open_system" attributes set to "on". If the plugin should load when Simulink or a model loads, set "attach" to "on". If the plugin should load when a model opens, set "attach_on_open_system" to "on".</entry>
    <entry key="NoNestedTransaction">Plugin ''{0}'' has already opened plugin transaction on model ''{1}''. Nested transaction is not supported.</entry>
    <entry key="UnsupportedModelParameterType">Transactional change report does not support reset of parameter ''{0}''.</entry>
    <entry key="FailedToLoadPluginLibraryFile">Unable to load plugin library file ''{0}''.</entry>
    <entry key="FailedToCastJSONFile">Failed to cast JSON expression ''{0}'' to const std::vector in ''{1}''. ''{2}'' must be specified as an array.</entry>
    <entry key="FailedToCastJSONFileGeneral">Failed to cast JSON expression ''{0}'' to const std::vector in ''{1}''.</entry>
    <entry key="PluginNotRegisteredAsService">Plugin ''{0}'' must use declarative service registration. For help, email slarch@groups.mathworks.com.</entry>
	<entry key="UnableToExecuteEvent">Unable to execute MATLAB-based slPlugin event ''{0}''.</entry>
	<entry key="ModelAndEventNamesRequiredAsArguments">Input arguments must be the model name and event name.</entry>
	<entry key="IncorrectNumberOfFunctionInputs">Incorrect number of input arguments.</entry>
	<entry key="BlockTypeReplacementFilterUnexpectedSpec">Unexpected specification in BlockTypeReplacementFilter when parsing manifest.json file for bundle ''{0}''.</entry>
	<entry key="UnableToDisableAlwaysOnPlugin">Unable to disable plugin ''{0}'' because the metadata specifies the plugin as always attached to all models. Use the suspendSignalForAlwaysOnPluginID API instead.</entry>
	<entry key="UnknownPluginID">Unknown plugin ID ''{0}''.</entry>
	<entry key="UnknownParameter">Unable to set value of unknown plugin parameter ''{0}''.</entry>
	<entry key="NoSuchComponent">Unable to find component ''{0}'' in test_simulink_plugins.</entry>
	<entry key="BlockLoadParameterFailure">Failed to load parameter for block ''{0}''. Try re-saving the model.</entry>
	<entry key="DoesNotUseTransactionChangeReport">Plugin ''{0}'' does not use the transaction change report infrastructure.</entry>
  </message>
</rsccat>
