<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2024 The MathWorks, Inc.-->

<rsccat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0" locale="ja_JP" product="vision" xsi:noNamespaceSchemaLocation="../../resources/schema/msgcat.xsd">
  <message>
    <entry key="minMaxLogNotSupported">この System object は固定小数点ツールを使用した最小値と最大値のログをサポートしません。</entry>
    <entry key="inOutImgTypesDiffer">出力データ型は Image の入力データ型と同じでなければなりません。</entry>
    <entry key="errROIClipOutNotBool">ROIFlag 出力および ClipFlag 出力は boolean スカラーでなければなりません。</entry>
    <entry key="imgNotMxNOrMxNxP">Image 入力は M 行 N 列または M x N x P の配列でなければならず、M と N は 2 以上でなければなりません。</entry>
    <entry key="tranMatWrongDims">変換行列入力の次元が正しくありません。</entry>
    <entry key="wrongROIDims">ROI 入力の次元が正しくありません。</entry>
    <entry key="outDimsSettingDiffer">出力次元は System object で指定された次元と一致しなければなりません。</entry>
    <entry key="tranMatsROIDiffer">変換行列の数は ROI の数と等しくなければなりません。</entry>
    <entry key="fillValueClrPansDiffer">BackgroundFillValue プロパティの要素数は色平面の数と等しくなければなりません。</entry>
    <entry key="transMatrixDimInvalid">TransformMatrix プロパティ値の次元が正しくありません。</entry>
    <entry key="boundBoxROIInvalid">四角形 ROI 値の次元が正しくありません。</entry>
    <entry key="verticesPolyInvalid">多角形 ROI 値の次元が正しくありません。</entry>
    <entry key="inputsSignMismatch">入力は共に符号付き、または共に符号なしでなければなりません。</entry>
    <entry key="dimI1NotGTDimI2">OutputSize プロパティが 'Valid' に設定されている場合、1 番目の入力の次元は 2 番目の入力の次元より大きくなければなりません。</entry>
    <entry key="backPropI1NotAllow">I1 入力端子の次元を逆伝播できません。</entry>
    <entry key="backPropI2NotAllow">I2 入力端子の次元を逆伝播できません。</entry>
    <entry key="inputsRealOutComplex">両方の入力が実数の場合、出力は実数でなければなりません。</entry>
    <entry key="horVerCompxtyMismatch">水平係数と垂直係数は共に実数、または共に複素数でなければなりません。</entry>
    <entry key="vertCoefNotVector">垂直係数の入力はベクトルでなければなりません。</entry>
    <entry key="horzCoefNotVector">水平係数の入力はベクトルでなければなりません。</entry>
    <entry key="pvalNotScalar">パディング値入力はスカラーでなければなりません。</entry>
    <entry key="firPadNotReal">イメージ入力が実数の場合、パディング値は実数でなければなりません。</entry>
    <entry key="noStatSelected">統計は少なくとも 1 つ選択されなければなりません。</entry>
    <entry key="statNotBoolean">BlobAnalysis S-Function の最初の引数 'stats' は boolean でなければなりません。</entry>
    <entry key="notStatSelected">統計は少なくとも 1 つ選択されなければなりません。</entry>
    <entry key="statsNotAvailable">MajorAxisLengthOutputPort、MinorAxisLengthOutputPort、OrientationOutputPort および EccentricityOutputPort プロパティは、固定小数点データ型には適用できません。</entry>
    <entry key="fillValStatMismatch">FillValues プロパティ値はスカラーであるか、または選択された統計の数に等しい要素数のベクトルでなければなりません。</entry>
    <entry key="areaOutWrongDim">Area 出力の次元は 1 行 (MaximumCount) 列でなければなりません。</entry>
    <entry key="centroidOutWrongDim">重心出力の次元は 2 行 (MaximumCount) 列でなければなりません。</entry>
    <entry key="bndBoxOutWrongDim">境界ボックス出力の次元は 4 行 (MaximumCount) 列でなければなりません。</entry>
    <entry key="majAxisOutWrongDim">長軸出力の次元は 1 行 (MaximumCount) 列でなければなりません。</entry>
    <entry key="minorAxisOutWrongDim">短軸出力の次元は 1 行 (MaximumCount) 列でなければなりません。</entry>
    <entry key="orientOutWrongDim">方向出力の次元は 1 行 (MaximumCount) 列でなければなりません。</entry>
    <entry key="eccOutWrongDim">離心率出力の次元は 1 行 (MaximumCount) 列でなければなりません。</entry>
    <entry key="equDiaOutWrongDim">相当直径の 2 乗出力の次元は 1 行 (MaximumCount) 列でなければなりません。</entry>
    <entry key="extentOutWrongDim">Extent 出力の次元は 1 行 (MaximumCount) 列でなければなりません。</entry>
    <entry key="perimOutWrongDim">周囲長出力の次元は 1 行 (MaximumCount) 列でなければなりません。</entry>
    <entry key="areaOutNotInt32">Area 出力のデータ型は int32 でなければなりません。</entry>
    <entry key="bndBoxOutNotInt32">境界ボックス出力のデータ型は int32 でなければなりません。</entry>
    <entry key="labelOutNotUint32">ラベル出力のデータ型は uint32 でなければなりません。</entry>
    <entry key="labelOutNotUint16">ラベル出力のデータ型は uint16 でなければなりません。</entry>
    <entry key="labelOutNotUint8">ラベル出力のデータ型は uint8 でなければなりません。</entry>
    <entry key="labelOutNotDouble">ラベル出力のデータ型は倍精度でなければなりません。</entry>
    <entry key="labelOutOntSingle">ラベル出力のデータ型は単精度でなければなりません。</entry>
    <entry key="countOutNotUint32">カウント出力のデータ型は uint32 でなければなりません。</entry>
    <entry key="countOutNotUint16">カウント出力のデータ型は uint16 でなければなりません。</entry>
    <entry key="countOutNotUint8">カウント出力のデータ型は uint8 でなければなりません。</entry>
    <entry key="countOutNotDouble">カウント出力のデータ型は倍精度でなければなりません。</entry>
    <entry key="countOutOntSingle">カウント出力のデータ型は単精度でなければなりません。</entry>
    <entry key="codeGenNotSupported">出力が浮動小数点データ型で最小値/最大値ログが有効になっている場合、この System object はコード生成をサポートしません。</entry>
    <entry key="inWidthNotDivTwo">入力イメージの列数は 2 の倍数でなければなりません。</entry>
    <entry key="inHeightNotDivTwo">入力イメージの行数は 2 の倍数でなければなりません。</entry>
    <entry key="inWdHtNotDivTwo">入力イメージの行数および列数はどちらも 2 の倍数でなければなりません。</entry>
    <entry key="inWidthNotDivFour">入力イメージの列数は 4 の倍数でなければなりません。</entry>
    <entry key="outWidthNotDivTwo">出力イメージの行数は 2 の倍数でなければなりません。</entry>
    <entry key="outWdHtNotDivTwo">出力イメージの行数および列数はどちらも 2 の倍数でなければなりません。</entry>
    <entry key="outWidthNotDivFour">出力イメージの列数は 4 の倍数でなければなりません。</entry>
    <entry key="outHeightNotDivTwo">出力イメージの行数は 2 の倍数でなければなりません。</entry>
    <entry key="inputNotMxNx3">入力は M x N x 3 の行列でなければなりません。</entry>
    <entry key="outputNotMxN">出力は M 行 N 列の行列でなければなりません。</entry>
    <entry key="outputNotMxNx3">出力は M x N x 3 の行列でなければなりません。</entry>
    <entry key="clrSpcConvNotSupport">指定された色空間変換はサポートされていません。</entry>
    <entry key="compositeInputsDimsDiffer">Image 1 の入力と Image 2 の入力は同じ次元数でなければなりません。</entry>
    <entry key="compositeInputsWrongDim">Image 1 の入力と Image 2 の入力は 3 番目の次元が等しくなければなりません。</entry>
    <entry key="compositeInOutDimsDiffer">Image 1 の入力と出力は同じ次元数でなければなりません。</entry>
    <entry key="locationWrongDim">Location 入力は 2 要素ベクトルでなければなりません。</entry>
    <entry key="inOutNotSameFlt">すべての入力と出力は同一の浮動小数点データ型でなければなりません。</entry>
    <entry key="rowsColsNotGT5">勾配補正された線形内挿を行うには、入力イメージの行数と列数の両方が 5 以上でなければなりません。</entry>
    <entry key="rowsColsNotGT3">双一次内挿を行うには、入力イメージの行数と列数の両方が 3 以上でなければなりません。</entry>
    <entry key="outNotMxNSepClrsSet">出力イメージ信号形式が [個別のカラー信号] に設定されている場合、出力は M 行 N 列でなければなりません。</entry>
    <entry key="outNotMxNOneDimSet">出力は M x N x 3 でなければなりません。</entry>
    <entry key="rgbNotVectOrMat">R、G および B の入力はベクトルまたは行列でなければなりません。</entry>
    <entry key="dimPropError">mdlSetOutputPortDimensionInfo で端子の次元の伝播エラーが発生しました。</entry>
    <entry key="imageInDimGT3">Image 入力は 3 次元より大きくすることはできません。</entry>
    <entry key="thresholdWrongDim">しきい値入力ベクトルは 2 要素でなければなりません。</entry>
    <entry key="thresholdNotScalar">しきい値入力はスカラーでなければなりません。</entry>
    <entry key="cannyEdgeFixptNotSupport">Method プロパティが 'Canny' に設定されている場合、固定小数点入力はサポートされません。</entry>
    <entry key="frameSizeWrongElements">OutputSize プロパティの要素数はビデオ成分数の 2 倍でなければなりません。</entry>
    <entry key="sampleTimeNotRealScalInh">サンプル時間値はスカラーまたは -1 (継承) のいずれかでなければなりません。</entry>
    <entry key="bitsLengthWrong">VideoComponentBits プロパティ値のベクトルの長さはビデオ成分数と等しくなければなりません。</entry>
    <entry key="bitsNotMult8">BitStreamFormat プロパティが 'Planar' に設定されている場合、VideoComponentBits プロパティ値のベクトルの各要素は 8 の倍数でなければなりません。</entry>
    <entry key="compOrderWrongSize">VideoComponentOrder プロパティ値の要素数はビデオ成分数以上でなければなりません。</entry>
    <entry key="compOrderWrongVal">VideoComponentOrder プロパティ値には 1 と出力数の間の値が含まれていなければなりません。</entry>
    <entry key="compOrderNotUnique">BitStreamFormat プロパティが 'Planar' に設定されている場合、VideoComponentOrder プロパティ値は一意の要素をもたなければなりません。</entry>
    <entry key="fourccNotSupported">この 4 文字コード (FOURCC) はサポートされていません。</entry>
    <entry key="neighWindowWrongDim">NeighborhoodSize プロパティ値の各次元は、入力行列の対応する次元以下でなければなりません。</entry>
    <entry key="dtTrueDblsMismatch">固定小数点ツールの [データ型オーバーライド] パラメーターで [double] が選択されている場合、すべての入力および出力のデータ型は double でなければなりません。</entry>
    <entry key="dtTrueSinglesMismatch">固定小数点ツールの [データ型オーバーライド] パラメーターで [single] が選択されている場合、すべての入力および出力のデータ型は single でなければなりません。</entry>
    <entry key="indexOutDouble">インデックス出力は、他のすべての入力および出力が倍精度である場合にのみ倍精度にすることができます。</entry>
    <entry key="indexOutSingle">インデックス出力は、他のすべての入力および出力が単精度である場合にのみ単精度にすることができます。</entry>
    <entry key="countOutDouble">カウント出力は、他のすべての入力および出力が倍精度である場合にのみ倍精度にすることができます。</entry>
    <entry key="countOutSingle">カウント出力のデータ型は、すべての入力および出力のデータ型が single である場合にのみ single に設定できます。</entry>
    <entry key="inWordLenGT16">入力語長は 16 以下でなければなりません。</entry>
    <entry key="outWordLenGT16">出力語長は 16 以下でなければなりません。</entry>
    <entry key="inDataOutsideRange">入力データが指定範囲外になっています。</entry>
    <entry key="maxInLTminOut">入力の最大値は入力の最小値より大きくなければなりません。</entry>
    <entry key="eMetricFixpPtTypeWrong">CustomEffectivenessMetricDataType プロパティ値が指定と一致しません。</entry>
    <entry key="histogramWrongType">ヒストグラムの入力は浮動小数点または組み込み整数データ型でなければなりません。</entry>
    <entry key="histogramIsFloat">イメージの入力が浮動小数点ではない場合、ヒストグラムの入力を浮動小数点にすることはできません。</entry>
    <entry key="histogramNotVector">ヒストグラムの入力はベクトルでなければなりません。</entry>
    <entry key="thetaResWrongVal">ThetaResolution プロパティの値は 0 より大きく、pi/2 より小さくなければなりません。</entry>
    <entry key="houghOutFracLenVariable">CustomHoughOutputDataType プロパティ値の小数部の長さを変数にすることはできません。</entry>
    <entry key="houghOutFracLenNotZero">CustomHoughOutputDataType プロパティ値の小数部の長さは 0 でなければなりません。</entry>
    <entry key="houghOutWrdLenVariable">CustomHoughOutputDataType プロパティ値の語長を変数にすることはできません。</entry>
    <entry key="thetaOutWrdLenVariable">CustomThetaOutputDataType プロパティ値の語長を変数にすることはできません。</entry>
    <entry key="thetaOutFracLenVariable">CustomThetaOutputDataType プロパティ値の小数部の長さを変数にすることはできません。</entry>
    <entry key="rhoOutWrdLenVariable">CustomRhoDataType プロパティ値の語長を変数にすることはできません。</entry>
    <entry key="rhoOutFracLenVariable">CustomRhoDataType プロパティ値の小数部の長さを変数にすることはできません。</entry>
    <entry key="houghSampTimeNotDiscrete">System object が theta 値および rho 値を出力する場合、連続サンプル時間はサポートされません。</entry>
    <entry key="rhoResWrongVal">RhoResolution プロパティの値は 0 より大きく、norm(size(BW input)) より小さくなければなりません。</entry>
    <entry key="houghThetaMismatch">Hough 出力の列数は theta 出力の幅と等しくなければなりません。</entry>
    <entry key="rhoDimInconsistent">Rho 出力の次元の設定が矛盾しています。Rho 出力の幅は BW 入力の次元と RhoResolution プロパティで決まります。</entry>
    <entry key="sineValNotTblLookup">System object 入力が固定小数点データ型の場合、SineComputation プロパティは [テーブル ルックアップ] に設定されていなければなりません。</entry>
    <entry key="floatLoggingNotAllowed">System object 入力が浮動小数点データ型の場合、固定小数点ツールで [最小値、最大値およびオーバー フロー] と [データ型オーバーライド] を [ローカル設定を使用] に設定することはできません。</entry>
    <entry key="thetaRhoWrongTypeOrLen">Theta 入力および Rho 入力は、語長が 32 以下の同じ符号付きデータ型でなければなりません。</entry>
    <entry key="sineValNotTrigFcn">System object 入力が浮動小数点データ型の場合、SineComputation プロパティは 'Trigonometric function' に設定されていなければなりません。</entry>
    <entry key="sineTblWrdLenGT32">SineTableType プロパティの語長は 32 以下でなければなりません。</entry>
    <entry key="thetaRhoWidthsDiffer">Theta 入力および Rho 入力は同じ要素数でなければなりません。</entry>
    <entry key="thetaRhoNotVectors">Theta 入力および Rho 入力はベクトルでなければなりません。</entry>
    <entry key="outputNotUint32">出力データ型は uint32 でなければなりません。</entry>
    <entry key="outputNotUint16">出力データ型は uint16 でなければなりません。</entry>
    <entry key="outputNotUint8">出力データ型は uint8 でなければなりません。</entry>
    <entry key="neighDimsExceedImage">近傍の次元は入力イメージの次元より小さくなければなりません。</entry>
    <entry key="setting2Empty">Neighborhood プロパティから派生した S-Function パラメーター 2 を空にすることはできません。</entry>
    <entry key="setting2NotBool">Neighborhood プロパティから派生した S-Function パラメーター 2 は boolean でなければなりません。</entry>
    <entry key="neighNumEleWrong">S-Function パラメーター 2 で指定する近傍要素の数は、S-Function パラメーター 3 で指定する近傍次元行列で表される要素数と一致しなければなりません。</entry>
    <entry key="outputNotUnsigned">出力データ型は符号なしでなければなりません。</entry>
    <entry key="inputDimsDiffer">すべての入力の次元は同じでなければなりません。</entry>
    <entry key="inImageRowsLE4">Method プロパティが 'Lucas-Kanade' に設定されている場合、入力イメージの行数は 4 より多くなければなりません。</entry>
    <entry key="inImageColsLE4">Method プロパティが 'Lucas-Kanade' に設定されている場合、入力イメージの列数は 4 より多くなければなりません。</entry>
    <entry key="i1I2DimsDiffer">2 つの入力イメージの次元は同じでなければなりません。</entry>
    <entry key="codegenNotSupported">コード生成は単精度入力および倍精度入力についてのみサポートされています。</entry>
    <entry key="inDimErrorReduce">入力次元を特定できません。Operation プロパティが 'Reduce' に設定されている場合、信号次元は逆伝播できません。</entry>
    <entry key="inDimErrorExpand">入力次元を特定できません。Operation プロパティが 'Expand' に設定されている場合、現在の出力次元は有効ではありません。</entry>
    <entry key="angleNotScalar">回転角の入力はスカラーでなければなりません。</entry>
    <entry key="colorValueWrongSize">Color プロパティのサイズは 3 と等しくなければなりません。</entry>
    <entry key="colorValueWrongMatSize">Color プロパティ値は M 行 3 列の行列でなければなりません。ここで M は文字ベクトルの数です。</entry>
    <entry key="locationWrongSize">Location プロパティ値は 2 要素配列または M 行 2 列の行列でなければなりません。ここで、M は文字ベクトルの数です。</entry>
    <entry key="locationWrongMatSize">Location プロパティ値は M 行 2 列の行列でなければなりません。ここで M は文字ベクトルの数です。</entry>
    <entry key="imageInOutDimMismatch">イメージ入力とイメージ出力の次元は一致しなければなりません。</entry>
    <entry key="selectNotScalar">テキスト文字ベクトル選択入力 Select はスカラーでなければなりません。</entry>
    <entry key="locInWrongSize">Location 入力は 2 要素ベクトルまたは 2 行 N 列の行列でなければなりません。ここで N は文字ベクトルの数です。</entry>
    <entry key="locInWrongMatSize">Location 入力は M 行 2 列の行列でなければなりません。ここで M は文字ベクトルの数です。</entry>
    <entry key="colorInWrongDim">Color 入力はスカラーまたは N 要素のベクトルでなければなりません。ここで N は文字ベクトルの数です。</entry>
    <entry key="variablesInNotVector">変換指定が {0} の場合、Variables 入力はベクトルでなければなりません。</entry>
    <entry key="variablesInNotScalar">Variables 入力はスカラーでなければなりません。</entry>
    <entry key="variablesWrongLength">Text プロパティの変換指定の最大数は 1 であるか、Variables 入力の長さと等しくなければなりません。</entry>
    <entry key="variablesWrongMatSize">Text プロパティの変換指定の最大数は 1 であるか、Variables 入力の行数と等しくなければなりません。</entry>
    <entry key="opacityWrongDim">Opacity 入力はスカラーまたは 1 行 N 列のベクトルでなければなりません。ここで、N は文字ベクトルの数です。</entry>
    <entry key="opacityWrongType">Image 入力が浮動小数点データ型の場合、Opacity 入力は同じ浮動小数点データ型でなければなりません。</entry>
    <entry key="opacityWrongFixptType">Image 入力が整数または固定小数点データ型の場合、Opacity 入力は、語長が 8、小数部の長さが 7 の符号なし fi オブジェクトでなければなりません。</entry>
    <entry key="convLetterNotSupport">Text プロパティで指定されている変換文字はサポートされていません。</entry>
    <entry key="locClrInColumnMismatch">Location 入力と Color 入力は同じ行数でなければなりません。</entry>
    <entry key="opacityLocWrongWidth">Opacity 入力の長さは Location の行列の行数と同じでなければなりません。</entry>
    <entry key="opacityClrwrongWidth">Opacity 入力の長さは Color 行列の行数と同じでなければなりません。</entry>
    <entry key="variablesWrongColWidth">Variables 入力の行数を、Location 入力の行数、Color 入力の行数および Opacity 入力の長さの最大値より大きくすることはできません。</entry>
    <entry key="backgroundWrongDim">BackgroundFillValue プロパティ値はスカラーであるか、入力イメージの 3 番目の次元と同じ長さでなければなりません。</entry>
    <entry key="firstInputWrongDim">最初の入力の次元は M 行 N 列または M x N x P でなければなりません。</entry>
    <entry key="offsetWrongSize">Offset 入力は 2 要素ベクトルでなければなりません。</entry>
    <entry key="outDimNotMxNOrMxNxP">出力の次元は M 行 N 列または M x N x P でなければなりません。</entry>
    <entry key="invalidOutDim">出力の次元が無効です。</entry>
    <entry key="videoOutNotSupported">ビデオ出力は Windows プラットフォームと Linux プラットフォームでサポートされています。</entry>
    <entry key="novipToVideoDisplayPanel">MATLAB ファイル matlabroot/toolbox/vision/vision/vipToVideoDisplayPanel.m の呼び出し中にエラーが発生しました。ファイルが削除されているか、名前が変更されている可能性があります。</entry>
    <entry key="statNotVector">BlobAnalysis S-Function の最初の引数 'stats' は {0, number, integer} 要素のベクトルでなければなりません。</entry>
    <entry key="ceontroidOutWrongType">重心出力のデータ型は、System object で指定されているデータ型と一致しなければなりません。</entry>
    <entry key="majAxisOutWrongType">長軸出力のデータ型は、System object で指定されているデータ型と一致しなければなりません。</entry>
    <entry key="minorAxisOutWrongType">短軸出力のデータ型は、System object で指定されているデータ型と一致しなければなりません。</entry>
    <entry key="orientOutWrongType">方向出力のデータ型は、System object で指定されているデータ型と一致しなければなりません。</entry>
    <entry key="eccOutWrongType">離心率出力のデータ型は、System object で指定されているデータ型と一致しなければなりません。</entry>
    <entry key="equDiaOutWrongType">相当直径の 2 乗出力のデータ型は、System object で指定されているデータ型と一致しなければなりません。</entry>
    <entry key="extentOutWrongType">Extent 出力のデータ型は、System object で指定されているデータ型と一致しなければなりません。</entry>
    <entry key="perimOutWrongType">周囲長出力のデータ型は、System object で指定されているデータ型と一致しなければなりません。</entry>
    <entry key="clrConvUnsupDataType">RGB から YCbCr、YCbCr から RGB、および RGB から強度への変換は、倍精度、単精度および uint8 データ型をサポートしています。その他の変換は倍精度と単精度のデータ型をサポートします。</entry>
    <entry key="inputDimScalarOrVector">入力 {0, number, integer} は 1 次元より大きくなければなりません。</entry>
    <entry key="inputDimsWrong">入力次元は少なくとも {0, number, integer} 行 {1, number, integer} 列でなければなりません。</entry>
    <entry key="highThreshTooSmall">Threshold プロパティ値の 2 番目の要素は 1 番目の要素より大きくなければなりません。</entry>
    <entry key="numInputNotScalar">3 番目の入力 NUM はスカラーでなければなりません。</entry>
    <entry key="inlierOutNotVector">2 番目の出力 INLIER はベクトルでなければなりません。</entry>
    <entry key="videoFileOpenError">入力ビデオ ファイル {0} を開けません。</entry>
    <entry key="maxNumBlobsExceededMrkZero">見つかったオブジェクトの数が、指定されたブロブの最大数を超えました。出力ラベル行列の残りの領域は 0 (背景) 値でマークされます。</entry>
    <entry key="invalidRandomSamples">有効なランダム サンプルがみつかりません。Num 入力の点の数を増やしてください。</entry>
    <entry key="invalidPtsNum">3 番目の入力 NUM の値は {0, number, integer} 以上 {1, number, integer} 以下でなければなりません。</entry>
    <entry key="inputValsExceedRange1">少なくとも 1 つの値が入力データ範囲の [{0, number, integer}, {1, number, integer}] を超えています。</entry>
    <entry key="frameRateSetToOne">ビデオ表示フレーム レートが 1 fps よりも遅いレートに設定されています。これにより、ユーザー入力への応答が低下する可能性があります。</entry>
    <entry key="outDataTypesNotDbl">出力データ型は倍精度でなければなりません。</entry>
    <entry key="outDataTypesNotSingle">出力データ型は単精度でなければなりません。</entry>
    <entry key="inImageWrongDim">Image 入力は 3 以下の次元でなければなりません。</entry>
    <entry key="inputIWrongDim">Image 入力は 2 以下の次元でなければなりません。</entry>
    <entry key="rgbInWrongDims">R、G および B の入力は 2 以下の次元でなければなりません。</entry>
    <entry key="cirInWrongDim">境界線または塗りつぶし色の入力は 2 以下の次元でなければなりません。</entry>
    <entry key="outImageWrongDim">イメージ出力は 3 以下の次元でなければなりません。</entry>
    <entry key="outputIWrongDim">イメージ出力は 2 以下の次元でなければなりません。</entry>
    <entry key="rgbOutWrongDims">R、G および B の出力は 2 以下の次元でなければなりません。</entry>
    <entry key="rhoOutWidthWrong">Rho 出力の幅は Hough 出力の行数と等しくなければなりません。</entry>
    <entry key="thetaOutWidthWrong">Theta 出力の幅は Hough 出力の列数と等しくなければなりません。</entry>
    <entry key="overlapRowsWrong">Overlap プロパティの行数は、ブロックの高さより小さい値の非負の整数でなければなりません。</entry>
    <entry key="overlapColsWrong">Overlap プロパティの列数は、ブロックの幅より小さい値の非負の整数でなければなりません。</entry>
    <entry key="blockHeightWrong">ブロックの高さはイメージ入力の行数以下でなければなりません。</entry>
    <entry key="blockWidthWrong">ブロックの幅はイメージ入力の列数以下でなければなりません。</entry>
    <entry key="pixelUpperLimitWrong">入力ピクセル範囲の上限は下限より大きくなければなりません。</entry>
    <entry key="settingNotPositive">{0} プロパティ値は正でなければなりません。</entry>
    <entry key="sumPixSatTooBig">PixelSaturationPercentage プロパティ内の値の合計は 100 未満でなければなりません。</entry>
    <entry key="bitsNotMultiple8">VideoComponentBits プロパティ値は 8 の倍数でなければなりません。</entry>
    <entry key="compOrderForPackedWrong">BitStreamFormat プロパティが 'Packed' に設定されている場合、VideoComponentOrder プロパティの要素数は成分数以上でなければなりません。</entry>
    <entry key="compOrderForPlanarWrong">BitStreamFormat プロパティが 'Planar' に設定されている場合、VideoComponentOrder プロパティの要素数は成分数と等しくなければなりません。</entry>
    <entry key="dimRatioCompOrderMismatch">入力次元の比率が、指定された成分順序と一致しません。</entry>
    <entry key="dimRatioFourCCMismatch">入力次元の比率が、指定された FOURCC で必要な比率と一致しません。</entry>
    <entry key="bitsExceedInputSize">指定するビットは入力サイズ以下でなければなりません。</entry>
    <entry key="inputBytesWrong">入力の長さは 1 バイト、2 バイトまたは 4 バイトでなければなりません。</entry>
    <entry key="roiVectorWrongSize">ROI 入力は 4 要素のベクトルでなければなりません。</entry>
    <entry key="outTypeNotSgnCpxMotVec">出力データ型は、複素数の動きベクトルでは符号付きでなければなりません。</entry>
    <entry key="outTypeNotSigMgSqMotVec">出力データ型は、振幅二乗の動きベクトルでは符号なしでなければなりません。</entry>
    <entry key="wordLenRangeError">{0} 語長は {1, number, integer} 以上 128 以下の正の整数でなければなりません。</entry>
    <entry key="normalizeOutNotForFixpt">NormalizeOutput プロパティは浮動小数点入力データ型にのみ適用されます。</entry>
    <entry key="minBlobAreaGTMaxBlobArea">最小ブロブの面積は最大ブロブの面積以下でなければなりません。</entry>
    <entry key="inputNotFixptSettingFixpt">固定小数点出力データ型を指定する場合、入力は固定小数点データ型でなければなりません。</entry>
    <entry key="outDataTypeSettingMismatch">出力データ型は、ブロック ダイアログ ボックスで指定された出力データ型と一致しなければなりません。</entry>
    <entry key="grayThreshTypesDiffer">入力イメージ I、出力しきい値 Th および出力有効性メトリクス EMetric はすべて double、すべて single、またはすべて固定小数点でなければなりません。</entry>
    <entry key="imageHistTypesDiffer">入力が浮動小数点の場合、イメージおよびヒストグラムのデータ型は同じでなければなりません。</entry>
    <entry key="optFlowOutTypeNotFloat">Horn-Schunck 法および Lucas-Kanade (ガウス導関数) 法では、出力データ型は倍精度または単精度でなければなりません。</entry>
    <entry key="fixPtTooLongForCodeGen">コード生成では語長が最大 16 ビットの固定小数点データ型がサポートされています。</entry>
    <entry key="fixPtWdLenGT32Bits">語長が最大 32 ビットの固定小数点データ型がサポートされています。</entry>
    <entry key="maxOffsetTooLarge">MaximumOffset プロパティに指定した値が原因で、出力イメージの次元が INTMAX ピクセル数を超えています。</entry>
    <entry key="numColorsChanged">イメージの色数は変更できません。</entry>
    <entry key="videoBandsSzChanged">System object がロックされている場合、ビデオの帯域数のサイズを変更することはできません。</entry>
    <entry key="compNotInCompOrder">NumVideoComponents プロパティで特定された各成分は VideoComponentOrder プロパティの値に含まれていなければなりません。</entry>
    <entry key="smoothFltWronNumElem">SmoothingFilterCoefficients プロパティの要素数は奇数かつ 3 以上でなければなりません。</entry>
    <entry key="outMetricTooSmall">出力メトリクス信号の次元を {0, number, integer} 行 {1, number, integer} 列より小さくすることはできません。</entry>
    <entry key="inDataTypeNotFloatInt8Or16OrFixpt">入力データ型は、倍精度、単精度、boolean、int8、uint8、int16、uint16 または語長が 16 以下の固定小数点データ型でなければなりません。</entry>
    <entry key="outDataTypeNotFloatInt8Or16OrFixpt">出力データ型は、倍精度、単精度、論理型、int8、uint8、int16、uint16 または語長が 16 以下の固定小数点データ型でなければなりません。</entry>
    <entry key="imgInOutFltTypesDiffer">Image 入力が浮動小数点データ型の場合、出力は同じデータ型でなければなりません。</entry>
    <entry key="roiFltTypeImgInNotFlt">ROI 入力が浮動小数点データ型の場合、Image 入力は浮動小数点データ型でなければなりません。</entry>
    <entry key="roiFltTypeOutNotFlt">ROI 入力が浮動小数点データ型の場合、出力は浮動小数点データ型でなければなりません。</entry>
    <entry key="imgInOutTypesDiffer">出力のデータ型と Image 入力のデータ型は同じでなければなりません。</entry>
    <entry key="imgInOutSgnsDiffer">出力のデータ型と Image 入力のデータ型は符号の有無が同じです。</entry>
    <entry key="pts1OrPts2TooSmall">1 番目と 2 番目の入力、PTS1 および PTS2 には {0, number, integer} 個以上の点がなければなりません。</entry>
    <entry key="inlierOutSzTooSmall">インライア出力には少なくとも {0, number, integer} 個の要素が必要です。</entry>
    <entry key="vipDrawNotScalar">{0} 入力には {1, number, integer} 個の色平面があり、Pts 入力には {2, number, integer} 個の形状があります。{3} はスカラーでなければなりません。</entry>
    <entry key="vipDrawNotSclOrVec">{0} 入力には {1, number, integer} 個の色平面があり、Pts 入力には {2, number, integer} 個の形状があります。{3} は、すべての形状に対して 1 つの色を提供するスカラー、または形状ごとに 1 つの色を提供する {4, number, integer} 要素ベクトルのいずれかでなければなりません。</entry>
    <entry key="vipDarwNotVector">{0} 入力には {1, number, integer} 個の色平面があり、Pts 入力には {2, number, integer} 個の形状があります。{3} は {4, number, integer} 要素ベクトルでなければなりません。</entry>
    <entry key="vipDrawNotVecOrMat">{0} 入力には {1, number, integer} 個の色平面があり、Pts 入力には {2, number, integer} 個の形状があります。{3} は、すべての形状に対して 1 つの色を提供する {4, number, integer} 要素ベクトル、または形状ごとに 1 つの色を提供する {5, number, integer} 行 {6, number, integer} 列の行列のいずれかでなければなりません。</entry>
    <entry key="vipDrawNumClrPlaneNumShape">入力イメージの色平面数と Pts 入力の形状数が一致しません。</entry>
    <entry key="opacityNotScalar">Pts 入力に 1 つの形状があります。Opacity プロパティ値はスカラーでなければなりません。</entry>
    <entry key="opacityNotSclOrVec">Pts 入力に {0, number, integer} 個の形状があります。Opacity プロパティ値は、すべての形状に対する 1 つのスカラー値、または形状ごとに 1 つの値を提供する {1, number, integer} 要素ベクトルのいずれかでなければなりません。</entry>
    <entry key="opacityNotSclOrVecForMat">{0} は {1, number, integer} 行 {2, number, integer} 列の行列です。Opacity プロパティ値は、すべての形状に対する 1 つのスカラー値、または形状ごとに 1 つの値を提供する {3, number, integer} 要素ベクトルのいずれかでなければなりません。</entry>
    <entry key="forNumClrPlanesNotScalar">{0} 入力には {1, number, integer} 個の色平面があります。Opacity プロパティ値には {2, number, integer} 個の要素があります。{3} はスカラーでなければなりません。</entry>
    <entry key="forNumClrPlanesNotScOrVec">{0} 入力には {1, number, integer} 個の色平面があります。Opacity プロパティ値には {2, number, integer} 個の要素があります。{3} は、すべての形状に対して 1 つの色を提供するスカラー、または形状ごとに 1 つの色を提供する {4, number, integer} 要素ベクトルのいずれかでなければなりません。</entry>
    <entry key="forNumClrPlanesNotVecOrMat">{0} 入力には {1, number, integer} 個の色平面があります。Opacity プロパティ値には {2, number, integer} 個の要素があります。{3} は、すべての形状に対して 1 つの色を提供する {4, number, integer} 要素ベクトル、または形状ごとに 1 つの色を提供する {5, number, integer} 行 {6, number, integer} 列の行列のいずれかでなければなりません。</entry>
    <entry key="img2SettingDimMismatch">{0} プロパティが行列の場合、その次元は Image2 入力の次元と一致しなければなりません。</entry>
    <entry key="img2SignalDimMismatch">{0} 信号が行列の場合、その次元は Image2 入力の次元と一致しなければなりません。</entry>
    <entry key="inputNotVectOrMat">{0} 入力はベクトルか行列でなければなりません。</entry>
    <entry key="outputOneDim">出力 {0, number, integer} は 1 次元より大きくなければなりません。</entry>
    <entry key="strSettingEmpty">プロパティ {0, number, integer} は空でない文字ベクトルでなければなりません。</entry>
    <entry key="numClrEleNotMult">Color 入力の要素数は {0, number, integer} の倍数でなければなりません。</entry>
    <entry key="clrNotNStrings">Color 入力または Color プロパティ値は {0, number, integer} 要素ベクトルまたは M 行 {1, number, integer} 列の行列でなければなりません。ここで M は文字ベクトルの数です。</entry>
    <entry key="clrLenNotColsLoc">Color プロパティの長さは Location の行列の点の数と同じでなければなりません。</entry>
    <entry key="rgbSizesDiffer">R、G および B の入力は同じサイズでなければなりません。</entry>
    <entry key="backPropDimsFailed">出力次元から入力次元を特定できません。</entry>
    <entry key="inputIDimsNotGTTemp">I 入力のすべての次元はテンプレート入力のすべての次元以上でなければなりません。</entry>
    <entry key="inputsBothNotFloat">{0} 入力が浮動小数点の場合、{1} 入力も浮動小数点でなければなりません。</entry>
    <entry key="inputsBothNotBool">{0} 入力が論理型の場合、{1} 入力も論理型でなければなりません。</entry>
    <entry key="outDataTypWrongInBool">入力が boolean の場合、OutputDataType プロパティは 'Same as first input' に設定できません。</entry>
    <entry key="accDataTypWrongInBool">入力が論理型の場合、AccumulatorDataType は 'Same as first input' に設定できません。</entry>
    <entry key="dimIOrTempNotSet">出力の次元を特定できません。I 入力およびテンプレート入力の次元が設定されていなければなりません。</entry>
    <entry key="numObjsExceedsDataMrkZero">見つかったオブジェクトの数が出力データ範囲を超えています。残りの領域は 0 (背景) 値でマークされます。</entry>
    <entry key="numObjsExceedsDataMrkMax">見つかったオブジェクトの数が出力データ範囲を超えています。残りの領域は、出力データ型の最大値を使用してマークされます。</entry>
    <entry key="forClrPlanesNotVecMat">{0} 入力には {1, number, integer} 個の色平面があります。{2} は {3, number, integer} 要素ベクトルまたは {4, number, integer} 行 N 列の行列のいずれかでなければなりません。</entry>
    <entry key="outputDimsTooSmall">出力次元は少なくとも {0, number, integer} 行 {1, number, integer} 列でなければなりません。</entry>
    <entry key="gradSettingFixPtMismatch">逆伝播された勾配の固定小数点データ型属性は、System object での指定と一致しなければなりません。</entry>
    <entry key="freeTypeInitFailed">FreeType ライブラリを初期化できませんでした ({0})。</entry>
    <entry key="fontFormatUnsupport">フォント ファイル形式が FreeType ライブラリでサポートされていません。</entry>
    <entry key="fontSizeUnsupport">フォント ファイル サイズが FreeType ライブラリでサポートされていません。</entry>
    <entry key="inputsDataTypeMismatch">{0} 入力が {1} データ型の場合、{2} 入力は {3} データ型でなければなりません。</entry>
    <entry key="inptOutptDataTypeMismatch">{0} 入力が {1} データ型の場合、出力は {2} データ型でなければなりません。</entry>
    <entry key="outptInptDataTypeMismatch">出力が {0} データ型の場合、{1} 入力は {2} データ型でなければなりません。</entry>
    <entry key="fontLoadFailure">FreeType ライブラリ フォント ファイルを読み込めませんでした ({0})。</entry>
    <entry key="fontPartialLoadFailure">FreeType ライブラリは文字のすべてについてはフォント ビットマップを読み込めませんでした ({0})。</entry>
    <entry key="numClrPlanesChanged">System object がロックされている場合は、イメージの色平面数を変更できません。色平面の数はイメージ入力の 3 番目の次元です。</entry>
    <entry key="rowsColsOutZero">出力の行数と列数を 0 にすることはできません。ResizeFactor プロパティの値を増やすことを検討してください。</entry>
    <entry key="pts1AndPts2SizesDiffer">1 番目と 2 番目の入力、PTS1 と PTS2 は同じサイズでなければなりません。</entry>
    <entry key="allowVarSizeNotSelected">入力は固定サイズの信号でなければなりません。</entry>
    <entry key="imageAndTFormSameType">Image 入力と TForm 入力は同じデータ型でなければなりません。</entry>
    <entry key="imageTFormAndROISameType">ROI 入力が浮動小数点データ型の場合、Image 入力、TForm 入力および ROI 入力は同じデータ型でなければなりません。</entry>
    <entry key="imgSmallerThanBlkSize">Image 入力の各次元のサイズは [ブロック サイズ] パラメーターによって指定された対応する次元以上でなければなりません。</entry>
    <entry key="transToInfinity">入力イメージの一部が無限遠の位置に変換されました。イメージのどの部分も無限遠に変換しない変換行列のみがサポートされています。</entry>
    <entry key="iterCountNotSame">ブロックによる入力全体の処理について算出されたステップ数は、すべての入力に対して同じでなければなりません。必要に応じて、入力サイズを変更するかブロック サイズとオーバーラップ サイズを変更してください。</entry>
    <entry key="wbfMinInputSize">最小入力行数は {0, number, integer}、最小入力列数は {1, number, integer} でなければなりません。</entry>
    <entry key="opacityFactorLT0GT1">不透明度係数は 0 以上 1 以下でなければなりません。</entry>
    <entry key="angleInfOrNaN">Angle 入力を Inf または NaN にすることはできません。</entry>
    <entry key="videoFileOpenForWriteError">書き込み用にビデオ ファイル {0} を開けません。</entry>
    <entry key="allInportsScDoubles">入力データ型のいずれかがスケーリングされた double の場合、すべての入力データ型はスケーリングされた double でなければなりません。</entry>
    <entry key="inputScDblOutputDblScDblBool">入力データ型がスケーリングされた double の場合、出力データ型は boolean、double またはスケーリングされた double でなければなりません。</entry>
    <entry key="outputScDblInputDblScDblBool">出力データ型がスケーリングされた double の場合、入力データ型は boolean、double またはスケーリングされた double でなければなりません。</entry>
    <entry key="rgbCurInputDimsWrong">すべての入力の現在の次元は同じでなければなりません。</entry>
    <entry key="varSizeNotSupportedAutomaticMode">OutputDataType プロパティが 'Automatic' に設定されている場合、可変サイズ入力信号はサポートされません。</entry>
    <entry key="numPlanesNot3for3dInput">入力が 3 次元配列の場合、入力平面の数は 3 でなければなりません。</entry>
    <entry key="rhoThetaOutportForVarS">入力が可変サイズ データの場合、ThetaRhoOutputPort プロパティは false に設定されていなければなりません。</entry>
    <entry key="pts1Pts2NotMx2">1 番目と 2 番目の入力、PTS1 と PTS2 は M 行 2 列の行列でなければなりません。</entry>
    <entry key="polyLnPtsInWrongDim">点の入力は M 行 2L 列の行列でなければなりません。各行は [x1 y1 x2 y2 ... xL yL] の形式で、点が順に連結された異なるポリラインを指定します。</entry>
    <entry key="polygonPtsInWrongDim">点の入力は M 行 2L 列の行列でなければなりません。各行は [x1 y1 x2 y2 ... xL yL] の形式で、点が順に連結された異なる多角形を指定します。</entry>
    <entry key="cirPtsInWrongDim">点の入力は M 行 3 列の行列でなければなりません。各行は [x y radius] の形式で異なる円を指定します。</entry>
    <entry key="cntrPtsInWrongDim">点の入力は M 行 2 列の行列でなければなりません。各行は [x y] の形式で異なる中心を指定します。</entry>
    <entry key="ptsInputInvalidSize">Pts 入力のサイズが有効ではありません。</entry>
    <entry key="roiInWrongDim">ROI 入力は、4 要素ベクトルで [x y width height] の形式でなければなりません。</entry>
    <entry key="forDrawPtsDimsWrong">Pts 入力に {0, number, integer} 個の形状があります。{1} は {2, number, integer} 要素ベクトルまたは {3, number, integer} 行 N 列の行列のいずれかでなければなりません。</entry>
    <entry key="shearInfOrNaN">せん断値を Inf または NaN にすることはできません。</entry>
    <entry key="offsetInfOrNaN">オフセット値を Inf または NaN にすることはできません。</entry>
    <entry key="roiInfOrNaN">ROI 値を Inf または NaN にすることはできません。</entry>
    <entry key="locationInfOrNaN">Location 値を Inf または NaN にすることはできません。</entry>
    <entry key="startPtsWrongSize">開始点の入力は 2 要素ベクトルでなければなりません。</entry>
    <entry key="maxNumBlobsExceeded">見つかったオブジェクトの数が、指定されたブロブの最大数を超えました。</entry>
    <entry key="inputNotMxN">入力は M 行 N 列の行列でなければなりません。</entry>
    <entry key="mapBlkLineWidth">ラインの幅</entry>
    <entry key="image2OutsideImage1">Image 2 入力は Image 1 入力の境界外です。</entry>
    <entry key="inputValsExceedRange">少なくとも 1 つの値が入力データ範囲を超えました。</entry>
    <entry key="rectPtsInWrongDim">点の入力は 4 行 N 列の行列でなければなりません。各列はそれぞれの四角形を指定し、形式は [row column height width] です。</entry>
    <entry key="outColsNotFour">出力は 4 列でなければなりません。</entry>
    <entry key="thetaRhoAndOutDimsDiffer2">Theta 入力および Rho 入力の列数は、出力の行数と同じでなければなりません。</entry>
    <entry key="fixptVarSize">可変サイズ入力の処理では、イメージは double または single でなければなりません。</entry>
    <entry key="invalidFileExtFileFormat">ファイル拡張子とファイル形式が一致しません。</entry>
    <entry key="hwBitsPerCharNot8">[コンフィギュレーション パラメーター] ダイアログ ボックスの [ハードウェア実行] ペインにある "char" は 8 ビット長で定義されていなければなりません。</entry>
    <entry key="imageInportMinSizeTwo">出力サイズが 'Valid' の場合、Image 入力の次元は少なくとも 2 行 2 列でなければなりません。</entry>
    <entry key="numInputsGreaterThanOne">入力数は 1 以上の整数でなければなりません。</entry>
    <entry key="paramScalarInteger">直近のデータ点数に制限: パラメーターは 1 以上のスカラー整数でなければなりません。</entry>
    <entry key="paramGreaterThanOne">直近のデータ点数に制限: パラメーターは 1 以上の整数でなければなりません。</entry>
    <entry key="decimationFactorGrThanOne">間引き係数は 1 以上の整数でなければなりません。</entry>
    <entry key="invalidVariableName">無効な MATLAB 変数名が指定されています。</entry>
    <entry key="fixedPointNotSupported">この固定小数点語長はサポートされていません。</entry>
    <entry key="memoryAllocError">メモリ割り当てエラー。</entry>
    <entry key="memoryAllocFailed">メモリを割り当てできませんでした。</entry>
    <entry key="couldNotCreateVarWS">MATLAB ワークスペースで変数を作成できません。</entry>
    <entry key="when3DInput">入力が 3 次元のとき、パラメーター [入力数] は 1 でなければなりません</entry>
    <entry key="signal3Dor4D">信号は 3 次元または 4 次元でなければなりません。</entry>
    <entry key="invalidMovieStructure">無効なムービーの構造体形式が指定されています。cdata フィールドが見つかりません。</entry>
    <entry key="colormapDataNotSupported">カラーマップ データはこのブロックではサポートされていません。</entry>
    <entry key="dataTypeNotSupported">指定された信号のデータ型はサポートされていません。</entry>
    <entry key="sampleMustBePositiveScalar">サンプル時間は正のスカラーまたは -1 でなければなりません。</entry>
    <entry key="onlySupports32CG">このブロックはコード生成で語長が 32 ビット以下の固定小数点データ型のみをサポートします。</entry>
    <entry key="errorFixedDTReg">固定小数点データ型を登録中にエラーが発生しました。</entry>
    <entry key="scaledDoubleNotSupported">スケーリングされた double データ型はサポートされていません。</entry>
    <entry key="backgroundFillScalar">[背景の塗りつぶしの値] は、スカラーであるか、入力イメージの 3 番目の次元と同じ長さでなければなりません</entry>
    <entry key="runTimeAllocFailed">ランタイム パラメーターの割り当てに失敗しました</entry>
    <entry key="vectorShearValInput">[せん断値] 入力端子にはサイズ 2 のベクトルが必要です。</entry>
    <entry key="backPropOutSpec">逆伝播された出力端子の固定小数点データ型の属性がブロック マスクの指定と一致しません。</entry>
    <entry key="traverseDirection">横方向は 1 または 2 でなければなりません。</entry>
    <entry key="needAssignPorts">必要な割り当て端子は 0 または 1 でなければなりません。</entry>
    <entry key="outputOnlyStartVal">インデックスの開始値のみの出力は 0 または 1 でなければなりません。</entry>
    <entry key="paramTwoElement">パラメーターは 2 要素のベクトルでなければなりません。</entry>
    <entry key="cellArrayAtleastOne">セル配列には少なくとも 1 つの要素が必要です。</entry>
    <entry key="blockSizeAtleastOne">ブロック サイズは各次元で少なくとも 1 でなければなりません。</entry>
    <entry key="overlapSizeAtleast0">オーバーラップ サイズは各次元で少なくとも 0 でなければなりません。</entry>
    <entry key="blockSizeGrOverlapSize">ブロック サイズはオーバーラップ サイズより大きくなければなりません。</entry>
    <entry key="fltptVariablesMayNotBeSupported">Variables 端子への浮動小数点入力は、固定小数点組み込みターゲットでサポートされていない場合があります。</entry>
    <entry key="selectValueOutOfRangeNewCoords">Select 端子への入力は [1, テキスト文字列数] の範囲内でなければなりません。</entry>
    <entry key="unsupportedTargetDevice">この関数はホストのターゲットに対してのみコードを生成します。ターゲット ハードウェアのデバイス タイプをホストと一致するように設定しなければなりません。</entry>
    <entry key="toVideoDisplayStartWarning">{0}</entry>
    <entry key="toVideoDisplayStartError">{0}</entry>
    <entry key="toVideoDisplayUpdateError">{0}</entry>
  </message>
</rsccat>
