<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2025 The MathWorks, Inc.-->

<rsccat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0" locale="ko_KR" product="imagesui" xsi:noNamespaceSchemaLocation="../../resources/schema/msgcat.xsd">
  <message>
    <entry key="flipPlane">평면 반전</entry>
    <entry key="removePlane">평면 제거</entry>
    <entry key="removeAllPlanes">모든 평면 제거</entry>
    <entry key="removeCrop">자르기 영역 제거</entry>
    <entry key="removeAnnotation">주석 제거</entry>
    <entry key="removeDataTip">데이터팁 제거</entry>
    <entry key="removeAllAnnotations">모든 주석 제거</entry>
    <entry key="snapPlane">다음에 수직으로 맞춤...</entry>
    <entry key="planeDirection">{0} 방향</entry>
    <entry key="editLabel">레이블 편집</entry>
    <entry key="copyColor">색 복사</entry>
    <entry key="copyLocation">위치 복사</entry>
    <entry key="copyIntensity">농도 복사</entry>
    <entry key="exportToWorkspace">작업 공간으로 내보내기</entry>
    <entry key="exportInfo">작업 공간으로 정보 내보내기</entry>
    <entry key="exportScissorsMask">3차원 가위 마스크를 작업 공간으로 내보내기</entry>
    <entry key="exportAnnotation">주석을 작업 공간으로 내보내기</entry>
    <entry key="objectInfo">객체 정보</entry>
    <entry key="scissorsMask">3차원 가위 마스크</entry>
    <entry key="annotation">주석</entry>
    <entry key="copyScreenshot">클립보드에 스크린샷 복사</entry>
    <entry key="saveScreenshot">파일에 스크린샷 저장</entry>
    <entry key="showDisplayInfo">정보 표시</entry>
    <entry key="showScaleBar">축척 막대</entry>
    <entry key="embedInLiveEditor">항상 라이브 편집기에 뷰어 삽입</entry>
  </message>
</rsccat>
