<?xml version="1.0"?>
<!-- Copyright 2020-2021 The MathWorks, Inc. -->
<rsccat version="1.0" locale="en_US" product="polyspace">
  <message>

    <!--  Configuration panel -->
    <entry key="installation_path" note="">Polyspace installation path</entry>

    <!--  Feedback on analysis -->
    <entry key="start_configure" note="">Running Polyspace configure...</entry>
    <entry key="success_configure" note="">Polyspace configure finished successfully.</entry>
    <entry key="error_configure" note="">Polyspace configure finished with error '{0}'.</entry>

    <entry key="start_analysis" note="">Running Polyspace analysis for file '{0}'...</entry>
    <entry key="success_analysis" note="">Polyspace analysis for file '{0}' finished successfully.</entry>
    <entry key="error_analysis" note="">Polyspace analysis for file '{0}' finished with error '{1}'.</entry>

    <!--  Polyspace Connector interactions -->
    <entry key="start_connector" note="">Start Connector</entry>
    <entry key="connector_start_failed" note="">Failed to start the Polyspace connector.</entry>
    <entry key="connector_start_failed_no_free_port" note="">Failed to start the Polyspace connector, no free port found in range {0}.</entry>
    <entry key="connector_start_failed_port_in_use" note="">Failed to start the Polyspace connector, port {0} already in use.</entry>

  </message>

</rsccat>
