<?xml version="1.0" encoding="UTF-8" ?>
<!-- Copyright 2022 The MathWorks, Inc. -->
<rsccat version="1.0" locale="en_US" product="MATLAB"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../schema/msgcat.xsd">
    <message>
        <entry key="InvalidCommandArg">Command argument must be either a nonmissing scalar string or a character row vector.</entry>
        <entry key="InvalidEnvVarNameArg">Environment variable names must be nonmissing scalar strings or character row vectors.</entry>
        <entry key="InvalidEnvVarValueArg">Environment variable values must be either scalar strings, scalar missing type values, or character row vectors.</entry>

        <entry key="InvalidEnvNames">Environment names must be a string array, cell array of character vectors, or character array.</entry>
        <entry key="InvalidEnvValues">Environment values must be a string array, cell array of character vectors, or character array.</entry>
        <entry key="MissingEnvName">Environment variable names must be nonmissing.</entry>
        <entry key="EnvNamesValuesNumMismatch">The array of environment values must have the same number of elements as the array of environment names or be scalar.</entry>
        <entry key="InvalidEnvNamesDict">Environment names in a dictionary must be in a string array or cell array of character vectors.</entry>
        <entry key="InvalidEnvValuesDict">Environment values in a dictionary must be in a string array or cell array of character vectors.</entry>
    </message>
</rsccat>
