<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2025 The MathWorks, Inc.-->

<rsccat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0" locale="ja_JP" product="imagesui" xsi:noNamespaceSchemaLocation="../../resources/schema/msgcat.xsd">
  <message>
    <entry key="flipPlane">平面を反転</entry>
    <entry key="removePlane">平面を削除</entry>
    <entry key="removeAllPlanes">すべての平面を削除</entry>
    <entry key="removeCrop">トリミング領域の削除</entry>
    <entry key="removeAnnotation">注釈の削除</entry>
    <entry key="removeDataTip">データ ヒントの削除</entry>
    <entry key="removeAllAnnotations">すべての注釈を削除</entry>
    <entry key="snapPlane">法線方向にスナップ...</entry>
    <entry key="planeDirection">{0} 方向</entry>
    <entry key="editLabel">ラベルの編集</entry>
    <entry key="copyColor">色をコピー</entry>
    <entry key="copyLocation">場所をコピー</entry>
    <entry key="copyIntensity">強度をコピー</entry>
    <entry key="exportToWorkspace">ワークスペースにエクスポート</entry>
    <entry key="exportInfo">情報をワークスペースにエクスポート</entry>
    <entry key="exportScissorsMask">3-D ハサミ マスクをワークスペースにエクスポート</entry>
    <entry key="exportAnnotation">注釈をワークスペースにエクスポート</entry>
    <entry key="objectInfo">オブジェクト情報</entry>
    <entry key="scissorsMask">3-D ハサミ マスク</entry>
    <entry key="annotation">注釈</entry>
    <entry key="copyScreenshot">クリップボードにスクリーンショットをコピー</entry>
    <entry key="saveScreenshot">スクリーンショットをファイルに保存</entry>
    <entry key="showDisplayInfo">ディスプレイ情報</entry>
    <entry key="showScaleBar">スケール バー</entry>
    <entry key="embedInLiveEditor">ライブ エディターに常にビューアーを埋め込む</entry>
  </message>
</rsccat>
