#widgetContainer {
    height: inherit;
    background-color: var(--mw-color-quaternary);

}

.TreeContainer {
    padding-top: 17px;
    display: inherit;
    width: 100%;
    height: 100%;
}

/*
.treeContainer.mw-tree .tree-list-item {
    cursor: pointer;
    background-image: url("../images/DnD.png");
    background-repeat: no-repeat;
    background-position: left;
}*/

/* TODO: Replace with a DnD icon from Viz. Deisgn */

#historyAttachDiv {
    width: 100%;
    height: 100%;
    background-color: var(--mw-color-quaternary);

}

.mw-tree .mw-tree-scroll-component .treeNode{
  background: url("../images/DnD.png") no-repeat left;
}

.treeContainer.mw-tree .tree-list-item.treeNode.leafNode.mw-tree-drag-hover {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: rgb(113, 195, 206);
}
