.pa_taskPanel {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.pa_taskPanel_inspector {
    display: flex;
    flex-grow: 1;
    min-height: 0;
}

.pa_taskPanel_buttonGroup {
    padding: 10px;
    background: var(--mw-backgroundColor-primary);
    border-top: 1px solid var(--mw-borderColor-secondary);

    /* Make the button group (accept, cancel, preview) always visible at the bottom. */
    position: sticky;
    bottom: 0;
}

.pa_taskPanel .previewButton {
    vertical-align: text-bottom; /* Aligns the button with the corresponding checkbox */
    float: right;
}

.pa_taskPanel .controlElement {
    margin-top: 4px;
    margin-bottom: 4px;
}

.pa_taskPanel .acceptButton {
    float: right;
    margin-right: 10px;
}

.pa_taskPanel .cancelButton {
    float: right;
}
