<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2024 The MathWorks, Inc.-->

<rsccat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0" locale="ja_JP" product="login" xsi:noNamespaceSchemaLocation="../../resources/schema/msgcat.xsd">
  <message>
    <entry key="Close" context="uistring">閉じる</entry>
    <entry key="Error" context="uistring">エラー</entry>
    <entry key="ErrorPersistFailed" context="warning">ログイン情報を保存できません。\n現在はサインインしていますが、このアプリケーションの次回起動時に、再度サインインするよう求められます。</entry>
    <entry key="Info" context="uistring">情報</entry>
    <entry key="Warning" context="uistring">警告</entry>
  </message>
</rsccat>
