<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2024 The MathWorks, Inc.-->

<rsccat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0" locale="ja_JP" product="Slvnv" xsi:noNamespaceSchemaLocation="../../resources/schema/msgcat.xsd">
  <message>
    <entry key="InvalidNewMapCellArrayNeeded">新しいマップが無効です。文字ベクトルのセル配列が必要です</entry>
    <entry key="InvalidNewMapColumnNeeded">新しいマップが無効です。3 つの列が必要です</entry>
    <entry key="CannotResolve">{0} を関連付けられません</entry>
    <entry key="FileNotExist">ファイル {0} がありません</entry>
    <entry key="SelectSlmxForLoad">トレーサビリティ リンクを読み込むファイルを選択</entry>
    <entry key="SelectSlmxForSave">トレーサビリティ リンクを保存するファイルを選択</entry>
  </message>
</rsccat>
