<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2024 The MathWorks, Inc.-->

<rsccat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0" locale="ja_JP" product="MATLAB" xsi:noNamespaceSchemaLocation="../../resources/schema/msgcat.xsd">
  <message>
    <entry key="Tool_dataCleaner_Label">データ クリーナー</entry>
    <entry key="Tool_dataCleaner_Description">列方向データを前処理して整理します (dataCleaner)</entry>
    <entry key="TITLE">データ クリーナー</entry>
    <entry key="HOME_TAB">ホーム</entry>
    <entry key="FILE_SECTION">ファイル</entry>
    <entry key="IMPORT_BUTTON_TEXT">インポート</entry>
    <entry key="IMPORT_BUTTON_DESCRIPTION">データのインポート</entry>
    <entry key="IMPORT_RECIPE">レシピのインポート</entry>
    <entry key="OPEN_BUTTON_TEXT">開く</entry>
    <entry key="OPEN_BUTTON_DESCRIPTION">データ クリーナー セッション ファイルを開きます</entry>
    <entry key="SAVE_BUTTON_TEXT">保存</entry>
    <entry key="SAVE_BUTTON_DESCRIPTION">データ クリーナー セッション ファイルを保存します</entry>
    <entry key="SAVE_AS_BUTTON_TEXT">名前を付けて保存</entry>
    <entry key="SAVE_AS_BUTTON_DESCRIPTION">データ クリーナー セッション ファイルを保存します</entry>
    <entry key="IMPORT_SINGLEVARIABLE_SUPPORT_ONLY">メモ: 現在、複数の変数のインポートはサポートされていません。</entry>
    <entry key="VARIABLE_NOT_IN_WORKSPACE">変数がベース ワークスペースに存在しません。</entry>
    <entry key="VIEW_SECTION">ビュー</entry>
    <entry key="SHOW_SUMMARY">要約統計量の表示</entry>
    <entry key="LEGEND">凡例の表示</entry>
    <entry key="CUSTOM_CATEGORY">カスタマイズ</entry>
    <entry key="ADD_CUSTOM_FUNCTION">関数の追加</entry>
    <entry key="EDIT_CUSTOM_FUNCTION">カスタム関数の編集</entry>
    <entry key="DATA_HEADER">データ</entry>
    <entry key="WORKFLOW_HEADER">ワークフロー</entry>
    <entry key="EXPORT_SECTION">エクスポート</entry>
    <entry key="EXPORT_BUTTON_TEXT">エクスポート</entry>
    <entry key="EXPORT_BUTTON_DESCRIPTION">データのエクスポート</entry>
    <entry key="EXPORT_VARIABLE_EXPORTED">変数 {0} は {1} として MATLAB ワークスペースにエクスポートされました</entry>
    <entry key="EXPORT_SCRIPT_EXPORTED">スクリプトへのエクスポートが完了しました</entry>
    <entry key="EXPORT_FUNCTION_EXPORTED">関数へのエクスポートが完了しました</entry>
    <entry key="EXPORT_DIALOG_TITLE">エクスポートが完了しました</entry>
    <entry key="EXPORT_WORKSPACE">ワークスペースにエクスポート</entry>
    <entry key="EXPORT_SCRIPT">スクリプトの生成</entry>
    <entry key="EXPORT_FUNCTION">関数の生成</entry>
    <entry key="EXPORT_RECIPE">レシピのエクスポート</entry>
    <entry key="TABULAR_DOC_GROUP_TITLE">表形式ビュー</entry>
    <entry key="TABULAR_DOC_TITLE">変数: {0}</entry>
    <entry key="PPTaskGroupTitle">クリーニング メソッド</entry>
    <entry key="PPTaskPanelTitle">プレビュー</entry>
    <entry key="PPTAB">クリーニング メソッド</entry>
    <entry key="PPMODE_SECTION">データのクリーニング</entry>
    <entry key="PPMODE_APPLY_BUTTON_TEXT">適用して閉じる</entry>
    <entry key="PPMODE_APPLY_BUTTON_DESCRIPTION">クリーニングを適用してメイン画面に戻ります</entry>
    <entry key="PPMODE_CANCEL_BUTTON_TEXT">キャンセル</entry>
    <entry key="PPMODE_CANCEL_BUTTON_DESCRIPTION">クリーニングをキャンセルしてメイン画面に戻ります</entry>
    <entry key="PPMODE_HELP_SECTION">ヘルプ</entry>
    <entry key="PPMODE_HELP_BUTTON_TEXT">ヘルプ</entry>
    <entry key="PPMODE_HELP_BUTTON_DESCRIPTION">このタスクに関連するドキュメンテーションを参照します</entry>
    <entry key="PPMODE_HELP_NOHELP">このタスクについて利用可能なヘルプがありません</entry>
    <entry key="PPMODE_SUBSET_SECTION">真部分集合である</entry>
    <entry key="PPMODE_SUBSET_CHECKBOX_TEXT">サブセットを使用してプレビュー</entry>
    <entry key="PPMODE_SUBSET_CHECKBOX_DESCRIPTION">パフォーマンス高速化のため、クリーニング タスク中にデータのサブセットを使用します</entry>
    <entry key="PPMODE_SUBSET_START_TEXT">開始</entry>
    <entry key="PPMODE_SUBSET_START_DESCRIPTION">サブセットの開始インデックス</entry>
    <entry key="PPMODE_SUBSET_END_TEXT">終了</entry>
    <entry key="PPMODE_SUBSET_END_DESCRIPTION">サブセットの終了インデックス</entry>
    <entry key="PPMODE_SUBSET_STEP_TEXT">ステップ</entry>
    <entry key="PPMODE_SUBSET_STEP_DESCRIPTION">サブセットのステップ。開始から終了まで項目が n 番目ごとに選択されます。</entry>
    <entry key="VARIABLE_PANEL_TITLE">変数</entry>
    <entry key="VISIBLE_COLUMN_NAME">プロット</entry>
    <entry key="HISTORY_PANEL_TITLE">クリーニング ステップ</entry>
    <entry key="CLEANED_TABLE_OUTPUT_NAME">クリーニング済み</entry>
    <entry key="TASK_GROUP_CLEANING">クリーニング</entry>
    <entry key="TASK_GROUP_RESHAPING">形状変更</entry>
    <entry key="TASK_GROUP_SYNCHRONIZING">同期</entry>
    <entry key="TASK_GROUP_USER">ユーザーによる作成</entry>
    <entry key="TASK_PANEL_TITLE">クリーニング パラメーター</entry>
    <entry key="CUSTOMPP_SECTION">カスタム前処理</entry>
    <entry key="ADD_CUSTOMPP_BUTTON_TEXT">ギャラリーにカスタム関数を追加</entry>
    <entry key="ADD_CUSTOMPP_BUTTON_DESCRIPTION">ギャラリーに新しいカスタム前処理タスクを作成します</entry>
    <entry key="ADD_CUSTOMPP_ERROR">カスタム前処理の追加中にエラーが発生しました</entry>
    <entry key="TASK_COLUMN_TRANSFORM_BUTTON_TEXT">列変数の計算</entry>
    <entry key="TASK_COLUMN_TRANSFORM_BUTTON_DESCRIPTION">新しい列変数を作成するか、既存の列変数を計算値でオーバーライドします</entry>
    <entry key="RETIME_NAME">timetable のリサンプリング</entry>
    <entry key="MOTW_UNSUPPORTED_PLATFORM_ERROR">関数 'dataCleaner' は MATLAB Online でサポートされていないため、実行できません。この関数を使用するには、コンピューター上にある MATLAB のインストール バージョンを使用してください。</entry>
    <entry key="USR_ACTION_ERROR_TITLE">無効なアクション</entry>
    <entry key="USR_ACTION_ERROR_TEXT">アクションの結果、無効な状態となりました。ユーザー アクションを元に戻しています。</entry>
    <entry key="USR_ACTION_ERROR_NO_NEW_WS_VARS">コードで新しい変数をワークスペースに追加できません。</entry>
    <entry key="ERROR_IMPORT_RECIPE_INVALID">レシピが無効です。 \n[レシピのエクスポート] 機能で作成された有効なファイルを選択してください</entry>
    <entry key="ERROR_IMPORT_RECIPE_MISSING_TABLE">読み込みステップでエラーが発生しました: {0} \nTable または Timetable {1} が見つかりません</entry>
    <entry key="ERROR_IMPORT_RECIPE_MISSING_TABLE_WITH_VAR">読み込みステップでエラーが発生しました: {0} \n変数 {2} をもつ Table または Timetable {1} が見つかりません</entry>
    <entry key="ERROR_IMPORT_INVALID_SESSION_FILE_TEXT">MAT ファイル (*.mat) はデータ クリーナー セッション ファイルでなければなりません。</entry>
    <entry key="IMPORT_START_SCREEN">開始データをインポート</entry>
    <entry key="IMPORT_WORKSPACE">ワークスペースからインポート</entry>
    <entry key="IMPORT_FILE">ファイルからインポート</entry>
    <entry key="VARIABLE_SELECTOR_TEXT">table または timetable を選択</entry>
    <entry key="VARIABLE_SELECTOR_SUB_TEXT">変数</entry>
    <entry key="CANCEL_BUTTON_TEXT">キャンセル</entry>
    <entry key="OK_BUTTON_TEXT">OK</entry>
    <entry key="NO_VAR_WARNING">データ クリーナーは表形式データのみをサポートします。\n\n 有効な table または timetable を MATLAB ワークスペースに追加してください。</entry>
    <entry key="NO_VAR_WARNING_TITLE">データ クリーナー</entry>
    <entry key="STEP_RESET_WARNING_TEXT">新しいデータ セットをインポートすると、既存のデータが上書きされ、すべての前処理ステップがクリアされます。 \n終了する前にキャンセルして戻り、セッションを保存してください。</entry>
    <entry key="STEP_RESET_WARNING_PANEL_TITLE">データ クリーナー</entry>
    <entry key="STEP_RESET_WARNING_OK">そのままインポート</entry>
    <entry key="STEP_RESET_WARNING_CANCEL">キャンセル</entry>
    <entry key="DATA_LARGE_WARNING_TEXT">大規模なデータ セットをインポートすると、アプリのパフォーマンスが低下します。\n\n セッションに戻って、データのサブセットを選択してクリーニングするには、キャンセルしてください。</entry>
    <entry key="DATA_LARGE_WARNING_TITLE">データ クリーナー</entry>
    <entry key="DATA_LARGE_WARNING_OK">そのままインポート</entry>
    <entry key="DATA_LARGE_WARNING_CANCEL">キャンセル</entry>
    <entry key="DATA_NOT_PLOTTABLE">データ クリーナーは "{0}" のプロットをサポートしません。</entry>
    <entry key="STEP_DELETE_WARNING_TEXT">クリーニング ステップが削除され、データが更新されます。続行しますか?</entry>
    <entry key="UNSAVED_CHANGES_WARNING_TEXT">未保存の変更があります。アプリを閉じますか?</entry>
    <entry key="TIMESTAMP_HAS_MISSING">行時間 (X 軸として使用) の値が欠落しています。現在の操作を実行する前に、行時間を整理 (時間再調整) してください。</entry>
    <entry key="TIMESTAMP_NON_FINITE">行時間 (X 軸として使用) の値が非有限です。現在の操作を実行する前に、行時間を整理 (時間再調整) してください。</entry>
    <entry key="TIMESTAMP_NOT_SORTED">行時間の値が重複しているか、行時間が昇順の並びではありません。現在の操作を実行する前に、行時間を整理 (時間再調整) してください。</entry>
    <entry key="TIMESTAMP_ISSUES_COMBINED">行時間が昇順の並びでないか、重複、欠損、または非有限の値があります。現在の操作を実行する前に、行時間を整理 (時間再調整) してください。</entry>
    <entry key="NO_TIMETABLE_TO_RETIME">timetable をインポートして時間を再調整します。</entry>
    <entry key="DATA_EMPTY">空の table または timetable をクリーニングすることはサポートされていません。</entry>
    <entry key="SESSION_FILE_OPEN_PROMPT">このセッションは {1} の Version {0} で生成されています。\nセッションを再開するには、セッション ファイルを {2} で開いてください。\n\n</entry>
  </message>
</rsccat>
