<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2024 The MathWorks, Inc.-->

<rsccat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0" locale="ja_JP" product="nav" xsi:noNamespaceSchemaLocation="../../resources/schema/msgcat.xsd">
  <message>
    <entry key="InvalidInputScans">1 番目の入力が無効です。cell 配列の場合、lidarScan オブジェクトの cell 配列が必要です。</entry>
    <entry key="InvalidInputPoses">2 番目の入力が無効です。有限ベクトル [x y theta] の cell 配列が必要です。</entry>
    <entry key="ScansAndPosesNumMismatch">スキャンと姿勢の両方を cell 配列として指定する場合、それらのエントリ数は同じでなければなりません。</entry>
    <entry key="UnrecognizedInput">SLAM マップ ビルダー が、指定された入力を解析できません。入力引数を指定せずにアプリを起動してください。</entry>
    <entry key="ReadBag">{0} を読み込むことができませんでした。 </entry>
    <entry key="NoScanTopic">指定された rosbag {0} には、sensor_msgs/LaserScan タイプのスキャン トピックが含まれていません。</entry>
    <entry key="UseWithROSBags">''slamMapBuilder'' を使用して rosbags をインポートするには ROS Toolbox のライセンスが必要です。</entry>
  </message>
</rsccat>
