<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2025 The MathWorks, Inc.-->

<rsccat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0" locale="ja_JP" product="gpucoder" xsi:noNamespaceSchemaLocation="../../resources/schema/msgcat.xsd">
  <message>
    <entry key="unsupported_macos">GPU による高速化は MAC OS ではサポートされていません。</entry>
    <entry key="incompatible_gpu_driver">グラフィックス ドライバーに問題があるため、GPU を使用する高速化は使用できません。\n{0}</entry>
    <entry key="no_gpus_dlaccel">互換性のある GPU デバイスがホスト システムに見つかりません。GPU を使用する高速化は使用できません。</entry>
    <entry key="unsupported_gpu_accel">インデックス {0} をもつ選択した GPU デバイスはサポートされていません。GPU を使用する高速化は使用できません。</entry>
    <entry key="unsupported_cc_accel">インデックス {0} をもつ選択した GPU の Compute Capability {1} はサポートされていません。GPU を使用する高速化は使用できません。</entry>
    <entry key="no_supported_host_compiler">サポートされている C++ ホスト コンパイラが見つかりません。サポートされているコンパイラのリストについては、&lt;a href="https://www.mathworks.com/support/requirements/supported-compilers.html"&gt;サポートされているコンパイラ&lt;/a&gt;を参照してください </entry>
    <entry key="unsupported_host_compiler">選択した C++ ホスト コンパイラ ''{0}'' は、CUDA コード生成ではサポートされていません。''{1}'' を使用して、サポートされているコンパイラを選択してください。サポートされているコンパイラのリストについては、&lt;a href="https://www.mathworks.com/support/requirements/supported-compilers.html"&gt;サポートされているコンパイラ&lt;/a&gt;を参照してください </entry>
    <entry key="no_gpus">互換性のある GPU デバイスがホスト システムに見つかりません。生成された GPU MEX の実行とプロファイリングはできません。</entry>
    <entry key="no_compatible_driver">グラフィックス ドライバーまたはこの GPU デバイスに問題があります。コード実行は利用できません。サポートされている GPU と最新のグラフィックス ドライバーがあることを確認してください。</entry>
    <entry key="unsupported_gpu">インデックス {0} をもつ選択した GPU デバイスは、Parallel Computing Toolbox でサポートされていません。生成された GPU MEX の実行はできません。</entry>
    <entry key="unsupported_cc">インデックス {0} をもつ選択した GPU の Compute Capability {1} は、GPU Coder でサポートされていません。生成された GPU MEX の実行はできません。</entry>
    <entry key="no_cuda_env_var">環境変数 'CUDA_PATH' が見つかりません。インストールした CUDA ツールキットのルート ディレクトリを指すように 'CUDA_PATH' を設定してください。</entry>
    <entry key="nvcc_cmd_failed">nvcc コマンドを実行できません。CUDA ツールキットのインストールを確認してください。</entry>
    <entry key="nvcc_cmd_failed_board">システム パス上に nvcc が見つかりません。ターゲット上にある .bashrc シェル ログイン スクリプトを更新して、環境変数 'PATH' を設定してください。</entry>
    <entry key="no_cuda_library">{0} ライブラリが見つかりません。CUDA ツールキットで使用できるすべてのライブラリをインストールしてください。</entry>
    <entry key="no_cuda_library_board">{0} ライブラリが見つかりません。ターゲット上にある .bashrc シェル ログイン スクリプトを更新して、環境変数 'LD_LIBRARY_PATH' を設定してください。</entry>
    <entry key="codegen_failed_report">エラー ''{0}'' により、GPU コード生成に失敗しました。詳細については、レポートを表示してください: &lt;a href="matlab:open(''{1}'')"&gt;レポートの表示&lt;/a&gt;</entry>
    <entry key="codegen_failed_report_noerrorid">GPU code generation failed with an error. View report for further information: &lt;a href="matlab:open(''{0}'')"&gt;View report&lt;/a&gt;</entry>
    <entry key="codegen_failed_reporterror_noerrorid">エラーにより、GPU コード生成に失敗しました。現在の作業フォルダーでレポートを生成できません。フォルダーが書き込み可能か確認してください。</entry>
    <entry key="mex_compiler_not_found">選択した C++ MEX コンパイラ ''{0}'' は MEX 高速化でサポートされていません。{1} を使用して、サポートされている C++ MEX コンパイラを選択してください。</entry>
    <entry key="code_execution_failed">生成された GPU コードの実行が MATLAB に対応していませんでした。</entry>
    <entry key="timeout_board_exec">Timeout exceeded during code execution. Increase the value of the ExecTimeout property of the coder.gpuEnvConfig object.</entry>
    <entry key="timeout_board_exec_app">コード実行時にタイムアウトを超過しました。実行タイムアウトの値を大きくしてください。</entry>
    <entry key="no_cudnn_env_var">環境変数 'NVIDIA_CUDNN' が見つかりません。cuDNN インストールのルート ディレクトリを指すように 'NVIDIA_CUDNN' を設定してください。</entry>
    <entry key="no_tensorrt_env_var">環境変数 'NVIDIA_TENSORRT' が見つかりません。TensorRT インストールのルート ディレクトリを指すように、'NVIDIA_TENSORRT' を設定してください。</entry>
    <entry key="invalid_parameter">入力パラメーター ''{0}'' が無効です。サポートされているパラメーターの詳細については、'help {1}' を参照してください。</entry>
    <entry key="no_cudnn_header">ディレクトリ ''{0}'' に cuDNN ヘッダー ファイルが見つかりません。指定した cuDNN SDK と共に cuDNN ヘッダーがインストールされていることを確認してください。</entry>
    <entry key="no_cudnn_library">ディレクトリ ''{0}'' に cuDNN ライブラリが見つかりません。指定した cuDNN SDK と共に cuDNN ライブラリがインストールされていることを確認してください。</entry>
    <entry key="no_tensorrt_header">''{0}'' に TensorRT ヘッダー ファイル ''{1}'' が見つかりません。指定したヘッダー ファイルが TensorRT SDK インストールに含まれていることを確認してください。</entry>
    <entry key="no_tensorrt_library">''{0}'' に TensorRT ライブラリ ''{1}'' が見つかりません。指定したライブラリ ファイルが TensorRT SDK インストールに含まれていることを確認してください。</entry>
    <entry key="no_tensorrt_library_in_llp">mex ターゲットの環境変数 ''{0}'' に TensorRT ライブラリが見つかりません。TensorRT ライブラリ パスを ''{0}'' に追加してから、MATLAB を起動してください。</entry>
    <entry key="invalid_cc_arch">Jetson クロスコンパイルは、Linux プラットフォームでのみサポートされます。</entry>
    <entry key="no_crosscompile_env_var">環境変数 ''{0}'' が見つかりません。クロス コンパイルではこの環境変数を設定しなければなりません。</entry>
    <entry key="no_crosscompiler">Jetson ''{0}'' 用の ''{1}'' クロスコンパイラが見つかりません。指定したクロスコンパイラと共にこのツールがインストールされていることを確認してください。</entry>
    <entry key="gpu_sys_check">1 つ以上のシステム チェックが以下のエラーで失敗しました。\n{0}</entry>
    <entry key="code_execution_error">生成された GPU コードは、次のエラー ''{0}'' により正常に実行できませんでした。</entry>
    <entry key="unsupported_tensorrt_datatype">TensorRT {2} には Compute Capability {1} が必要です。Compute Capability が {0} である選択した GPU は、{2} の推定でサポートされません。</entry>
    <entry key="no_nvtx_lib">NVTX ライブラリ ''{0}'' が見つかりません。指定したライブラリ ファイルが NVTX SDK インストールに含まれていることを確認してください。 </entry>
    <entry key="no_nvtx_env_var">環境変数 'NVTOOLSEXT_PATH' が見つかりません。NVTX インストールのルート ディレクトリを指すように 'NVTOOLSEXT_PATH' を設定してください。</entry>
    <entry key="gpu_check_config">{0} Consider using coder.gpuEnvConfig object as the input argument to coder.checkGpuInstall instead of string arguments.</entry>
    <entry key="gpu_check_crosscompile">Argument {0} is invalid. The cross-compilation workflow will be deprecated in a future release.</entry>
    <entry key="invalid_gpu_id">CUDA デバイス id {0} は無効です。範囲 {1} からデバイス ID を選択してください。</entry>
    <entry key="library_ver_mismatch_warn">警告: 深層学習コード生成は、{0} v{1} を使用してテストされました。指定された {0} ライブラリの v{2} に完全な互換性がない可能性があります。</entry>
    <entry key="library_ver_error">{0} ライブラリのバージョン ''{1}'' の確認中にエラーが発生しました。</entry>
    <entry key="device_deprecated_warn">警告: Compute Capability {0} が設定されている GPU デバイスのサポートは、今後の MATLAB リリースで削除される予定です。詳細については、&lt;a href="matlab:web('https://www.mathworks.com/help/parallel-computing/gpu-support-by-release.html','-browser')"&gt;リリース別の GPU サポート&lt;/a&gt;を参照してください。</entry>
    <entry key="GPUAccelerationOnWithNoLicense"> 
  
  {0}\n\n
  ''GPUAcceleration'' parameter is enabled in ''{1}'' even though a valid GPU Coder license is not available. Consider running set_param(''{1}'', ''GPUAcceleration'', ''off'') to turn off GPU acceleration.
  &lt;actions exclusiveFixIts="yes"&gt;
    &lt;action type="fixit"&gt;
        &lt;cmd&gt;configset.internal.fixIt(''{1}'',''GPUAcceleration'',''off'')&lt;/cmd&gt;
        &lt;txt&gt;Turn off &lt;sldiag objui="configset" objparam="GPUAcceleration"&gt;GPU Acceleration&lt;/sldiag&gt;&lt;/txt&gt;
    &lt;/action&gt;
  &lt;/actions&gt;
</entry>
    <entry key="GenerateGPUCodeOnWithNoLicense">
  {0}\n\n
  CUDA code generation is enabled in ''{1}'' even though a valid GPU Coder license is not available. Consider disabling CUDA code generation by running set_param(''{1}'', ''GenerateGPUCode'', ''None'').
  &lt;actions exclusiveFixIts="yes"&gt;
    &lt;action type="fixit"&gt;
        &lt;cmd&gt;configset.internal.fixIt(''{1}'',''GenerateGPUCode'',''None'')&lt;/cmd&gt;
        &lt;txt&gt;Turn off &lt;sldiag objui="configset" objparam="GenerateGPUCode"&gt;Generate GPU Code&lt;/sldiag&gt;&lt;/txt&gt;
    &lt;/action&gt;
  &lt;/actions&gt;
</entry>
    <entry key="gpu_check_hwobj_empty">HardwareObject property of the coder.gpuEnvConfig object is empty. Set this property to a {0} object.</entry>
    <entry key="gpu_check_hwobj">HardwareObject property of the {0} coder.gpuEnvConfig object must be a {0} object.</entry>
    <entry key="gpu_check_timeout">ExecTimeout property of the coder.gpuEnvConfig object must be a scalar double greater than zero.</entry>
    <entry key="gpu_check_no_hsp">This feature requires the &lt;a href="matlab: matlab.addons.supportpackage.internal.explorer.showSupportPackages(''nvidia'', ''tripwire'')"&gt;MATLAB Coder Support Package for NVIDIA Jetson and NVIDIA DRIVE Platforms&lt;/a&gt; support package.</entry>
    <entry key="gpu_computecheck_tensorrt">DataType property of the coder.gpuEnvConfig object requires the DeepLibTarget property be set to 'tensorrt'.</entry>
    <entry key="gpu_check_config_validate">Error setting property {0} of class {1}: \n{2}.</entry>
    <entry key="gpu_profiling_check_deprecate">coder.gpuEnvConfig の Profiling プロパティは推奨されません。</entry>
    <entry key="gpu_library_check_error_hsp">NVIDIA Jetson ハードウェア上で {0} ライブラリの検索中に次のエラーが発生しました。\n{1}</entry>
    <entry key="gpu_check_no_hsp_app">この機能には NVIDIA サポート パッケージが必要です。アドオン エクスプローラーからインストールしてください。</entry>
    <entry key="file_open_error_script">現在の作業フォルダーに 'gpuEnvSettings.m' スクリプトを作成できません。</entry>
    <entry key="file_open_error_report">現在の作業フォルダーに HTML レポートを作成できません。</entry>
    <entry key="app_open_error">GPU 環境チェック アプリケーションは既に実行中です。</entry>
    <entry key="error_board_connection">ボードへの接続中にエラーが発生しました: \n{0}。</entry>
    <entry key="success_board_connection">正常に接続しました。</entry>
    <entry key="script_saved_message">'gpuEnvSettings.m' スクリプトは現在の作業フォルダーに保存されます。</entry>
    <entry key="incomplete_board_settings">入力引数が不足しています。すべてのボード設定を指定しなければなりません。</entry>
    <entry key="invalid_input_timeout">実行タイムアウトはゼロより大きい double のスカラーでなければなりません。</entry>
    <entry key="compatible_gpu_not_found">互換性のある GPU デバイスがホスト システムに見つかりません。生成された GPU MEX の\n実行とプロファイリングはできません。</entry>
    <entry key="compatible_driver_not_found">グラフィックス ドライバーまたはこの GPU デバイスに問題があります。コード実行は利用できません。サポートされている GPU と最新のグラフィックス ドライバーがあることを確認してください。</entry>
    <entry key="gpucodersetup_report_name">GPU コード生成環境チェック レポート</entry>
    <entry key="gpucodersetup_report_gpuname">{0} の結果 : {1}</entry>
    <entry key="gpucodersetup_passed">パス</entry>
    <entry key="gpucodersetup_failed">失敗</entry>
    <entry key="table_host_compiler">ホスト コンパイラ</entry>
    <entry key="table_compatible_gpu">互換性のある GPU</entry>
    <entry key="table_cuda_env">CUDA 環境</entry>
    <entry key="table_cudnn_env">cuDNN 環境</entry>
    <entry key="table_tensorrt_env">TensorRT 環境</entry>
    <entry key="table_basic_codegen">基本的なコードの生成</entry>
    <entry key="table_basic_codeexec">基本的なコードの実行</entry>
    <entry key="table_dl_codegen">深層学習 ({0}) コードの生成</entry>
    <entry key="table_dl_codeexec">深層学習 ({0}) コードの実行</entry>
    <entry key="table_dl_tensorrt_cc_check">TensorRT {0} の Compute Capability チェック</entry>
    <entry key="table_profiling_env">プロファイリング環境</entry>
    <entry key="table_libname_runtime">ランタイム</entry>
    <entry key="table_libname_cufft">cuFFT</entry>
    <entry key="table_libname_cusolver">cuSOLVER</entry>
    <entry key="table_libname_cublas">cuBLAS</entry>
    <entry key="table_colname_check">チェック</entry>
    <entry key="table_colname_result">結果</entry>
    <entry key="table_colname_message">メッセージ</entry>
    <entry key="table_header_env_checks">環境のチェック</entry>
    <entry key="table_header_basic_codegen_checks">基本的なコード生成のチェック</entry>
    <entry key="table_header_dl_codegen_checks">深層学習コード生成のチェック - {0} {1}</entry>
    <entry key="gpucodersetup_uistr_fileopen">ファイルを開けませんでした</entry>
    <entry key="gpucodersetup_uistr_savesettings">設定の保存</entry>
    <entry key="gpucodersetup_uistr_incompinputs">不完全な入力</entry>
    <entry key="gpucodersetup_uistr_invalidinput">入力が無効です</entry>
    <entry key="gpucodersetup_uistr_connboard">ボードに接続中</entry>
    <entry key="gpucodersetup_uistr_connfailure">接続失敗</entry>
    <entry key="gpucodersetup_uistr_connsuccess">成功</entry>
    <entry key="gpucodersetup_uistr_connected">{0} に接続済み</entry>
    <entry key="gpucodersetup_uistr_running_chks">チェックを実行中</entry>
    <entry key="gpucodersetup_uistr_checking_env">環境をチェック中</entry>
    <entry key="gpucodersetup_uistr_gen_report">レポートを生成中</entry>
    <entry key="gpucodersetup_cudaenv_not_found">CUDA 環境が見つかりません。</entry>
    <entry key="gpucodersetup_cudnn_not_found">cuDNN 環境が見つかりません。</entry>
    <entry key="gpucodersetup_tensorrt_not_found">TensorRT 環境が見つかりません。</entry>
    <entry key="gpucodersetup_nvtx_not_found">NVTX ライブラリへのパスが見つかりません。</entry>
    <entry key="gpucodersetup_uialert_msg">ファイルを開けませんでした</entry>
    <entry key="gpucodersetup_script_msg">%% このスクリプトは {0} 上の gpucoderSetup から作成されています \n \n</entry>
    <entry key="gpucodersetup_script_selecting_gpu">\n%% GPU の選択 \n</entry>
    <entry key="gpucodersetup_script_cuda_path">\n\n%% CUDA インストール パス \n</entry>
    <entry key="gpucodersetup_script_cudnn_path">\n\n%% cuDNN インストール パス \n</entry>
    <entry key="gpucodersetup_script_tensorrt_path">\n\n%% TensorRT インストール パス \n</entry>
    <entry key="gpucodersetup_script_nvtx_path">\n\n%% NVTX ライブラリ パス \n</entry>
    <entry key="gpucodersetup_select_cuda_path">CUDA インストールへのパスを選択</entry>
    <entry key="gpucodersetup_select_cudnn_path">CuDNN インストールへのパスを選択</entry>
    <entry key="gpucodersetup_select_tensorrt_path">TensorRT インストールへのパスを選択</entry>
    <entry key="gpucodersetup_select_nvtx_path">NVTX ライブラリへのパスを選択</entry>
    <entry key="gpucodersetup_prop_fig_name">GPU 環境のチェック</entry>
    <entry key="gpucodersetup_prop_fig_desc">GPU コード生成環境のチェック/セットアップ</entry>
    <entry key="gpucodersetup_prop_hwmenu_label">ハードウェアの選択</entry>
    <entry key="gpucodersetup_prop_gpumenu_label">GPU の選択</entry>
    <entry key="gpucodersetup_prop_workchecks_panel">ワークフロー チェック</entry>
    <entry key="gpucodersetup_prop_basiccodegen">\ \ \ \ \ \ \ \ 基本的なコードの生成</entry>
    <entry key="gpucodersetup_prop_dlcodegen">\ \ \ \ \ \ \ \ 深層学習コードの生成</entry>
    <entry key="gpucodersetup_prop_gencode">コード生成</entry>
    <entry key="gpucodersetup_prop_execcode">生成および実行</entry>
    <entry key="gpucodersetup_prop_silprof">SIL プロファイリング</entry>
    <entry key="gpucodersetup_prop_target">ターゲット</entry>
    <entry key="gpucodersetup_prop_data_type">データ型</entry>
    <entry key="gpucodersetup_prop_envchecks_panel">環境のチェック</entry>
    <entry key="gpucodersetup_prop_cudapath_label">CUDA インストール パス</entry>
    <entry key="gpucodersetup_prop_cudnnpath_label">cuDNN</entry>
    <entry key="gpucodersetup_prop_tensorrtpath_label">TensorRT</entry>
    <entry key="gpucodersetup_prop_nvtxpath_label">NVTX ライブラリ パス</entry>
    <entry key="gpucodersetup_prop_cudapath_tooltip">CUDA インストール パスを参照</entry>
    <entry key="gpucodersetup_prop_cudnnpath_tooltip">cuDNN インストール パスを参照</entry>
    <entry key="gpucodersetup_prop_tensorrtpath_tooltip">TensorRT インストール パスを参照</entry>
    <entry key="gpucodersetup_prop_nvtxpath_tooltip">NVTX ライブラリ パスを参照</entry>
    <entry key="gpucodersetup_prop_doc_tooltip">GPU Coder ドキュメンテーション</entry>
    <entry key="gpucodersetup_prop_runchks_button">チェックの実行</entry>
    <entry key="gpucodersetup_prop_runchks_tooltip">選択したチェックを実行</entry>
    <entry key="gpucodersetup_prop_export_button">設定のエクスポート</entry>
    <entry key="gpucodersetup_prop_export_tooltip">現在の設定を MATLAB スクリプトとしてエクスポート</entry>
    <entry key="gpucodersetup_prop_clear_button">クリア</entry>
    <entry key="gpucodersetup_prop_clear_tooltip">ボード設定をクリア</entry>
    <entry key="gpucodersetup_prop_connect_button">接続</entry>
    <entry key="gpucodersetup_prop_connect_tooltip">ボードに接続</entry>
    <entry key="gpucodersetup_prop_board_panel">ボードの設定</entry>
    <entry key="gpucodersetup_prop_device_addr">デバイスのアドレス</entry>
    <entry key="gpucodersetup_prop_device_addr_tooltip">ボード アドレス</entry>
    <entry key="gpucodersetup_prop_device_usrn">ユーザー名</entry>
    <entry key="gpucodersetup_prop_device_usrn_tooltip">ボードにアクセスするためのユーザー名</entry>
    <entry key="gpucodersetup_prop_device_pswd">パスワード</entry>
    <entry key="gpucodersetup_prop_device_pswd_tooltip">ボードにアクセスするためのパスワード</entry>
    <entry key="gpucodersetup_prop_device_devid">GPU デバイス ID</entry>
    <entry key="gpucodersetup_prop_device_devid_tooltip">ドライブ ボード上の GPU デバイスのインデックス</entry>
    <entry key="gpucodersetup_prop_device_exectimeout">実行タイムアウト</entry>
    <entry key="gpucodersetup_prop_device_exectimeout_tooltip">コード実行が完了するまで待機する最大時間 (秒単位)</entry>
    <entry key="gpucoder_fcn_not_supp_platform">Unable to run the {0} function because it is not supported for {1}.</entry>
  </message>
</rsccat>
