.icons_images_ipt_plot_picker_imtool { background-image: url('../images/icons_images_sprite.png'); background-position: 0 0; width: 60px; height: 46px; }
.icons_images_ipt_plot_picker_implay { background-image: url('../images/icons_images_sprite.png'); background-position: -60px 0; width: 60px; height: 40px; }
