<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2024 The MathWorks, Inc.-->

<rsccat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0" locale="ja_JP" product="SimulinkProject" xsi:noNamespaceSchemaLocation="../../resources/schema/msgcat.xsd">
  <message>
    <entry key="ProjectFileMenu">プロジェクト</entry>
    <entry key="ProjectAdd">プロジェクトに追加</entry>
    <entry key="ProjectRemove">プロジェクトから削除</entry>
    <entry key="ProjectOpen">プロジェクトを開く</entry>
    <entry key="ProjectShow">プロジェクト内に表示</entry>
    <entry key="ProjectCreate">モデルからプロジェクトを作成</entry>
    <entry key="ProjectShowDependencies">依存関係を検索</entry>
    <entry key="checkout">ファイルをロック</entry>
    <entry key="unCheckout">ローカルな変更を破棄してロックを解放</entry>
    <entry key="revertLocal">ローカルの変更を元に戻す</entry>
    <entry key="CompareToAncestor">先祖と比較</entry>
    <entry key="CompareToRevision">リビジョンと比較</entry>
    <entry key="ModelNotInProject">このモデルはプロジェクトのルート フォルダーにありません。</entry>
  </message>
</rsccat>
