<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2024 The MathWorks, Inc.-->

<rsccat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0" locale="ja_JP" product="SimulinkProject" xsi:noNamespaceSchemaLocation="../../resources/schema/msgcat.xsd">
  <message>
    <entry key="SimulinkSettingsName">Simulink</entry>
    <entry key="CacheFolderName">シミュレーション キャッシュ フォルダー</entry>
    <entry key="CacheFolderDescription">シミュレーション キャッシュ フォルダー:</entry>
    <entry key="CacheFolderDefaultValue">既定</entry>
    <entry key="CodeGenFolderName">コード生成フォルダー</entry>
    <entry key="CodeGenFolderDescription">コード生成フォルダー:</entry>
    <entry key="CodeGenFolderDefaultValue">既定</entry>
    <entry key="OverridenCheckboxTooltip">他のプロジェクトの設定で必要</entry>
  </message>
</rsccat>
