@import "variables";

.mwDefaultVisualFamily.mwWidget.mwMenuHeader {
  color: var(--mw-color-primary, $mw-color-primary);
}

.mwDefaultVisualFamily.mwWidget.mwMenuHeader{
  background: var(--mw-backgroundColor-secondary, $mw-backgroundColor-secondary);
}
