.mwWidgetPopup.dijitPopup {
  border: 1px solid var(--mw-borderColor-primary, $mw-borderColor-primary);
}
.mwMenu,
.mwContextMenu {
  background: var(--mw-backgroundColor-primary, $mw-backgroundColor-primary);
}
