@import "variables";

/* Both drop Down and the parent should be highlighted */
.mwDefaultVisualFamily.mwWidget.mwPopupMenuItemHover {
  background: var(--mw-backgroundColor-hover, $mw-backgroundColor-hover);
}

.mwDefaultVisualFamily.mwWidget.mwHasMenuOpened {
  background: var(--mw-backgroundColor-hover, $mw-backgroundColor-hover);
}
