@import "variables";

.mwDefaultVisualFamily.mwWidget.mwTextFieldMenuItem.mwSharedMenuItem:focus {
  background: none; /* No Highlight color  on entire TextField MenuItem*/
}

.mwDefaultVisualFamily.mwWidget.mwTextFieldMenuItem.mwSharedMenuItem .mwTextFieldWrapperNode {
    flex-grow: 1;
}