<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2025 The MathWorks, Inc.-->

<rsccat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0" locale="ja_JP" product="gpucoder" xsi:noNamespaceSchemaLocation="../../resources/schema/msgcat.xsd">
  <message>
    <entry key="languageGpuDesc">GPU で高速化された CUDA コードと C++</entry>
    <entry key="licenseCheckoutFailed" context="error">Unable to check out a GPU Coder license. GPU code generation requires a GPU Coder license.</entry>
    <entry key="tabTitle">GPU Coder</entry>
    <entry key="languageGroupTitle">GPU Coder</entry>
    <entry key="languageGpuTitle">CUDA</entry>
  </message>
</rsccat>
