<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2025 The MathWorks, Inc.-->

<rsccat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0" locale="ko_KR" product="gpucoder" xsi:noNamespaceSchemaLocation="../../resources/schema/msgcat.xsd">
  <message>
    <entry key="unsupported_macos">GPU acceleration is not supported on MAC OS.</entry>
    <entry key="incompatible_gpu_driver">그래픽스 드라이버 문제로 인해 GPU를 사용한 가속을 사용할 수 없습니다.\n{0}</entry>
    <entry key="no_gpus_dlaccel">A compatible GPU device is not found on the host system. Acceleration using GPUs is not available.</entry>
    <entry key="unsupported_gpu_accel">인덱스 {0}이(가) 있는, 선택한 GPU 장치는 지원되지 않습니다. GPU를 사용한 가속을 사용할 수 없습니다.</entry>
    <entry key="unsupported_cc_accel">인덱스 {0}이(가) 있는, 선택한 GPU의 Compute Capability {1}은(는) 지원되지 않습니다. GPU를 사용한 가속을 사용할 수 없습니다.</entry>
    <entry key="no_supported_host_compiler">지원되는 C++ 호스트 컴파일러를 찾을 수 없습니다. 지원되는 컴파일러 목록을 보려면 &lt;a href="https://www.mathworks.com/support/requirements/supported-compilers.html"&gt;지원되는 컴파일러&lt;/a&gt;를 참조하십시오 </entry>
    <entry key="unsupported_host_compiler">선택한 C++ 호스트 컴파일러 ''{0}''은(는) CUDA 코드 생성에 대해 지원되지 않습니다. 지원되는 컴파일러를 선택하려면 ''{1}''을(를) 사용하십시오. 지원되는 컴파일러 목록을 보려면 &lt;a href="https://www.mathworks.com/support/requirements/supported-compilers.html"&gt;지원되는 컴파일러&lt;/a&gt;를 참조하십시오 </entry>
    <entry key="no_gpus">호스트 시스템에서 호환되는 GPU 장치를 찾을 수 없습니다. 생성된 GPU MEX의 실행 및 프로파일링을 사용할 수 없습니다.</entry>
    <entry key="no_compatible_driver">그래픽스 드라이버 또는 이 GPU 장치에 문제가 있습니다. 코드 실행을 사용할 수 없습니다. 지원되는 GPU와 최신 그래픽스 드라이버가 있는지 확인하십시오.</entry>
    <entry key="unsupported_gpu">인덱스 {0}이(가) 있는, 선택한 GPU 장치는 Parallel Computing Toolbox에서 지원되지 않습니다. 생성된 GPU MEX의 실행을 사용할 수 없습니다.</entry>
    <entry key="unsupported_cc">인덱스 {0}이(가) 있는, 선택한 GPU의 Compute Capability {1}은(는) GPU Coder에서 지원되지 않습니다. 생성된 GPU MEX의 실행을 사용할 수 없습니다.</entry>
    <entry key="no_cuda_env_var">'CUDA_PATH' 환경 변수를 찾을 수 없습니다. 설치된 CUDA 툴킷의 루트 디렉터리를 가리키도록 'CUDA_PATH'를 설정하십시오.</entry>
    <entry key="nvcc_cmd_failed">nvcc 명령을 실행할 수 없습니다. CUDA 툴킷 설치를 확인하십시오.</entry>
    <entry key="nvcc_cmd_failed_board">시스템 경로에서 nvcc를 찾을 수 없습니다. 타깃에서 .bashrc shell 로그인 스크립트를 업데이트하여 'PATH' 환경 변수를 설정하십시오.</entry>
    <entry key="no_cuda_library">{0} 라이브러리를 찾을 수 없습니다. CUDA 툴킷에서 사용 가능한 모든 라이브러리를 설치하십시오.</entry>
    <entry key="no_cuda_library_board">{0} 라이브러리를 찾을 수 없습니다. 타깃에서 .bashrc shell 로그인 스크립트를 업데이트하여 'LD_LIBRARY_PATH' 환경 변수를 설정하십시오.</entry>
    <entry key="codegen_failed_report">오류 ''{0}''(으)로 인하여 GPU 코드 생성에 실패했습니다. 리포트에서 자세한 내용 보기: &lt;a href="matlab:open(''{1}'')"&gt;리포트 보기&lt;/a&gt;</entry>
    <entry key="codegen_failed_report_noerrorid">GPU code generation failed with an error. View report for further information: &lt;a href="matlab:open(''{0}'')"&gt;View report&lt;/a&gt;</entry>
    <entry key="codegen_failed_reporterror_noerrorid">오류로 인해 GPU 코드 생성에 실패했습니다. 현재 작업 폴더에 리포트를 생성할 수 없습니다. 폴더에 쓰기 가능한지 확인하십시오.</entry>
    <entry key="mex_compiler_not_found">선택한 C++ MEX 컴파일러 ''{0}''은(는) MEX 가속에 대해 지원되지 않습니다. {1}을(를) 사용하여 지원되는 C++ MEX 컴파일러를 선택하십시오.</entry>
    <entry key="code_execution_failed">생성된 GPU 코드 실행이 MATLAB과 일치하지 않습니다.</entry>
    <entry key="timeout_board_exec">Timeout exceeded during code execution. Increase the value of the ExecTimeout property of the coder.gpuEnvConfig object.</entry>
    <entry key="timeout_board_exec_app">Timeout exceeded during code execution. Increase Execution Timeout value.</entry>
    <entry key="no_cudnn_env_var">'NVIDIA_CUDNN' 환경 변수를 찾을 수 없습니다. cuDNN 설치의 루트 디렉터리를 가리키도록 'NVIDIA_CUDNN'을 설정하십시오.</entry>
    <entry key="no_tensorrt_env_var">'NVIDIA_TENSORRT' 환경 변수를 찾을 수 없습니다. TensorRT 설치의 루트 디렉터리를 가리키도록 'NVIDIA_TENSORRT'를 설정하십시오.</entry>
    <entry key="invalid_parameter">입력 파라미터 ''{0}''이(가) 유효하지 않습니다. 지원되는 파라미터에 대한 자세한 내용은 'help {1}'을(를) 참조하십시오.</entry>
    <entry key="no_cudnn_header">디렉터리 ''{0}''에서 cuDNN 헤더 파일을 찾을 수 없습니다. cuDNN 헤더가 지정된 cuDNN SDK와 함께 설치되었는지 확인하십시오.</entry>
    <entry key="no_cudnn_library">디렉터리 ''{0}''에서 cuDNN 라이브러리를 찾을 수 없습니다. cuDNN 라이브러리가 지정된 cuDNN SDK와 함께 설치되었는지 확인하십시오.</entry>
    <entry key="no_tensorrt_header">''{0}''에서 TensorRT 헤더 파일 ''{1}''을(를) 찾을 수 없습니다. TensorRT SDK 설치에 지정된 헤더 파일이 포함되어 있는지 확인하십시오.</entry>
    <entry key="no_tensorrt_library">''{0}''에서 TensorRT 라이브러리 ''{1}''을(를) 찾을 수 없습니다. TensorRT SDK 설치에 지정된 라이브러리 파일이 포함되어 있는지 확인하십시오.</entry>
    <entry key="no_tensorrt_library_in_llp">mex 타깃에 대한 ''{0}'' 환경 변수에서 TensorRT 라이브러리를 찾을 수 없습니다. MATLAB을 시작하기 전에 TensorRT 라이브러리 경로를 ''{0}''에 추가하십시오.</entry>
    <entry key="invalid_cc_arch">Jetson 크로스 컴파일은 Linux 플랫폼에서만 지원됩니다.</entry>
    <entry key="no_crosscompile_env_var">''{0}'' 환경 변수를 찾을 수 없습니다. 크로스 컴파일의 경우 이 환경 변수를 설정해야 합니다.</entry>
    <entry key="no_crosscompiler">Jetson ''{0}''에 대한 ''{1}'' 크로스 컴파일러를 찾을 수 없습니다. 지정한 크로스 컴파일러와 함께 이 툴이 설치되어 있는지 확인하십시오.</entry>
    <entry key="gpu_sys_check">하나 이상의 시스템 검사가 실패하여 다음 오류가 발생함:\n{0}</entry>
    <entry key="code_execution_error">생성된 GPU 코드가 제대로 실행되지 않고 오류 ''{0}''이(가) 발생했습니다.</entry>
    <entry key="unsupported_tensorrt_datatype">TensorRT {2}에는 {1}의 Compute Capability가 필요합니다. {0}의 Compute Capability가 있는, 선택한 GPU는 {2} 추론에 대해 지원되지 않습니다.</entry>
    <entry key="no_nvtx_lib">NVTX 라이브러리 ''{0}''을(를) 찾을 수 없습니다. NVTX SDK 설치에 지정된 라이브러리 파일이 포함되어 있는지 확인하십시오. </entry>
    <entry key="no_nvtx_env_var">'NVTOOLSEXT_PATH' 환경 변수를 찾을 수 없습니다. NVTX 설치의 루트 디렉터리를 가리키도록 'NVTOOLSEXT_PATH'를 설정하십시오.</entry>
    <entry key="gpu_check_config">{0} Consider using coder.gpuEnvConfig object as the input argument to coder.checkGpuInstall instead of string arguments.</entry>
    <entry key="gpu_check_crosscompile">Argument {0} is invalid. The cross-compilation workflow will be deprecated in a future release.</entry>
    <entry key="invalid_gpu_id">CUDA 장치 ID {0}이(가) 유효하지 않습니다. 범위 {1}에서 장치 ID를 선택하십시오.</entry>
    <entry key="library_ver_mismatch_warn">경고: 딥러닝 코드 생성이 {0} v{1}(으)로 테스트되었습니다. 제공된 {0} 라이브러리 v{2}이(가) 완전히 호환되지 않을 수 있습니다.</entry>
    <entry key="library_ver_error">{0} 라이브러리 버전 ''{1}''을(를) 확인하는 동안 오류가 발생했습니다.</entry>
    <entry key="device_deprecated_warn">경고: {0}의 Compute Capability가 있는 GPU 장치는 향후 MATLAB 릴리스에서 제거될 예정입니다. 자세한 내용은 &lt;a href="matlab:web('https://www.mathworks.com/help/parallel-computing/gpu-support-by-release.html','-browser')"&gt;릴리스별 GPU 지원&lt;/a&gt;을 참조하십시오.</entry>
    <entry key="GPUAccelerationOnWithNoLicense"> 
      
      {0}\n\n
      ''GPUAcceleration'' parameter is enabled in ''{1}'' even though a valid GPU Coder license is not available. Consider running set_param(''{1}'', ''GPUAcceleration'', ''off'') to turn off GPU acceleration.
      &lt;actions exclusiveFixIts="yes"&gt;
        &lt;action type="fixit"&gt;
            &lt;cmd&gt;configset.internal.fixIt(''{1}'',''GPUAcceleration'',''off'')&lt;/cmd&gt;
            &lt;txt&gt;Turn off &lt;sldiag objui="configset" objparam="GPUAcceleration"&gt;GPU Acceleration&lt;/sldiag&gt;&lt;/txt&gt;
        &lt;/action&gt;
      &lt;/actions&gt;
    </entry>
    <entry key="GenerateGPUCodeOnWithNoLicense">
      {0}\n\n
      CUDA code generation is enabled in ''{1}'' even though a valid GPU Coder license is not available. Consider disabling CUDA code generation by running set_param(''{1}'', ''GenerateGPUCode'', ''None'').
      &lt;actions exclusiveFixIts="yes"&gt;
        &lt;action type="fixit"&gt;
            &lt;cmd&gt;configset.internal.fixIt(''{1}'',''GenerateGPUCode'',''None'')&lt;/cmd&gt;
            &lt;txt&gt;Turn off &lt;sldiag objui="configset" objparam="GenerateGPUCode"&gt;Generate GPU Code&lt;/sldiag&gt;&lt;/txt&gt;
        &lt;/action&gt;
      &lt;/actions&gt;
    </entry>
    <entry key="gpu_check_hwobj_empty">HardwareObject property of the coder.gpuEnvConfig object is empty. Set this property to a {0} object.</entry>
    <entry key="gpu_check_hwobj">HardwareObject property of the {0} coder.gpuEnvConfig object must be a {0} object.</entry>
    <entry key="gpu_check_timeout">ExecTimeout property of the coder.gpuEnvConfig object must be a scalar double greater than zero.</entry>
    <entry key="gpu_check_no_hsp">This feature requires the &lt;a href="matlab: matlab.addons.supportpackage.internal.explorer.showSupportPackages(''nvidia'', ''tripwire'')"&gt;MATLAB Coder Support Package for NVIDIA Jetson and NVIDIA DRIVE Platforms&lt;/a&gt; support package.</entry>
    <entry key="gpu_computecheck_tensorrt">DataType property of the coder.gpuEnvConfig object requires the DeepLibTarget property be set to 'tensorrt'.</entry>
    <entry key="gpu_check_config_validate">Error setting property {0} of class {1}: \n{2}.</entry>
    <entry key="gpu_profiling_check_deprecate">coder.gpuEnvConfig의 Profiling 속성은 더 이상 사용되지 않습니다.</entry>
    <entry key="gpu_library_check_error_hsp">NVIDIA Jetson 하드웨어에서 {0} 라이브러리를 검색하는 동안 다음 오류가 발생했습니다:\n{1}</entry>
    <entry key="gpu_check_no_hsp_app">이 기능을 사용하려면 NVIDIA 지원 패키지가 필요합니다. 애드온 탐색기에서 설치하십시오.</entry>
    <entry key="file_open_error_script">현재 작업 폴더에 'gpuEnvSettings.m' 스크립트를 만들 수 없습니다.</entry>
    <entry key="file_open_error_report">Unable to create HTML report in the current working folder.</entry>
    <entry key="app_open_error">GPU Environment Check application is already running.</entry>
    <entry key="error_board_connection">보드에 연결하는 중 오류 발생: \n{0}.</entry>
    <entry key="success_board_connection">연결에 성공했습니다.</entry>
    <entry key="script_saved_message">'gpuEnvSettings.m' 스크립트가 현재 작업 폴더에 저장됩니다.</entry>
    <entry key="incomplete_board_settings">입력 인수가 부족합니다. 모든 보드 설정을 제공해야 합니다.</entry>
    <entry key="invalid_input_timeout">실행 제한 시간은 0보다 큰 double형 스칼라여야 합니다.</entry>
    <entry key="compatible_gpu_not_found">호스트 시스템에서 호환되는 GPU 장치를 찾을 수 없습니다. 생성된 GPU MEX의 실행 및 프로파일링을 \n사용할 수 없습니다.</entry>
    <entry key="compatible_driver_not_found">그래픽스 드라이버 또는 이 GPU 장치에 문제가 있습니다. 코드 실행을 사용할 수 없습니다. 지원되는 GPU와 최신 그래픽스 드라이버가 있는지 확인하십시오.</entry>
    <entry key="gpucodersetup_report_name">GPU 코드 생성 환경 검사 리포트</entry>
    <entry key="gpucodersetup_report_gpuname">{0}에 대한 결과: {1}</entry>
    <entry key="gpucodersetup_passed">통과</entry>
    <entry key="gpucodersetup_failed">실패</entry>
    <entry key="table_host_compiler">호스트 컴파일러</entry>
    <entry key="table_compatible_gpu">호환 GPU</entry>
    <entry key="table_cuda_env">CUDA 환경</entry>
    <entry key="table_cudnn_env">cuDNN 환경</entry>
    <entry key="table_tensorrt_env">TensorRT 환경</entry>
    <entry key="table_basic_codegen">기본 코드 생성</entry>
    <entry key="table_basic_codeexec">기본 코드 실행</entry>
    <entry key="table_dl_codegen">딥러닝({0}) 코드 생성</entry>
    <entry key="table_dl_codeexec">딥러닝({0}) 코드 실행</entry>
    <entry key="table_dl_tensorrt_cc_check">TensorRT{0} Compute Capability 검사</entry>
    <entry key="table_profiling_env">프로파일링 환경</entry>
    <entry key="table_libname_runtime">런타임</entry>
    <entry key="table_libname_cufft">cuFFT</entry>
    <entry key="table_libname_cusolver">cuSOLVER</entry>
    <entry key="table_libname_cublas">cuBLAS</entry>
    <entry key="table_colname_check">검사</entry>
    <entry key="table_colname_result">결과</entry>
    <entry key="table_colname_message">메시지</entry>
    <entry key="table_header_env_checks">환경 검사</entry>
    <entry key="table_header_basic_codegen_checks">기본 코드 생성 검사</entry>
    <entry key="table_header_dl_codegen_checks">딥러닝 코드 생성 검사 - {0} {1}</entry>
    <entry key="gpucodersetup_uistr_fileopen">파일 열기 오류</entry>
    <entry key="gpucodersetup_uistr_savesettings">설정 저장</entry>
    <entry key="gpucodersetup_uistr_incompinputs">불완전한 입력값임</entry>
    <entry key="gpucodersetup_uistr_invalidinput">유효하지 않은 입력값임</entry>
    <entry key="gpucodersetup_uistr_connboard">보드에 연결하는 중</entry>
    <entry key="gpucodersetup_uistr_connfailure">연결 실패</entry>
    <entry key="gpucodersetup_uistr_connsuccess">성공</entry>
    <entry key="gpucodersetup_uistr_connected">{0}에 연결됨</entry>
    <entry key="gpucodersetup_uistr_running_chks">검사 실행 중</entry>
    <entry key="gpucodersetup_uistr_checking_env">환경 검사 중</entry>
    <entry key="gpucodersetup_uistr_gen_report">리포트 생성 중</entry>
    <entry key="gpucodersetup_cudaenv_not_found">CUDA 환경을 찾을 수 없습니다.</entry>
    <entry key="gpucodersetup_cudnn_not_found">cuDNN 환경을 찾을 수 없습니다.</entry>
    <entry key="gpucodersetup_tensorrt_not_found">TensorRT 환경을 찾을 수 없습니다.</entry>
    <entry key="gpucodersetup_nvtx_not_found">NVTX 라이브러리에 대한 경로를 찾을 수 없습니다.</entry>
    <entry key="gpucodersetup_uialert_msg">파일 열기 오류</entry>
    <entry key="gpucodersetup_script_msg">%% 이 스크립트는 {0}의 gpucoderSetup에서 생성되었습니다 \n \n</entry>
    <entry key="gpucodersetup_script_selecting_gpu">\n%% Gpu 선택 \n</entry>
    <entry key="gpucodersetup_script_cuda_path">\n\n%% CUDA 설치 경로\n</entry>
    <entry key="gpucodersetup_script_cudnn_path">\n\n%% cuDNN 설치 경로 \n</entry>
    <entry key="gpucodersetup_script_tensorrt_path">\n\n%% TensorRT 설치 경로 \n</entry>
    <entry key="gpucodersetup_script_nvtx_path">\n\n%% NVTX 라이브러리 경로 \n</entry>
    <entry key="gpucodersetup_select_cuda_path">CUDA 설치 경로 선택</entry>
    <entry key="gpucodersetup_select_cudnn_path">cuDNN 설치 경로 선택</entry>
    <entry key="gpucodersetup_select_tensorrt_path">TensorRT 설치 경로 선택</entry>
    <entry key="gpucodersetup_select_nvtx_path">NVTX 라이브러리 경로 선택</entry>
    <entry key="gpucodersetup_prop_fig_name">GPU 환경 검사</entry>
    <entry key="gpucodersetup_prop_fig_desc">GPU 코드 생성 환경 검사/설정</entry>
    <entry key="gpucodersetup_prop_hwmenu_label">하드웨어 선택</entry>
    <entry key="gpucodersetup_prop_gpumenu_label">GPU 선택</entry>
    <entry key="gpucodersetup_prop_workchecks_panel">워크플로 검사</entry>
    <entry key="gpucodersetup_prop_basiccodegen">\ \ \ \ \ \ \ \기본 코드 생성</entry>
    <entry key="gpucodersetup_prop_dlcodegen">\ \ \ \ \ \ \ \딥러닝 코드 생성</entry>
    <entry key="gpucodersetup_prop_gencode">코드 생성</entry>
    <entry key="gpucodersetup_prop_execcode">생성 및 실행</entry>
    <entry key="gpucodersetup_prop_silprof">SIL 프로파일링</entry>
    <entry key="gpucodersetup_prop_target">타깃</entry>
    <entry key="gpucodersetup_prop_data_type">데이터형</entry>
    <entry key="gpucodersetup_prop_envchecks_panel">환경 검사</entry>
    <entry key="gpucodersetup_prop_cudapath_label">CUDA 설치 경로</entry>
    <entry key="gpucodersetup_prop_cudnnpath_label">cuDNN</entry>
    <entry key="gpucodersetup_prop_tensorrtpath_label">TensorRT</entry>
    <entry key="gpucodersetup_prop_nvtxpath_label">NVTX 라이브러리 경로</entry>
    <entry key="gpucodersetup_prop_cudapath_tooltip">CUDA 설치 경로 찾아보기</entry>
    <entry key="gpucodersetup_prop_cudnnpath_tooltip">cuDNN 설치 경로 찾아보기</entry>
    <entry key="gpucodersetup_prop_tensorrtpath_tooltip">TensorRT 설치 경로 찾아보기</entry>
    <entry key="gpucodersetup_prop_nvtxpath_tooltip">NVTX라이브러리 경로 찾아보기</entry>
    <entry key="gpucodersetup_prop_doc_tooltip">GPU Coder 문서</entry>
    <entry key="gpucodersetup_prop_runchks_button">검사 실행</entry>
    <entry key="gpucodersetup_prop_runchks_tooltip">선택한 검사 실행</entry>
    <entry key="gpucodersetup_prop_export_button">설정 내보내기</entry>
    <entry key="gpucodersetup_prop_export_tooltip">현재 설정을 MATLAB 스크립트로 내보내기</entry>
    <entry key="gpucodersetup_prop_clear_button">지우기</entry>
    <entry key="gpucodersetup_prop_clear_tooltip">보드 설정 지우기</entry>
    <entry key="gpucodersetup_prop_connect_button">연결</entry>
    <entry key="gpucodersetup_prop_connect_tooltip">보드에 연결</entry>
    <entry key="gpucodersetup_prop_board_panel">보드 설정</entry>
    <entry key="gpucodersetup_prop_device_addr">장치 주소</entry>
    <entry key="gpucodersetup_prop_device_addr_tooltip">보드 주소</entry>
    <entry key="gpucodersetup_prop_device_usrn">사용자 이름</entry>
    <entry key="gpucodersetup_prop_device_usrn_tooltip">보드에 액세스하기 위한 사용자 이름</entry>
    <entry key="gpucodersetup_prop_device_pswd">비밀번호</entry>
    <entry key="gpucodersetup_prop_device_pswd_tooltip">보드에 액세스하기 위한 비밀번호</entry>
    <entry key="gpucodersetup_prop_device_devid">GPU 장치 ID</entry>
    <entry key="gpucodersetup_prop_device_devid_tooltip">드라이브 보드에서 GPU 장치의 인덱스</entry>
    <entry key="gpucodersetup_prop_device_exectimeout">실행 제한 시간</entry>
    <entry key="gpucodersetup_prop_device_exectimeout_tooltip">코드 실행이 완료될 때까지 대기할 최대 시간(단위: 초)</entry>
    <entry key="gpucoder_fcn_not_supp_platform">Unable to run the {0} function because it is not supported for {1}.</entry>
  </message>
</rsccat>
