@import "variables";

.mwDefaultVisualFamily.mwWidget.mwSharedMenuItem {
  border: 1px solid transparent;
}

/* focus is used instead of hover to make it work with keyboard navigation. */
.mwDefaultVisualFamily.mwWidget.mwSharedMenuItem:focus {
  background: var(--mw-backgroundColor-hover, $mw-backgroundColor-hover);
  border-color: var(--mw-borderColor-focus, $mw-borderColor-focus);
}

/* TODO: should we add another class from buttons to dropDown.parentNode */
.mwWidgetPopup {
  background: var(--mw-backgroundColor-primary, $mw-backgroundColor-primary);
  font: 12px Helvetica Neue, Helvetica, Arial, sans;
}
