<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2024 The MathWorks, Inc.-->

<rsccat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0" locale="zh_CN" product="polyspace" xsi:noNamespaceSchemaLocation="../../resources/schema/msgcat.xsd">
  <message>
    <entry key="installation_path">Polyspace 安装路径</entry>
    <entry key="start_configure">正在运行 Polyspace 配置...</entry>
    <entry key="success_configure">Polyspace 配置成功完成。</entry>
    <entry key="error_configure">Polyspace 配置完成时出现错误 '{0}'。</entry>
    <entry key="start_analysis">正在对文件 '{0}' 运行 Polyspace 分析...</entry>
    <entry key="success_analysis">对文件 '{0}' 的 Polyspace 分析成功完成。</entry>
    <entry key="error_analysis">对文件 '{0}' 的 Polyspace 分析完成时出现错误 '{1}'。</entry>
    <entry key="start_connector">启动连接器</entry>
    <entry key="connector_start_failed">无法开启 Polyspace 连接器。</entry>
    <entry key="connector_start_failed_no_free_port">无法开启 Polyspace 连接器，在 {0} 范围内未找到空闲端口。</entry>
    <entry key="connector_start_failed_port_in_use">无法开启 Polyspace 连接器，端口 {0} 已被使用。</entry>
  </message>
</rsccat>
