<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2024 The MathWorks, Inc.-->

<rsccat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0" locale="zh_CN" product="Simulink" xsi:noNamespaceSchemaLocation="../../resources/schema/msgcat.xsd">
  <message>
    <entry key="BadSetParamValue">无法设置参数 ''{0}'' 的值。</entry>
    <entry key="PluginIDIsSetToBeNeverAttached">插件 ''{0}'' 设置为从不附加。</entry>
    <entry key="IncorrectAttachAndAttachOnOpenSystemSpecified">''{0}'' 不能同时将 "attach" 和 "attach_on_open_system" 属性设置为 "on"。如果应在加载 Simulink 或模型时加载插件，请将 "attach" 设置为 "on"。如果插件应在模型打开时加载，请将 "attach_on_open_system" 设置为 "on"。</entry>
    <entry key="NoNestedTransaction">插件 ''{0}'' 已在模型 ''{1}'' 上打开插件事务处理。不支持嵌套事务处理。</entry>
    <entry key="UnsupportedModelParameterType">事务处理更改报告不支持重置参数 ''{0}''。</entry>
    <entry key="FailedToLoadPluginLibraryFile">无法加载插件库文件 ''{0}''。</entry>
    <entry key="FailedToCastJSONFile">无法将 JSON 表达式 ''{0}'' 转换为 ''{1}'' 中的 const std::vector。''{2}'' 必须指定为数组。</entry>
    <entry key="FailedToCastJSONFileGeneral">无法将 JSON 表达式 ''{0}'' 转换为 ''{1}'' 中的常量 std::vector。</entry>
    <entry key="PluginNotRegisteredAsService">插件 ''{0}'' 必须使用声明性服务注册。如需帮助，请向 slarch@groups.mathworks.com 发送电子邮件。</entry>
    <entry key="UnableToExecuteEvent">无法执行基于 MATLAB 的 slPlugin 事件 ''{0}''。</entry>
    <entry key="ModelAndEventNamesRequiredAsArguments">输入参量必须为模型名称和事件名称。</entry>
    <entry key="IncorrectNumberOfFunctionInputs">输入参量的数目不正确。</entry>
    <entry key="BlockTypeReplacementFilterUnexpectedSpec">解析捆绑包 ''{0}'' 的 manifest.json 文件时，BlockTypeReplacementFilter 中发现意外设定。</entry>
    <entry key="UnableToDisableAlwaysOnPlugin">无法禁用插件 ''{0}''，因为元数据将插件指定为始终附加到所有模型。请改用 suspendSignalForAlwaysOnPluginID API。</entry>
    <entry key="UnknownPluginID">未知的插件 ID ''{0}''。</entry>
    <entry key="UnknownParameter">无法设置未知插件参数 ''{0}'' 的值。</entry>
    <entry key="NoSuchComponent">无法在 test_simulink_plugins 中找到组件 ''{0}''。</entry>
    <entry key="BlockLoadParameterFailure">无法加载模块 ''{0}'' 的参数。请尝试重新保存模型。</entry>
    <entry key="DoesNotUseTransactionChangeReport">插件 ''{0}'' 不使用事务处理更改报告基础架构。</entry>
  </message>
</rsccat>
