<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2024 The MathWorks, Inc.-->

<rsccat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0" locale="ja_JP" product="polyspace" xsi:noNamespaceSchemaLocation="../../resources/schema/msgcat.xsd">
  <message>
    <entry key="installation_path">Polyspace インストール パス</entry>
    <entry key="start_configure">Polyspace の構成を実行中...</entry>
    <entry key="success_configure">Polyspace の構成は正常に終了しました。</entry>
    <entry key="error_configure">Polyspace の構成はエラー '{0}' で終了しました。</entry>
    <entry key="start_analysis">ファイル '{0}' の Polyspace 解析を実行中...</entry>
    <entry key="success_analysis">ファイル '{0}' の Polyspace 解析は正常に終了しました。</entry>
    <entry key="error_analysis">ファイル '{0}' の Polyspace 解析はエラー '{1}' で終了しました。</entry>
    <entry key="start_connector">コネクタの起動</entry>
    <entry key="connector_start_failed">Polyspace コネクタを起動できませんでした。</entry>
    <entry key="connector_start_failed_no_free_port">Polyspace コネクタを起動できませんでした。範囲 {0} に空きポートが見つかりません。</entry>
    <entry key="connector_start_failed_port_in_use">Polyspace コネクタを起動できませんでした。ポート {0} は既に使用されています。</entry>
  </message>
</rsccat>
