<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
    </head>
    <body>
    <hr class="DiffSeparator"/>
    <table class="DiffTable">
        <colgroup>
            <col style="width:50%;"/>
            <col style="width:50%;" class="bold"/>
        </colgroup>
        <tr class="subsection_node_path">
            <td>
                <div><form class="Hole">
                    <label for="LeftIcon">LeftIcon</label>
                    <input id="LeftIcon" value="LeftIcon"/>
                    </form><form class="Hole">
                    <label for="LeftNodePath">LeftNodePath</label>
                    <input id="LeftNodePath" value="Left Node Path"/>
                    </form>
                </div>
            </td>
            <td>
                <div><form class="Hole">
                    <label for="RightIcon">RightIcon</label>
                    <input id="RightIcon" value="RightIcon"/>
                    </form><form class="Hole">
                    <label for="RightNodePath">RightNodePath</label>
                    <input id="RightNodePath" value="Right Node Path"/>
                    </form>
                </div>
            </td>
        </tr>
    </table>
    <table class="SubcomparisonTable">
        <tr>
            <td>
                <form class="Hole">
                    <label for="Subcomparison">Subcomparison</label>
                    <input id="Subcomparison" value="Subcomparison"/>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>
