<?xml version="1.0" encoding="UTF-8" ?>
<!-- Copyright 2023-2025 The MathWorks, Inc. -->
<rsccat version="1.0" locale="en_US" product="Advisor" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../schema/msgcat.xsd">
  <message>
    
	<!--Model Advisor Tab title-->
    <entry key="ModelAdvisorTabTitle">MODEL ADVISOR</entry>
	
	
	<!--Toolstrip section headers-->
	<entry key="ToolstripSectionHeader_Configure">CONFIGURE</entry>
    <entry key="ToolstripSectionHeader_Analyze">ANALYZE</entry>
    <entry key="ToolstripSectionHeader_View">VIEW</entry>
    <entry key="ToolstripSectionHeader_Resolve">RESOLVE</entry>
    <entry key="ToolstripSectionHeader_Export">EXPORT</entry>
	
	
    <!--Configure section items-->
    <entry key="ConfigureSection_Btn_Configure_Title">Configure</entry>
	<entry key="ConfigureSection_Btn_Configure_Description">Configure configuration files</entry>
    <entry key="ConfigureSection_Btn_Settings_Title">Settings</entry>
	<entry key="ConfigureSection_Btn_Settings_Description">Settings</entry>
	
	
	<!--Analyze section items-->
    <entry key="AnalyzeSection_Btn_SelectSystem_Title">Select System</entry>
    <entry key="AnalyzeSection_Btn_Run_Title">Run</entry>
	<entry key="AnalyzeSection_Btn_SelectSystem_Description">Select system to run analysis on</entry>
    <entry key="AnalyzeSection_Btn_Run_Description">Run check(s)</entry>
	
	
	<!--View section items>-->
    <entry key="ViewSection_Btn_ViewResults_Title">Results</entry>
	<entry key="ViewSection_Btn_ViewResults_Description">View Results</entry>
    <entry key="ViewSection_Btn_UndockMA_Title">Advisor</entry>
    <entry key="ViewSection_Btn_UndockMA_Description">Open Model Advisor in a window</entry>
	
	
	<!--Resolve section items-->
    <entry key="ResolveSection_Btn_Fix_Title">Fix</entry>
	<entry key="ResolveSection_Btn_Fix_Description">Fix check</entry>
    <entry key="ResolveSection_Btn_Justify_Title">Justify</entry>
    <entry key="ResolveSection_Btn_Justify_Description">Justify check</entry>
	
	
	<!--Export section items-->
    <entry key="ExportSection_Btn_Export_Title">Export</entry>
    <entry key="ExportSection_Btn_Export_Description">Export results</entry>
	
	
	<!--Configure list items and section headers-->
	<entry key="ConfigureListItem_SectionHeader_ManageConfiguration">Manage Configurations</entry>
    <entry key="ConfigureListItem_SectionHeader_RecentlyLoadedConfig">Recently Loaded Configuration</entry>
	
    <entry key="ConfigureListItem_SelectPresetConfig">Select Configuration</entry>
    <entry key="ConfigureListItem_SelectPresetConfig_Description">Select from existing configuration</entry>
    <entry key="ConfigureListItem_LoadConfig">Load Configuration</entry>
    <entry key="ConfigureListItem_LoadConfig_Description">Load existing configuration</entry>
    <entry key="ConfigureListItem_MACE">Open Configuration Editor</entry>
    <entry key="ConfigureListItem_MACE_Description">Edit or create configuration file</entry>
	
	
	<!--Export list items and section headers-->
    <entry key="ExportListItem_SectionHeader_Format">Export Format</entry>
    <entry key="ExportListItem_SectionHeader_Template">Word/PDF Report Format</entry>
	
	<entry key="ExportListItem_HTML_Title">HTML</entry>
    <entry key="ExportListItem_HTML_Description">Save as HTML report</entry>
    <entry key="ExportListItem_PDF_Title">PDF</entry>
	<entry key="ExportListItem_PDF_Description">Save as PDF report</entry>
    <entry key="ExportListItem_Word_Title">WORD</entry>
    <entry key="ExportListItem_Word_Description">Save as Microsoft Word report</entry>
    <entry key="ExportListItem_Template_Title">Template File</entry>
    <entry key="ExportListItem_Template_Description">Default</entry>
    
	
	<!--Preset config list items-->
    <entry key="PresetConfigListItem_Default">Default</entry>
    <entry key="PresetConfigListItem_MAB">MAB</entry>
    <entry key="PresetConfigListItem_JMAAB">JMAAB</entry>
    <entry key="PresetConfigListItem_MISRA">MISRA</entry>    
    <entry key="PresetConfigListItem_DO">DO 178</entry>    
    <entry key="PresetConfigListItem_ISO">ISO 26262</entry>
	
    <!--<entry key=""></entry>-->
  </message>
</rsccat>

<!-- LocalWords:  regex
-->
