<!doctype html>
<html>
<!-- Copyright 2019-2020 The MathWorks, Inc. -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Comparison</title>

    <link rel="stylesheet" href="release/index-css.css"/>
</head>

<body class="tundra">
    <div id="root" class="two_gui"></div>
    <script src="release/comparisons_tree_diff/dojoConfig-release-global.js"></script>
    <script src="release/bundle.index.js"></script>
</body>

</html>
