<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2024 The MathWorks, Inc.-->

<rsccat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0" locale="ja_JP" product="Simulink" xsi:noNamespaceSchemaLocation="../../resources/schema/msgcat.xsd">
  <message>
    <entry key="BadSetParamValue">パラメーター ''{0}'' の値を設定できません。</entry>
    <entry key="PluginIDIsSetToBeNeverAttached">プラグイン ''{0}'' は付加されない設定になっています。</entry>
    <entry key="IncorrectAttachAndAttachOnOpenSystemSpecified">''{0}'' で "attach" 属性と "attach_on_open_system" 属性の両方を "on" に設定してはなりません。Simulink またはモデルが読み込まれたときにプラグインが読み込まれるようにするには、"attach" を "on" に設定します。モデルが開いたときにプラグインが読み込まれるようにするには、"attach_on_open_system" を "on" に設定します。</entry>
    <entry key="NoNestedTransaction">プラグイン ''{0}'' は、モデル ''{1}'' でプラグイン トランザクションを既に開いています。入れ子にされたトランザクションはサポートされていません。</entry>
    <entry key="UnsupportedModelParameterType">トランザクション変更レポートでは、パラメーター ''{0}'' のリセットはサポートされません。</entry>
    <entry key="FailedToLoadPluginLibraryFile">プラグイン ライブラリ ファイル ''{0}'' を読み込めません。</entry>
    <entry key="FailedToCastJSONFile">JSON 式 ''{0}'' を ''{1}'' の const std::vector にキャストできませんでした。''{2}'' は配列として指定しなければなりません。</entry>
    <entry key="FailedToCastJSONFileGeneral">JSON 式 ''{0}'' を ''{1}'' の const std::vector にキャストできませんでした。</entry>
    <entry key="PluginNotRegisteredAsService">プラグイン ''{0}'' は宣言型サービス登録を使用しなければなりません。ヘルプについては、slarch@groups.mathworks.com までメールをお送りください。</entry>
    <entry key="UnableToExecuteEvent">MATLAB ベースの slPlugin イベント ''{0}'' を実行できません。</entry>
    <entry key="ModelAndEventNamesRequiredAsArguments">入力引数はモデル名とイベント名でなければなりません。</entry>
    <entry key="IncorrectNumberOfFunctionInputs">入力引数の数が正しくありません。</entry>
    <entry key="BlockTypeReplacementFilterUnexpectedSpec">バンドル ''{0}'' の manifest.json ファイルの解析中に、BlockTypeReplacementFilter に予期せぬ指定が見つかりました。</entry>
    <entry key="UnableToDisableAlwaysOnPlugin">プラグイン ''{0}'' を無効にできません。このプラグインは、すべてのモデルに常に付加されるようメタデータで指定されているためです。suspendSignalForAlwaysOnPluginID API を代わりに使用してください。</entry>
    <entry key="UnknownPluginID">プラグイン ID ''{0}'' は不明です。</entry>
    <entry key="UnknownParameter">不明なプラグイン パラメーター ''{0}'' の値を設定できません。</entry>
    <entry key="NoSuchComponent">test_simulink_plugins にコンポーネント ''{0}'' が見つかりません。</entry>
    <entry key="BlockLoadParameterFailure">ブロック ''{0}'' のパラメーターを読み込めませんでした。モデルの再保存を試みてください。</entry>
    <entry key="DoesNotUseTransactionChangeReport">プラグイン ''{0}'' はトランザクション変更レポートのインフラストラクチャを使用しません。</entry>
  </message>
</rsccat>
