<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2024 The MathWorks, Inc.-->

<rsccat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0" locale="ja_JP" product="MATLAB" xsi:noNamespaceSchemaLocation="../../../../resources/schema/msgcat.xsd">
  <message>
    <entry key="InvalidCommandArg">コマンド引数は、欠損していないスカラー string、または文字の行ベクトルでなければなりません。</entry>
    <entry key="InvalidEnvVarNameArg">Environment variable names must be nonmissing scalar strings or character row vectors.</entry>
    <entry key="InvalidEnvVarValueArg">環境変数の値は、スカラー string、スカラーの欠損型値、または文字の行ベクトルでなければなりません。</entry>
    <entry key="InvalidEnvNames">環境名は、string 配列、文字ベクトルの cell 配列、または文字配列である必要があります。</entry>
    <entry key="InvalidEnvValues">環境の値は、string 配列、文字ベクトルの cell 配列、または文字配列である必要があります。</entry>
    <entry key="MissingEnvName">環境変数名は欠損していない必要があります。</entry>
    <entry key="EnvNamesValuesNumMismatch">環境の値の配列は、環境名の配列と要素数が同じであるか、スカラーである必要があります。</entry>
    <entry key="InvalidEnvNamesDict">ディクショナリ内の環境名は、string 配列または文字ベクトルの cell 配列である必要があります。</entry>
    <entry key="InvalidEnvValuesDict">ディクショナリ内の環境の値は、string 配列または文字ベクトルの cell 配列である必要があります。</entry>
  </message>
</rsccat>
