<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2024 The MathWorks, Inc.-->

<rsccat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0" locale="zh_CN" product="login" xsi:noNamespaceSchemaLocation="../../resources/schema/msgcat.xsd">
  <message>
    <entry key="Close" context="uistring">关闭</entry>
    <entry key="Error" context="uistring">错误</entry>
    <entry key="ErrorPersistFailed" context="warning">无法保存登录信息。\n您当前已登录，但下次启动此应用程序时会提示您再次登录。</entry>
    <entry key="Info" context="uistring">信息</entry>
    <entry key="Warning" context="uistring">警告</entry>
  </message>
</rsccat>
