<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2024 The MathWorks, Inc.-->

<rsccat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0" locale="ko_KR" product="nav" xsi:noNamespaceSchemaLocation="../../resources/schema/msgcat.xsd">
  <message>
    <entry key="InvalidInputScans">The first input is invalid. If it is a cell array, a cell array of lidarScan objects is expected.</entry>
    <entry key="InvalidInputPoses">The second input is invalid. A cell array of finite [x y theta] vectors is expected.</entry>
    <entry key="ScansAndPosesNumMismatch">If both scans and poses are provided as cell arrays, they are expected to have the same number of entries.</entry>
    <entry key="UnrecognizedInput">SLAM 맵 작성기가 제공된 입력값을 구문 분석할 수 없습니다. 입력 인수 없이 앱을 시작하십시오.</entry>
    <entry key="ReadBag">{0}을(를) 불러오지 못했습니다. </entry>
    <entry key="NoScanTopic">The specified rosbag, {0}, contains no scan topic of type sensor_msgs/LaserScan.</entry>
    <entry key="UseWithROSBags">''slamMapBuilder''를 사용하여 rosbag을 가져오려면, ROS Toolbox 라이선스가 필요합니다.</entry>
  </message>
</rsccat>
