/* Copyright 2018 The MathWorks, Inc. */
.merged {
    background-color: #C0C0C0;
}

.parentdelete {
    border-bottom: solid 2px #C0C0C0;
    line-height: 1.3em;
}

.icon {
	position:absolute;
    height: 16px;
    width: 16px;
    margin-left: 3px; /* Move away from line numbers */

    /* Center the image */
    background-position: center center;
    background-repeat: no-repeat;
}

.icon.overwrite {
    background-image: url("/toolbox/shared/comparisons/web/templates/text/images/merged.png");
}

.icon.delete {
    background-image: url("/toolbox/shared/comparisons/web/templates/text/images/deleted.png");    
}
