<?xml version="1.0" encoding="UTF-8" ?>
<!-- Copyright 2022-2024 The MathWorks, Inc. -->
<rsccat version="1.0" locale="en_US" product="gpucoder" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../schema/msgcat.xsd">
    <message> 
        <entry key="tabTitle" translate="false">GPU Coder</entry>
              
        <entry key="languageGroupTitle" translate="false">GPU Coder</entry>
        <entry key="languageGpuTitle" translate="false">CUDA</entry>
        <entry key="languageGpuDesc">GPU-accelerated CUDA code and C++</entry>
        
        <entry key="licenseCheckoutFailed" context="error">Unable to check out a GPU Coder license. GPU code generation requires a GPU Coder license.</entry>
    </message>
</rsccat>