<?xml version="1.0"?>
<!-- Copyright 2011 The MathWorks, Inc. -->
<rsccat version="1.0" locale="en_US" product="Slvnv">
  <message>
    <entry key="InvalidNewMapCellArrayNeeded" note="stringDatatypeUpdate">Invalid new map: need a cell array of character vectors</entry>
    <entry key="InvalidNewMapColumnNeeded">Invalid new map: need 3 columns</entry>
    <entry key="CannotResolve">Unable to resolve {0}</entry>
    <entry key="FileNotExist">File does not exist: {0}</entry>
      <entry key="SelectSlmxForLoad">Select a file to load traceability links</entry>
      <entry key="SelectSlmxForSave">Select a file to store traceability links</entry>
  </message>
</rsccat>
