<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2024 The MathWorks, Inc.-->

<rsccat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0" locale="ko_KR" product="Simulink" xsi:noNamespaceSchemaLocation="../../resources/schema/msgcat.xsd">
  <message>
    <entry key="BadSetParamValue">파라미터 ''{0}''의 값을 설정할 수 없습니다.</entry>
    <entry key="PluginIDIsSetToBeNeverAttached">플러그인 ''{0}''이(가) 연결되지 않도록 설정되었습니다.</entry>
    <entry key="IncorrectAttachAndAttachOnOpenSystemSpecified">''{0}''에서 "attach" 특성과 "attach_on_open_system" 특성을 모두 "on"으로 설정하면 안 됩니다. Simulink 또는 모델을 불러올 때 플러그인을 불러와야 하는 경우 "attach"를 "on"으로 설정하십시오. 모델이 열릴 때 플러그인을 불러와야 하는 경우 "attach_on_open_system"을 "on"으로 설정하십시오.</entry>
    <entry key="NoNestedTransaction">플러그인 ''{0}''은(는) 이미 모델 ''{1}''에서 플러그인 트랜잭션을 열었습니다. 중첩 트랜잭션은 지원되지 않습니다.</entry>
    <entry key="UnsupportedModelParameterType">트랜잭션 변경 리포트는 파라미터 ''{0}''의 재설정을 지원하지 않습니다.</entry>
    <entry key="FailedToLoadPluginLibraryFile">플러그인 라이브러리 파일 ''{0}''을(를) 불러올 수 없습니다.</entry>
    <entry key="FailedToCastJSONFile">JSON 표현식 ''{0}''을(를) ''{1}''의 const std::vector로 형변환하지 못했습니다. ''{2}''을(를) 배열로 지정해야 합니다.</entry>
    <entry key="FailedToCastJSONFileGeneral">JSON 표현식 ''{0}''을(를) ''{1}''의 const std::vector로 형변환하지 못했습니다.</entry>
    <entry key="PluginNotRegisteredAsService">플러그인 ''{0}''은(는) 선언적 서비스 등록을 사용해야 합니다. 도움이 필요한 경우 slarch@groups.mathworks.com으로 이메일을 보내 주십시오.</entry>
    <entry key="UnableToExecuteEvent">MATLAB 기반 slPlugin 이벤트 ''{0}''을(를) 실행할 수 없습니다.</entry>
    <entry key="ModelAndEventNamesRequiredAsArguments">입력 인수는 모델 이름과 이벤트 이름이어야 합니다.</entry>
    <entry key="IncorrectNumberOfFunctionInputs">입력 인수의 개수가 올바르지 않습니다.</entry>
    <entry key="BlockTypeReplacementFilterUnexpectedSpec">번들 ''{0}''에 대한 manifest.json 파일을 구문 분석할 때 BlockTypeReplacementFilter에 예기치 않은 사양이 있습니다.</entry>
    <entry key="UnableToDisableAlwaysOnPlugin">메타데이터가 플러그인을 모든 모델에 항상 연결되도록 지정하므로 플러그인 ''{0}''을(를) 비활성화할 수 없습니다. suspendSignalForAlwaysOnPluginID API를 대신 사용하십시오.</entry>
    <entry key="UnknownPluginID">''{0}''은(는) 알 수 없는 플러그인 ID입니다.</entry>
    <entry key="UnknownParameter">알 수 없는 플러그인 파라미터 ''{0}''의 값을 설정할 수 없습니다.</entry>
    <entry key="NoSuchComponent">test_simulink_plugins에서 컴포넌트 ''{0}''을(를) 찾을 수 없습니다.</entry>
    <entry key="BlockLoadParameterFailure">블록 ''{0}''의 파라미터를 불러오지 못했습니다. 모델을 다시 저장해 보십시오.</entry>
    <entry key="DoesNotUseTransactionChangeReport">플러그인 ''{0}''은(는) 트랜잭션 변경 리포트 인프라를 사용하지 않습니다.</entry>
  </message>
</rsccat>
