<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2025 The MathWorks, Inc.-->

<rsccat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0" locale="zh_CN" product="imagesui" xsi:noNamespaceSchemaLocation="../../resources/schema/msgcat.xsd">
  <message>
    <entry key="flipPlane">翻转平面</entry>
    <entry key="removePlane">删除平面</entry>
    <entry key="removeAllPlanes">删除所有平面</entry>
    <entry key="removeCrop">删除裁剪区域</entry>
    <entry key="removeAnnotation">删除注解</entry>
    <entry key="removeDataTip">删除数据提示</entry>
    <entry key="removeAllAnnotations">删除所有注解</entry>
    <entry key="snapPlane">将法线对齐到...</entry>
    <entry key="planeDirection">{0} 方向</entry>
    <entry key="editLabel">编辑标签</entry>
    <entry key="copyColor">复制颜色</entry>
    <entry key="copyLocation">复制位置</entry>
    <entry key="copyIntensity">复制强度</entry>
    <entry key="exportToWorkspace">导出到工作区</entry>
    <entry key="exportInfo">将信息导出到工作区</entry>
    <entry key="exportScissorsMask">将三维剪刀掩膜导出到工作区</entry>
    <entry key="exportAnnotation">将注解导出到工作区</entry>
    <entry key="objectInfo">对象信息</entry>
    <entry key="scissorsMask">三维剪刀掩膜</entry>
    <entry key="annotation">注解</entry>
    <entry key="copyScreenshot">将屏幕截图复制到剪贴板</entry>
    <entry key="saveScreenshot">将屏幕截图保存到文件</entry>
    <entry key="showDisplayInfo">显示信息</entry>
    <entry key="showScaleBar">比例尺</entry>
    <entry key="embedInLiveEditor">始终在实时编辑器中嵌入查看器</entry>
  </message>
</rsccat>
