<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2024 The MathWorks, Inc.-->

<rsccat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0" locale="ko_KR" product="SimulinkProject" xsi:noNamespaceSchemaLocation="../../resources/schema/msgcat.xsd">
  <message>
    <entry key="ProjectFileMenu">프로젝트</entry>
    <entry key="ProjectAdd">프로젝트에 추가</entry>
    <entry key="ProjectRemove">프로젝트에서 제거</entry>
    <entry key="ProjectOpen">프로젝트 열기</entry>
    <entry key="ProjectShow">프로젝트에 표시</entry>
    <entry key="ProjectCreate">모델에서 프로젝트 만들기</entry>
    <entry key="ProjectShowDependencies">종속 관계 찾기</entry>
    <entry key="checkout">파일 잠그기</entry>
    <entry key="unCheckout">로컬 변경 사항을 폐기한 후 잠금 풀기</entry>
    <entry key="revertLocal">로컬 변경 사항 되돌리기</entry>
    <entry key="CompareToAncestor">선조와 비교</entry>
    <entry key="CompareToRevision">수정본과 비교</entry>
    <entry key="ModelNotInProject">이 모델이 프로젝트의 루트 폴더에 없습니다.</entry>
  </message>
</rsccat>
