<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2025 The MathWorks, Inc.-->

<rsccat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0" locale="zh_CN" product="SimulinkProject" xsi:noNamespaceSchemaLocation="../../resources/schema/msgcat.xsd">
  <message>
    <entry key="ProjectFileMenu">工程</entry>
    <entry key="ProjectAdd">添加到工程</entry>
    <entry key="ProjectRemove">从工程中删除</entry>
    <entry key="ProjectOpen">打开工程</entry>
    <entry key="ProjectShow">在工程中显示</entry>
    <entry key="ProjectCreate">基于模型创建工程</entry>
    <entry key="ProjectShowDependencies">查找依赖关系</entry>
    <entry key="checkout">获取文件锁</entry>
    <entry key="unCheckout">放弃本地更改并解锁</entry>
    <entry key="revertLocal">还原本地更改</entry>
    <entry key="CompareToAncestor">与前代比较</entry>
    <entry key="CompareToRevision">与修订版比较</entry>
    <entry key="ModelNotInProject">此模型不在工程的根文件夹中。</entry>
  </message>
</rsccat>
