<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2024 The MathWorks, Inc.-->

<rsccat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0" locale="zh_CN" product="SimulinkProject" xsi:noNamespaceSchemaLocation="../../resources/schema/msgcat.xsd">
  <message>
    <entry key="SimulinkSettingsName">Simulink</entry>
    <entry key="CacheFolderName">仿真缓存文件夹</entry>
    <entry key="CacheFolderDescription">仿真缓存文件夹:</entry>
    <entry key="CacheFolderDefaultValue">默认</entry>
    <entry key="CodeGenFolderName">代码生成文件夹</entry>
    <entry key="CodeGenFolderDescription">代码生成文件夹:</entry>
    <entry key="CodeGenFolderDefaultValue">默认</entry>
    <entry key="OverridenCheckboxTooltip">其他工程设置需要此项</entry>
  </message>
</rsccat>
