<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2024 The MathWorks, Inc.-->

<rsccat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0" locale="ko_KR" product="parallel" xsi:noNamespaceSchemaLocation="../../resources/schema/msgcat.xsd">
  <message>
    <entry key="AddHiddenKeyFailed">Failed to add key {0} to node {1}.</entry>
    <entry key="AddHiddenNodeFailed">Failed to add node {0} to node {1}.</entry>
    <entry key="AreKeysSetLevelFailed">Failed to determine if ''{0}'' key is set at {1} level on ''{2}'' node.</entry>
    <entry key="CannotConvertSchedulerTypeToApi1">Cluster type ''{0}'' cannot be converted.</entry>
    <entry key="CannotRenameNode">Renaming the ''{0}'' {1} is not allowed.</entry>
    <entry key="CannotSetDefaultProfile">Cannot set the DefaultProfile to {0} because a profile with name ''{1}'' does not exist.  Valid profile names are:\n\t{2}</entry>
    <entry key="CollapsedDefaultProfileNoLongerExists">DefaultProfile의 값이 기존 프로파일의 이름이 아닌 ''{0}''입니다. 사용자 수준에서 DefaultProfile이 ''{1}''(으)로 설정됩니다. 유효한 프로파일 이름은 다음과 같습니다.\n\t{2}</entry>
    <entry key="ConfigurationsCreateNewFileDoesNotExist">Cannot create a new configuration from ''{0}'' because the file does not exist.</entry>
    <entry key="ConfigurationsLoadFailed">Failed to load configuration from the file ''{0}''.</entry>
    <entry key="ConfigurationsLoadFailedUpgrade">Failed to import configuration from the file ''{0}'' due to an upgrade error.</entry>
    <entry key="ConfigurationsLoadMissingName">Could not find the configuration name when importing from the file: {0}.</entry>
    <entry key="ConfigurationsLoadMissingValues">Could not find the configuration values when importing from the file: {0}.</entry>
    <entry key="ConfigurationsLoadMissingVersion">Could not find any version information when importing configuration from the file: {0}.</entry>
    <entry key="ConfigurationsStructUpgradeFailed">Failed to upgrade configuration from version {0} to {1}.</entry>
    <entry key="ConfigurationsUpgradeNewerVersion">Parallel Computing Toolbox 버전 {0}을(를) 사용하여 버전 {1}에서 생성된 구성을 불러오려 하고 있습니다.</entry>
    <entry key="ConfigurationsUpgradeUnknownVersionNumber">Parallel Computing Toolbox 버전 {0}을(를) 사용하여 알 수 없는 버전 번호 {1,number,integer}이(가) 포함된 구성을 불러오려 하고 있습니다. 이 제품의 더 이후 버전에서 생성된 구성을 불러오려 하는 것일 수 있습니다.</entry>
    <entry key="CopyCollapsedNodeFailed">Failed to copy collapsed values from ''{0}'' node to the user level ''{1}'' node.</entry>
    <entry key="CopyUserNodeFailed">Failed to copy the user level from ''{0}'' node to ''{1}'' node.</entry>
    <entry key="CopyWorkgroupNodeFailed">작업 그룹 수준을 ''{0}'' 노드에서 ''{1}'' 노드로 복사하지 못했습니다. 작업 그룹 설정에 대한 쓰기 권한이 없을 수 있습니다.</entry>
    <entry key="CreateSiblingNodeFailed">Failed to create sibling node ''{0}'' for node ''{1}''.</entry>
    <entry key="DefaultProfileIsDefaultValue">DefaultProfile의 값이 parallel.setting.DefaultValue인데 이는 유효한 프로파일 이름이 아닙니다. 이는 설치된 제품이 손상되었을 수 있음을 나타냅니다. 사용자 수준에서 DefaultProfile이 ''{0}''(으)로 설정됩니다. 유효한 프로파일 이름은 다음과 같습니다.\n\t{1}</entry>
    <entry key="DefaultProfileObjectNotFound">이름이 ''{0}''인 프로파일을 찾지 못했습니다.</entry>
    <entry key="DeleteNamedNodesNameNotString">Names must be specified as character vectors.</entry>
    <entry key="DeleteNodeHasFactoryValues">''{0}''은(는) 공장 초기값을 가지고 있으므로 삭제할 수 없습니다.</entry>
    <entry key="DeployedNodesTransientCollectionNotEmpty">The transient collection already contained some nodes.</entry>
    <entry key="DifferentJobParallelJobValuesInConfiguration">{0} 속성의 값이 이름이 ''{1}''인 구성의 job 섹션과 paralleljob 섹션에 대해 다릅니다. 프로파일로 변환하는 동안 paralleljob 섹션에 대한 값이 무시됩니다.</entry>
    <entry key="DisallowedThreadsProfile" context="error">'Threads'에는 함수 ''{0}''을(를) 사용할 수 없습니다. 대신 'Processes' 또는 다른 클러스터 프로파일을 사용하십시오.</entry>
    <entry key="ExportNoFilename">Cannot export to ''{0}'' because no filename was specified.</entry>
    <entry key="ExportProfileNamesMustBeString">프로파일 이름은 문자형 벡터로 지정해야 합니다.</entry>
    <entry key="FactoryProfileNotFound">{0} 프로파일을 찾을 수 없습니다. 설치된 제품이 손상되었을 수 있습니다.</entry>
    <entry key="FailedRestoreKeyValuesOnNode">변경된 키 값을 복원할 수 없습니다.</entry>
    <entry key="FailedRestoreNodeRemoveKeys">추가된 자식 키를 제거할 수 없습니다.</entry>
    <entry key="FailedRestoreNodeRemoveNodes">추가된 자식 노드를 제거할 수 없습니다.</entry>
    <entry key="FailedToAddMcrUserDataProfile">Failed to import and use the profiles specified in file ''{0}''.</entry>
    <entry key="FailedToChangeName">''{0}''의 이름을 ''{1}''(으)로 변경하지 못했습니다.</entry>
    <entry key="FailedToDeleteSettingsNode">Failed to delete node ''{0}''.</entry>
    <entry key="FailedToUpgradeSchedulerComponent">''{0}'' 프로파일을 업그레이드할 수 없습니다. 이 프로파일은 제거되었습니다.</entry>
    <entry key="GetAtLevelFailed">Failed to get {0} at the {1} level.</entry>
    <entry key="GetKeyOnLevelFailed">Failed to get ''{0}'' key at {1} level on ''{2}'' node.</entry>
    <entry key="GetSetActionLevelNotString">{0}을(를) 호출할 때 수준은 문자형 벡터여야 합니다.</entry>
    <entry key="GetSetActionNotAllowedForProperty">''{0}''은(는) {1} 유형의 객체에 대한 다음 속성에 허용되지 않습니다.\n\t{2}</entry>
    <entry key="GetSetActionWithLevelNotAllowedForProperty">수준이 포함된 ''{0}''은(는) {2} 유형의 객체에 대한 ''{1}'' 속성에 허용되지 않습니다.</entry>
    <entry key="GetSetActionWithLevelPropNotString">수준이 포함된 {0}을(를) 호출할 때 속성 이름은 문자형 벡터여야 합니다.</entry>
    <entry key="GetSetFailedToConvertStoredSettingToValue">속성 {0}에 대한 Settings에 저장된 값을 {1}(으)로 변환하지 못했습니다.</entry>
    <entry key="GetSetFailedToConvertValueForStorage">Failed to convert value of type {0} for property {1} for storage in Settings.</entry>
    <entry key="GetSetNodeNotValid">''{0}'' {1}에 대한 Settings 노드가 유효하지 않으며 삭제되었을 수 있습니다.</entry>
    <entry key="GetSetVectorizedActionWithLevelNotAllowed">수준이 포함된 벡터화된 ''{0}''은(는) {1} 유형의 객체에 허용되지 않습니다.</entry>
    <entry key="ImportConfigurationButNotUsingProfiles" context="error">Unable to import configuration from file {0} because useprofiles is not true in pctconfig.</entry>
    <entry key="ImportConfigurationNameChangedNotVarName">''{2}''이(가) 유효한 MATLAB 변수 이름이 아니므로 프로파일로 변환하는 동안 구성 이름 ''{0}''이(가) ''{1}''(으)로 변경되었습니다.</entry>
    <entry key="ImportJSONProfileMissingField" context="warning">JSON 형식 클러스터 프로파일에서 필수 필드 ''{0}''을(를) 찾을 수 없습니다.</entry>
    <entry key="ImportJSONProfileUnsupportedVersion" context="warning">JSON 형식 버전 {0}의 클러스터 프로파일을 가져오는 것은 지원되지 않습니다. 지원되는 JSON 형식 버전: {1}.</entry>
    <entry key="ImportLegacyProfileInvalidClusterType" context="error">Failed to import profiles for ''{0}'' cluster. The .settings extension is supported only for shared cluster profiles that are downloaded from Cloud Center.</entry>
    <entry key="ImportMcruserdataMultipleProfiles">파일 ''{0}''에서 두 개 이상의 프로파일을 가져왔습니다. ''{1}''이(가) 디폴트 값으로 설정됩니다.</entry>
    <entry key="ImportMcruserdataProfileNamesChanged">파일 {0}을(를) 가져오는 동안 다음과 같은 가져온 프로파일 이름이 이미 이러한 이름을 가진 기존 프로파일과 충돌하지 않도록 변경되었습니다.\n{1}\n디폴트 프로파일은 ''{2}''(으)로 설정되었습니다.</entry>
    <entry key="ImportProfileFailedToAddProfiles">Failed to add the profiles defined in the ''{0}''.</entry>
    <entry key="ImportProfileFailedToAddProjectComponents">Failed to add the project components defined in file ''{0}''.</entry>
    <entry key="ImportProfileFailedToAddSchedulerComponents">Failed to add the scheduler components defined in file ''{0}''.</entry>
    <entry key="ImportProfileFailedToImportFolder">Failed to import profiles from ''{0}'' because it is a folder.</entry>
    <entry key="ImportProfileFailedToImportSettings">파일 ''{0}''에서 프로파일을 가져오지 못했습니다.</entry>
    <entry key="ImportProfileFailedToRemove">프로파일 가져오기에 실패했지만, 가져온 ''{0}'' 유형의 객체를 제거할 수 없었습니다.</entry>
    <entry key="ImportProfileInvalidFilename">파일 ''{0}''을(를) 찾지 못했습니다.</entry>
    <entry key="ImportProfileNoProfilesInFile">파일 ''{0}''에서 프로파일 또는 컴포넌트를 찾을 수 없었습니다.</entry>
    <entry key="InvalidDeleteSyntax">Invalid syntax. Use "delete(obj)" to delete a profile or component.</entry>
    <entry key="InvalidMinMaxWorkerValuesInConfiguration">이름이 ''{2}''인 구성의 MinimumNumberOfWorkers 값({0,number,integer})과 MaximumNumberOfWorkers 값({1,number,integer})이 프로파일의 NumWorkersRange와 호환되지 않습니다. 프로파일로 변환하는 동안 이러한 값이 무시됩니다.</entry>
    <entry key="InvalidNamedNodeType">''{0}'' is not a valid type.  Valid types are: {1}</entry>
    <entry key="InvalidSettingsLevel">An invalid settings level was specified.</entry>
    <entry key="KeyNotExist">''{0}'' key does not exist on ''{1}'' node.</entry>
    <entry key="MATLABParallelCloudProfileExists">''MATLAB Parallel Cloud''라는 프로파일이 이미 존재하므로 ''MATLAB Parallel Cloud'' 프로파일을 만들 수 없습니다. 기존 ''MATLAB Parallel Cloud'' 프로파일을 삭제하거나 이름을 바꾸십시오.</entry>
    <entry key="MissingFieldInConfigurationStructure">Supplied structure is not a valid configurations structure because the ''{0}'' field is missing.</entry>
    <entry key="MoveNodeHasFactoryValues">Cannot move the ''{0}'' node because it has values defined at the factory level.</entry>
    <entry key="MultipleNamedNodesCannotExport">Exporting the following {0} is not allowed:{1}</entry>
    <entry key="NameOfDefaultProfileChanged">''{2}'' 프로파일의 이름이 ''{3}''(으)로 변경되었기 때문에 DefaultProfile이 ''{0}''에서 ''{1}''(으)로 변경되었습니다.</entry>
    <entry key="NamedNodeCannotDuplicate">Duplicating the ''{0}'' {1} is not allowed.</entry>
    <entry key="NamedNodeCannotExport">Exporting the ''{0}'' {1} is not allowed.</entry>
    <entry key="NamedNodeFailedToRestore" context="error">노드 ''{0}''을(를) 복원하지 못했습니다.</entry>
    <entry key="NamedNodeNameNotVarName">이름은 유효한 변수 이름인 문자형 벡터여야 합니다.</entry>
    <entry key="NamedNodeRestoreInvalidLevel">Cannot generate a restore point for a level that cannot be used for both get and set.</entry>
    <entry key="NamedNodeRestoreInvalidStruct">Invalid structure supplied for restoring node.</entry>
    <entry key="NamedNodesBuildNewFailed">Failed to create {0} with name ''{1}''.</entry>
    <entry key="NamedNodesCollectionAddFromSame">Cannot add named nodes from the same collection.</entry>
    <entry key="NamedNodesCollectionAddFromSameSettingsNode">Cannot add named nodes from a collection with the same top level settings node.</entry>
    <entry key="NamedNodesCollectionAddFromWrongType">Cannot add named nodes of type ''{0}'' to a collection of type ''{1}''.</entry>
    <entry key="NamedNodesCollectionAddUsedNames">Names must be a cell array of character vectors.</entry>
    <entry key="NamedNodesDeletedInvalidChild">{1} 노드 아래에 있는 이름이 ''{0}''인 자식은 유효한 {2}이(가) 아니며 삭제되었습니다.</entry>
    <entry key="NamedNodesDeletedInvalidChildren">{0} 노드 아래에 있는 다음의 유효하지 않은 자식을 삭제함: \n\t{1}</entry>
    <entry key="NamedNodesFailedToRemoveInvalidChildren">{0} 노드 아래에 있는 다음의 유효하지 않은 자식을 제거하지 못함: \n\t{1}</entry>
    <entry key="NamedNodesMergeSettingsFailed">Failed to merge settings for node ''{0}''.</entry>
    <entry key="NoDisplayAvailable">''{0}'' 유형의 객체를 표시할 수 없습니다.</entry>
    <entry key="NodeAndParentNotValid">Node and parent node must be valid.</entry>
    <entry key="NodeFacadeCopyAllLevelsHasFactoryValues">Cannot copy node ''{0}'' at all levels because some values are defined in the factory settings.</entry>
    <entry key="NodeNotValid">Node ''{0}'' is not valid or does not exist.</entry>
    <entry key="NonExistentProfile">''{0}''은(는) 프로파일 이름이 아닙니다. 유효한 이름은 다음과 같습니다.\n{1}</entry>
    <entry key="ParentNodeInvalid">Parent node is not valid and might have been removed from Settings tree.</entry>
    <entry key="ProfileCannotChangeSchedulerComponent">Setting the ''SchedulerComponent'' property of profile with name ''{0}'' is not allowed.</entry>
    <entry key="ProfileCannotFindProjectComponent">The ProjectComponent in the ''{0}'' profile is ''{1}'' and does not exist.</entry>
    <entry key="ProfileCannotFindSchedulerComponent">The SchedulerComponent in the ''{0}'' profile is ''{1}'' and does not exist.</entry>
    <entry key="ProfileNameAlreadyExists">이름이 ''{0}''인 프로파일이 이미 존재합니다.</entry>
    <entry key="ProfileSchedulerComponentNotDefined">''{0}'' 프로파일은 SchedulerComponent를 정의하지 않습니다.</entry>
    <entry key="ProfileValidationInvalidJobVariant">Job type ''{0}'' is not supported for iCreateAndSubmitJob.</entry>
    <entry key="ProfilesConfigCreateFromFileNotMat">Filename extension must be .mat when importing a configuration as a profile.</entry>
    <entry key="ProjectComponentNameAlreadyExists">A project component with name ''{0}'' already exists.</entry>
    <entry key="RenameConfigurationNameAlreadyInUse">Cannot rename configuration with name ''{0}'' to ''{1}'' because the name ''{2}'' is already in use.</entry>
    <entry key="SaveUserToLevelFailed">Failed to save ''{0}'' node to {1} level.</entry>
    <entry key="SchedulerComponentNameAlreadyExists">A scheduler component with name ''{0}'' already exists.</entry>
    <entry key="SetAtLevelFailed">Failed to set {0} at the {1} level.</entry>
    <entry key="SetKeyOnLevelFailed">Failed to set ''{0}'' key at {1} level on ''{2}'' node.</entry>
    <entry key="SettingsLevelCannotCallIsSet">Cannot call isSet at settings level ''{0}''.</entry>
    <entry key="SettingsLevelFromNameCollapsed">Collapsed is not a valid settings level.</entry>
    <entry key="SettingsLevelNotReadable">Cannot get from settings level ''{0}''.</entry>
    <entry key="SettingsLevelNotWritable">Cannot write to settings level ''{0}''.</entry>
    <entry key="SettingsNodeExportCannotMakeFolder" context="error">폴더 ''{0}''을(를) 만들지 못했습니다.</entry>
    <entry key="TypedNodesAddFailedToDelete">컬렉션에 노드를 추가하는 데 실패했으며 추가된 노드를 제거할 수 없었습니다.</entry>
    <entry key="TypedNodesCollectionAddDifferentTypes">Cannot add nodes from a collection with different types.</entry>
    <entry key="TypedNodesCollectionAddFromSame">Cannot add typed nodes from the same collection.</entry>
    <entry key="TypedNodesCollections">Types must be specified as character vectors.</entry>
    <entry key="UnsetKeyOnLevelFailed">Failed to unset ''{0}'' key at {1} level on ''{2}'' node.</entry>
    <entry key="UnsetNodeFailed">Failed to unset ''{0}'' node at {1} level.</entry>
    <entry key="UpgradeConfigurationsFailedToChangeDefault">구성에서 프로파일로 업그레이드하는 중 디폴트 프로파일을 {0}(으)로 변경하지 못했습니다. 이유:\n\t{1}</entry>
    <entry key="UpgradeConfigurationsNamesChanged">프로파일로 업그레이드하는 중 다음 구성 이름이 변경되었습니다.\n{0}</entry>
    <entry key="UpgradeConfigurationsNamesChangedNotVarName">프로파일로 업그레이드하는 중 다음 구성 이름이 변경되었습니다.\n{0}프로파일 이름은 유효한 MATLAB 변수 이름이어야 합니다. 자세한 내용은 isvarname에 대한 문서를 참조하십시오.</entry>
    <entry key="UpgradeConfigurationsToProfilesFailed">다음 구성을 프로파일로 업그레이드하지 못했습니다.\n\t{0}</entry>
    <entry key="UpgradeConfigurationsUnexpectedError">구성을 프로파일로 업그레이드하는 중 예기치 않은 오류가 발생했습니다. 원래 오류: {0}</entry>
    <entry key="UserDefaultProfileNoLongerExists">사용자 수준에서 DefaultProfile의 값이 기존 프로파일의 이름이 아닌 ''{0}''입니다. 사용자 수준에서 DefaultProfile이 ''{1}''(으)로 설정됩니다. 유효한 프로파일 이름은 다음과 같습니다.\n\t{2}</entry>
    <entry key="ValidationEventDataDebugLogNotString">Debug logs must be specified as character vectors.</entry>
  </message>
</rsccat>
