/* AddDevice card css
Copyright 2021-2023 The MathWorks, Inc. */

.mw-hwmgr-addDevice {
    width: 200px;
    height: 115px;
    border: 0.8px solid;
    border-radius: 6px;
    box-sizing: border-box;
    color: var(--mw-color-primary);
    display: inline-block;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Noto Sans", Arial, "Helvetica Neue", Helvetica, lucida, sans-serif;    
    user-select: none;
    cursor: pointer;
}

.mw-hwmgr-addDevice:hover {
    border-color: var(--mw-borderColor-focus);
}

.mw-hwmgr-addDevice-selected {
    background-color: rgba(0, 149, 255, 0.2);
    border-color: var(--mw-borderColor-focus);
}

.mw-hwmgr-addDevice-unselected {
    border-color: rgb(198, 198, 198);
    background-color: var(--mw-backgroundColor-tertiary);
}

.mw-hwmgr-addDevice-icon {
    width: 50px;
    height: 40px;
    margin: 25px auto 10px;
    background-size: 40px;
}

.mw-hwmgr-addDevice-text {
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
}
