/* Copyright 2021-2023 The MathWorks, Inc. */


.mw-hwmgr-popuptable-addontabledata{
   padding-bottom: 10px;
   min-width: 198px;
}

.mw-hwmgr-addonsPopupTable {
    margin-bottom: 25px;
    border-radius: 2px;
    border-collapse: separate;
    -webkit-border-vertical-spacing: 1px;
}

.mw-hwmgr-addonsPopupTable tr:nth-child(odd){
    background-color: var(--mw-backgroundColor-secondary);
}

.mw-hwmgr-addonsPopupTable tr:nth-child(even){
    background-color: var(--mw-backgroundColor-secondary);
}

.mw-hwmgr-popuptable-addonstatusiconnotinstalled{
    background-size: 16px;
    width: 16px;
    height: 16px;
    margin-top: 23px;
    margin-left: 17.25px;   
}

.mw-hwmgr-popuptable-addoninstalllink{
   padding-left: 70px; 
   padding-top: 14px;
   padding-bottom: 10px;
   padding-right: 10px;
   border-color: #DEDEDE;
}

.mw-hwmgr-popuptable-addoninstalllink a{
    cursor: pointer;
    width: 10px;
 }

.mw-hwmgr-popuptable-addonrow{
    height: 55px;
}

.mw-hwmgr-popuptable-addonNametext{
   display:inline-block;
   margin-top: 22.5px;
   font-size: 12px;
   padding-left: 5px;
}

.mw-hwmgr-popuptable-installbutton {
    background: #004073;
    border: 0 solid transparent;
    border-radius: 3px;
    min-width: max-content;
    height: 28px;
    padding: 6px 22px;
    color: #fff;
    line-height: 14px
}

.mw-hwmgr-popuptable-installbutton:active {
    background: #3982AF;
}


.mw-hwmgr-addonstable-headingtext {
    padding-bottom: 10px;
}

.mw-hwmgr-addonsPopupTable tr td:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.mw-hwmgr-addonsPopupTable tr td:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
