/* Descriptor card CSS
Copyright 2021-2024 The MathWorks, Inc. */

.mw-hwmgr-descriptorcard{
    width: 200px;
    height: 115px;
    border: 0.8px solid;
    border-radius: 6px;
    box-sizing: border-box;
    color: var(--mw-backgroundColor-inputFill);
    display: inline-block;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Noto Sans", Arial, "Helvetica Neue", Helvetica, lucida, sans-serif;
    user-select: none;
    cursor: pointer;
}

.mw-hwmgr-descriptorcard:hover {
    border-color: var(--mw-borderColor-focus);
}

.mw-hwmgr-descriptorcard--selected {
    background-color: rgba(0, 149, 255, 0.2);
    border-color: var(--mw-borderColor-focus);
}

.mw-hwmgr-descriptorcard--unselected {
    background-color: var(--mw-backgroundColor-tertiary);
    border-color: var(--mw-borderColor-secondary);
}

.mw-hwmgr-descriptorcard__hwIcon{
    width: 50px;
    height: 40px;
    position: relative;
    left: 70px;
    top: 15px;
}
.mw-hwmgr-descriptorcard__addIcon{
    width: 24px;
    height: 24px;
    position: relative;
    left: 100px;
    top: -5px;
    z-index: 1;
    background: no-repeat;
}

.mw-hwmgr-descriptorcard__titleSection{
  margin: 8px auto;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
}

.mw-hwmgr-descriptorcard__titleText{
  padding : 0;
  margin : 0;
}

.mw-hwmgr-descriptorcard--disabled {
    opacity: var(--mw-opacity-disabled);
}