/* Copyright 2021 The MathWorks, Inc. */

.mw-hwmgr-clientappdeviceaddpage-troubleshoot-linksheader{
    font-size: 12px;
}

.mw-hwmgr-clientappdeviceaddpage-troubleshoot-links > a {
    display:inline-block;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    font-size: 12px;
    text-decoration: none;
}
