<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2025 The MathWorks, Inc.-->

<rsccat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0" locale="ja_JP" product="MATLABTest" xsi:noNamespaceSchemaLocation="../../resources/schema/msgcat.xsd">
  <message>
    <entry key="WindowTitle">MATLAB Test マネージャー</entry>
    <entry key="RunAllMenuItem">すべて実行</entry>
    <entry key="StatementCoverage">ステートメント</entry>
    <entry key="DecisionCoverage">判定</entry>
    <entry key="ConditionCoverage">条件</entry>
    <entry key="MCDCCoverage">MC/DC</entry>
    <entry key="CoverageReportNotAvailableMenuItem">利用可能なコード カバレッジ レポートはありません</entry>
    <entry key="PreviousRunNotAvailableMenuItem">使用可能な以前の実行がありません</entry>
    <entry key="TestReportActiveTestSuiteMenuItem">テスト結果レポートの生成</entry>
    <entry key="TestReportSelectedTestsMenuItem">選択したテストのテスト結果レポートの生成</entry>
    <entry key="EnableCoverage">コード カバレッジを有効にする</entry>
    <entry key="EnableGenCoverage">生成コードのカバレッジを有効にする</entry>
    <entry key="EnableCoverageDescription">すべてのテストを実行する際にコード カバレッジを収集します</entry>
    <entry key="EnableGenCoverageDescription">等価性テストの実行時に生成コードのカバレッジを収集します</entry>
    <entry key="AutoOpenCoverage">コード カバレッジ レポートを自動的に開く</entry>
    <entry key="AutoOpenCoverageDescription">コード カバレッジの収集後にコード カバレッジ レポートを自動的に開きます</entry>
    <entry key="EnableDiagnosticsOutputLogging">診断ログを有効にする</entry>
    <entry key="EnableDiagnosticsOutputLoggingDescription">診断ログをコマンド ウィンドウに表示します</entry>
    <entry key="Stop">停止</entry>
    <entry key="RunAllInTestSuite">テストの実行</entry>
    <entry key="RefreshAllTests">テストのリフレッシュ</entry>
    <entry key="RunTestsInParallel">テストを並列実行</entry>
    <entry key="CoverageCollectionSettings">コード カバレッジ収集設定の構成</entry>
    <entry key="ViewReport">レポートの表示</entry>
    <entry key="ConfigureRunTestsSettings">テスト実行設定の構成</entry>
    <entry key="LoadBaselineDataInToWorkspace">{0} の読み込み</entry>
    <entry key="ExportTestRunToFile">テスト実行をファイルにエクスポート</entry>
    <entry key="TestConfigToBuildFile">現在の MATLAB Test マネージャーの構成をコピーしてビルド ファイルに含める</entry>
    <entry key="MoreFilters">フィルター</entry>
    <entry key="PassedTestResult">パス</entry>
    <entry key="FailedTestResult">失敗</entry>
    <entry key="IncompleteTestResult">未完了</entry>
    <entry key="NotRunTestResult">実行なし</entry>
    <entry key="QueuedTestResult">待機中</entry>
    <entry key="AllStatusesMenuItem">すべてのステータス</entry>
    <entry key="TestResultHeader">テスト結果</entry>
    <entry key="TestTypeHeader">テスト タイプ</entry>
    <entry key="BaselineTestType">ベースライン</entry>
    <entry key="EquivalenceTestType">等価性</entry>
    <entry key="ConfigureColumns">列の構成</entry>
    <entry key="RunningTests">テストを実行中...</entry>
    <entry key="AllTestsButton">合計テスト数</entry>
    <entry key="PassedButton">パス</entry>
    <entry key="FailedButton">失敗</entry>
    <entry key="IncompleteButton">未完了</entry>
    <entry key="NotRunButton">実行なし</entry>
    <entry key="ShowAllResultStatus">すべてのテストを表示</entry>
    <entry key="ShowOnlyPassedResultStatus">パスしたテストのみを表示</entry>
    <entry key="ShowOnlyFailedResultStatus">失敗したテストのみを表示</entry>
    <entry key="ShowOnlyIncompleteResultStatus">未完了のテストのみを表示</entry>
    <entry key="ShowOnlyNotRunResultStatus">実行されていないテストのみを表示</entry>
    <entry key="SearchBox">テキストでフィルター</entry>
    <entry key="TestColumn">テスト</entry>
    <entry key="DiagnosticColumn">診断</entry>
    <entry key="TypeColumn">タイプ</entry>
    <entry key="TagColumn">タグ</entry>
    <entry key="RequirementColumn">要件</entry>
    <entry key="TimeColumn">時間</entry>
    <entry key="DataColumn">データ</entry>
    <entry key="TableTitle">テスト詳細</entry>
    <entry key="Expander">すべて展開</entry>
    <entry key="CollapseAll">すべて折りたたむ</entry>
    <entry key="TableMenu">テストの展開、折りたたみ、および並べ替え</entry>
    <entry key="SortBy">並べ替え</entry>
    <entry key="LoadOrder">テスト (読み込み順序)</entry>
    <entry key="NaturalSort">テスト (自然順の並べ替え)</entry>
    <entry key="Ascending">昇順</entry>
    <entry key="Descending">降順</entry>
    <entry key="RunSelectedMenuItem">選択済みを実行</entry>
    <entry key="EditSelectedMenuItem">選択済みを編集</entry>
    <entry key="UpdateBaselineDataMenuItem">ベースライン データの更新</entry>
    <entry key="RequirementsMenuItem">要件</entry>
    <entry key="AppTest">アプリ</entry>
    <entry key="PerformanceTest">パフォーマンス</entry>
    <entry key="MockTest">モック</entry>
    <entry key="EquivalenceTest">等価性</entry>
    <entry key="ParameterizedTest">パラメーター化</entry>
    <entry key="BaselineTest">ベースライン</entry>
    <entry key="TimeHourMinuteSecond">{0} 時間 {1} 分 {2} 秒</entry>
    <entry key="TimeMinuteSecond">{0} 分 {1} 秒</entry>
    <entry key="TimeSecond">{0} 秒</entry>
    <entry key="AllRowsFilteredOut">適用したフィルターに合致するテストはありません。</entry>
    <entry key="FiltersActive">1 つ以上のフィルターが適用されます。</entry>
    <entry key="ResetFilters">フィルターのクリア</entry>
    <entry key="RefreshingTests">テストをリフレッシュ中...</entry>
    <entry key="LoadingTestsIndeterminate">テストを読み込み中...</entry>
    <entry key="LoadingTestsDeterminate">テスト {0}/{1} を読み込み中...</entry>
    <entry key="SettingUpTestEnvironment">テスト環境を設定中...</entry>
    <entry key="OpeningTests">テスト ファイルを開いています...</entry>
    <entry key="NavigatingToRequirement">要件に移動中...</entry>
    <entry key="OpeningTestSuitesManager">テスト スイート マネージャーを開いています...</entry>
    <entry key="GenericBusyMessage">処理中...</entry>
    <entry key="SavingCoverageResult">コード カバレッジ結果を保存しています...</entry>
    <entry key="CreatingCoverageReport">コード カバレッジ レポートを作成中...</entry>
    <entry key="UpdatingCoverageSummary">カバレッジの概要を更新中...</entry>
    <entry key="CleanupRefreshSession">リフレッシュを終了中...</entry>
    <entry key="GettingSelectedTestLineRange">選択したテストの行範囲を取得中...</entry>
    <entry key="UpdatingBaselineData">ベースライン データを更新しています...</entry>
    <entry key="UpdatingRequirementLinks">要件リンクを更新しています...</entry>
    <entry key="ImportingTestRunOverlay">テスト実行をファイルからインポート中...</entry>
    <entry key="ExportingTestRunOverlay">テスト実行をファイルにエクスポート中...</entry>
    <entry key="CleanupRunSession">実行を終了中...</entry>
    <entry key="TitleAndActiveTestSuite">MATLAB Test マネージャー: {0}</entry>
    <entry key="AllTestsInCurrentProject">現在のプロジェクトにあるすべてのテスト</entry>
    <entry key="ManageCustomTestSuites">カスタム テスト スイートを管理...</entry>
    <entry key="ManageCustomTestSuitesTooltip">テスト スイート マネージャーを開いて、カスタム テスト スイートを定義します。</entry>
    <entry key="CustomTestSuiteHeader">カスタム テスト スイート</entry>
    <entry key="ImpactedTestsSinceLastCommit">最後にコミットした時点以降の影響を受けるテスト</entry>
    <entry key="ImpactedTestsSinceLastCommitTooltip">最後にコミットした時点以降の変更の影響を受けるテスト</entry>
    <entry key="PreviousRunTitle">MATLAB Test マネージャー: {0} - {1}</entry>
    <entry key="PreviousRunsMenuHeader">以前の実行</entry>
    <entry key="PreviousRunMenuLabel">{0} - {1}</entry>
    <entry key="SelectedTestsRun">選択されたテスト</entry>
    <entry key="ImportTestRunMenuLabel">テスト実行をインポート...</entry>
    <entry key="ImportPreviousRunMenuLabel">{0} - {1} (インポート済み)</entry>
    <entry key="TestResultReportMenuHeader">テスト結果レポート</entry>
    <entry key="SelectTestResultReportName">テスト結果レポート ファイルの名前と形式を選択します。</entry>
    <entry key="LoadingTestResultIndeterminate">テスト結果を読み込み中...</entry>
    <entry key="LoadingTestResultDeterminate">テスト結果を読み込み中 {0}/{1}...</entry>
    <entry key="TestResultConfirmDialogMessage">一部のテストには結果がありません。結果があるテストについてのみ、[続行] をクリックしてテスト レポートを生成してください。次のテストには結果がありません。\n{0}</entry>
    <entry key="TestResultSaveQuestionDialog">html ファイルを空でないフォルダーに保存しますか?</entry>
    <entry key="CoverageReportMenuHeader">コード カバレッジ レポート</entry>
    <entry key="CodeGenCoverageReportMenuHeader">生成コードのカバレッジ レポート</entry>
    <entry key="SelectTests">{0} - 選択されたテスト {1}</entry>
    <entry key="TestSuite">{0} - テスト スイート {1}</entry>
    <entry key="AllTests">{0} - 現在のプロジェクトにあるすべてのテスト</entry>
    <entry key="FunctionCoverage">関数</entry>
    <entry key="CoverageSummaryTitle">カバレッジの概要</entry>
    <entry key="CoverageSummaryIsStaleMessage">スイート内のテストのサブセットを実行しても結果は更新されません。</entry>
    <entry key="LastUpdated">最終更新: {0}</entry>
    <entry key="DiagnosticsReportWindowTitle">{0}: {1}</entry>
    <entry key="BaselineData">ベースライン データ</entry>
    <entry key="UpdateBaselineDataDialogText">選択されたテストについて、ベースラインを新しいデータで上書きしてもよろしいですか?</entry>
    <entry key="UpdateBaselineDataDialogTitle">ベースラインの更新</entry>
    <entry key="BuildtoolDialogTitle">ビルド ファイル用に現在のテスト構成をコピー</entry>
    <entry key="BuildfileHyperlinkText">ビルド ファイルとは</entry>
    <entry key="CopyToClipboard">コードをクリップボードにコピー</entry>
    <entry key="CodeSnippetCopied">コピーされました</entry>
    <entry key="GeneratingTestTask">TestTask を生成中...</entry>
    <entry key="CodeSnippetDescription">このコードの抜粋は、現在選択されているテスト スイート、カバレッジの設定、出力の詳細、ログ レベル、厳密なチェックの設定など、MATLAB Test マネージャーの現在の構成を反映しています。このコードの抜粋をコピーしてビルド ファイルに貼り付けてください。</entry>
    <entry key="CodeSnippetPlanComment">{0} は {1} オブジェクトを参照しています</entry>
    <entry key="CodeSnippetGeneratedCoverageComment">テスト マネージャーで [生成コードのカバレッジ] が有効になっていますが、TestTask ではサポートされません</entry>
    <entry key="ImportTestRunDialogTitle">テスト実行をファイルからインポート</entry>
    <entry key="ExportTestRunDialogTitle">テスト実行をファイルにエクスポート</entry>
    <entry key="ErrorDialogTitle">MATLAB Test マネージャー</entry>
    <entry key="MLTestAttemptedLoadWithoutProject">Unable to open MATLAB Test Manager. There is no open project.</entry>
    <entry key="TestManagerOpenInAnotherMATLAB">MATLAB Test マネージャーを開くことができません。現在のプロジェクトは、MATLAB の別のインスタンスで開かれています。</entry>
    <entry key="TestResultsOpenInAnotherMATLAB">MATLAB Test の結果を読み取ることができません。現在のプロジェクトは、MATLAB の別のインスタンスで開かれています。</entry>
    <entry key="TestResultsNewerThanMATLAB">MATLAB Test の結果を読み取ることができません。現在のプロジェクトには、新しいバージョンの MATLAB ({0}) からのテスト結果が含まれています。</entry>
    <entry key="RunFailed">実行に失敗しました。</entry>
    <entry key="RefreshFailed">リフレッシュに失敗しました。</entry>
    <entry key="GenericError">要求されたアクションを完了できませんでした。</entry>
    <entry key="NoTestsInActiveSuite">No tests match the criteria specified by the selected test suite.</entry>
    <entry key="NoTestsSelected">テストが選択されていません。</entry>
    <entry key="NoTestsFound">No tests found. Check that there are tests in the project and they do not contain syntax errors.</entry>
    <entry key="SelectedTestsNotFound">Unable to find the selected tests. Check that the selected tests are in the project and do not contain syntax errors.</entry>
    <entry key="ActionIncompleteDiagnosticsH1Line">テスト実行が未完了</entry>
    <entry key="ActionIncompleteDueToMATLABInterrupt">要求されたアクションを完了できませんでした。Ctrl+C が使用されたか、停止ボタンが押されたことにより MATLAB が中断されたためです。</entry>
    <entry key="OpenTestFileFailed">Unable to open the following test files:\n\n{0}</entry>
    <entry key="ParallelModeMissingPCT">Unable to start a parallel pool. To run tests in parallel, Parallel Computing Toolbox must be installed and licensed.</entry>
    <entry key="ParallelPoolUnavailable">Unable to find an open parallel pool. To run tests in parallel, enable automatic pool creation in the Parallel Preferences.</entry>
    <entry key="ThreadPoolNotSupported">Running tests in ThreadPool is not supported.</entry>
    <entry key="WarningDialogTitle">警告</entry>
    <entry key="MissingCoverageReportWarning">コード カバレッジ レポートを使用できません。コード カバレッジ レポートを生成するには、コード カバレッジを有効にして MATLAB Test マネージャーで再実行してください。</entry>
    <entry key="MissingDesignFilesForCoverageReportWarning">現在のプロジェクトに MATLAB ソース コード ファイルがないため、コード カバレッジ レポートを生成できません。</entry>
    <entry key="MissingEquivalenceTestsForCodeGenReportWarning">生成された C/C++ コードの等価性テストが実行されなかったため、生成コードのカバレッジ レポートを作成できません。</entry>
    <entry key="RequirementsToolboxRequired">テストにリンクされている要件を表示するには、Requirements Toolbox をインストールする必要があります。</entry>
    <entry key="RefreshInterruptedWarning">テスト スイートの変更時に、テスト スイート情報の読み込みが中断されました。現在のテスト スイートのテストを表示するには、リフレッシュしてください。</entry>
    <entry key="FailedInitializationNoWritePermissions">プロジェクト フォルダー "{0}" が読み取り専用であるため、MATLAB Test マネージャーは初期化できませんでした。書き込み可能なプロジェクト フォルダーでのみ、MATLAB Test マネージャーを使用できます。</entry>
    <entry key="MissingTestResult">データ モデル内にテスト結果が見つかりません。</entry>
    <entry key="NoTestResultAvailable">使用できるテスト結果がなかったため、テスト結果レポートは生成されませんでした。</entry>
    <entry key="InvalidParameterizationInTestResults">The test result report was not generated because parameterization information is invalid in one or more test results. Refresh tests to update parameterization information.</entry>
    <entry key="MissingStatusProperty">ステータス プロパティがありません。パブリッシュされたメッセージにステータス プロパティが含まれていることを確認してください。</entry>
    <entry key="MissingLineRange">選択したテストの行範囲が見つかりませんでした。削除された要件リンクはありません。</entry>
    <entry key="FailedToUpdateBaseline">選択されたテストのベースラインの更新に失敗しました</entry>
    <entry key="FailedToExportBaseline">ベースライン データをワークスペースにエクスポートできませんでした</entry>
    <entry key="UpdateFailed">更新できません</entry>
    <entry key="ExportFailed">エクスポートに失敗</entry>
    <entry key="TestNotFound">Unable to create or delete requirement links because no valid test was found. Modifying links for tests that have been commented out, script-based tests, or tests in MLX files is not supported.</entry>
    <entry key="NoTestsFoundImpacted">最後にコミットした時点以降の変更の影響を受けるテストが見つかりません</entry>
    <entry key="NoSourceControlIntegrationFound">Unable to find tests impacted by changes since the last commit because the current project does not use source control.</entry>
    <entry key="UnableToExportTestRun">テスト実行をエクスポートできません\n{0}</entry>
    <entry key="UnableToImportTestRun">テスト実行をインポートできません\n{0}</entry>
    <entry key="UnsupportedTestRunFileExtension">テスト実行ファイルには "{0}" 拡張子が必要です</entry>
    <entry key="ExportedBaselineData">ベースライン データをワークスペースにエクスポートしました</entry>
    <entry key="ExportComplete">エクスポート完了</entry>
    <entry key="DiagnosticsNotAvailableTitle">診断利用不可</entry>
    <entry key="DiagnosticsNotAvailableMsg">失敗したテストがないため、テスト診断を開けません。</entry>
    <entry key="TestResultsNewerThanMATLABPrompt">現在のプロジェクトには、新しいバージョンの MATLAB ({0}) からの MATLAB Test の結果が含まれています。MATLAB Test マネージャーを開くには、既存の結果を削除する必要があります。</entry>
    <entry key="TestResultsNewerThanMATLABDelete">結果を削除し、MATLAB Test マネージャーを開く</entry>
    <entry key="DialogCancel">キャンセル</entry>
  </message>
</rsccat>
