@import "variables";


.mwSpinner .mwContainerNode {
  display: inline-block;
  vertical-align: top;
}

.mwSpinner .mwButtonsContainer {
  display: inline-block;
  height:100%;
  // twist the margin to make sure the buttons and text field share the same border
  margin-left: -1px;
}

.mwSpinner .mwIncrementButtonWrapper .mwPushButton,
.mwSpinner .mwDecrementButtonWrapper .mwPushButton {
    padding: 0;
}


.mwSpinner .mwTextField {
  display: inline-block;
  vertical-align: middle;
}

.mwSpinner .mwIncrementButtonWrapper .mwPushButton .mwSpinnerUpButton{
  background-image: url(../../images/arrowNorthUI.svg);
  width: 8px;
  height: 8px;
  text-align: center;
  // twist the icon margin to make sure it shows up in center
  margin-bottom: 1px;
}

.mwSpinner .mwDecrementButtonWrapper .mwPushButton .mwSpinnerDownButton{
  background-image: url(../../images/arrowSouthUI.svg);
  width: 8px;
  height: 8px;
  text-align: center;
  // twist the icon margin to make sure it shows up in center
  margin-top: 1px;
}

.mwWidget.mwVerticalAlignmentMixin.mwIncrementButtonWrapper .mwPushButton .mwContentWrapperNode
.mwWidget.mwVerticalAlignmentMixin.mwDecrementButtonWrapper .mwPushButton .mwContentWrapperNode{
    display: flex;
    align-items: center;
    justify-content: center;
    // twist the margin to make sure icons show up in center
    margin-top: -1px;
}
