<?xml version="1.0" encoding="UTF-8" ?>
<!-- Copyright 2014-2018 The MathWorks, Inc. -->
<rsccat version="1.0" locale="en_US" product="SimulinkProject" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../schema/msgcat.xsd">
    <message>
        <entry key="ProjectFileMenu" translate="true">Project</entry>
        <entry key="ProjectAdd" translate="true">Add to Project</entry>
        <entry key="ProjectRemove" translate="true">Remove from Project</entry>
        <entry key="ProjectOpen" translate="true">Open Project</entry>
        <entry key="ProjectShow" translate="true">Show in Project</entry>
        <entry key="ProjectCreate" translate="true">Create Project from Model</entry>
        <entry key="ProjectShowDependencies" translate="true">Find Dependencies</entry>
        <entry key="checkout" translate="true">Get File Lock</entry>
        <entry key="unCheckout" translate="true">Discard Local Changes and Release Locks</entry>
        <entry key="revertLocal" translate="true">Revert Local Changes</entry>
        <entry key="CompareToAncestor" translate="true">Compare to Ancestor</entry>
        <entry key="CompareToRevision" translate="true">Compare to Revision</entry>        
        <!-- Errors -->
        <entry key="ModelNotInProject">This model is not in the root folder of a project.</entry>
    </message>
</rsccat>

