<?xml version="1.0" encoding="UTF-8" ?>
<!-- Copyright 2022 The MathWorks, Inc. -->
<rsccat version="1.0" locale="en_US" product="SimulinkProject" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../schema/msgcat.xsd">
  <message>
    <entry key="SimulinkSettingsName">Simulink</entry>

    <entry key="CacheFolderName">Simulation cache folder</entry>
    <entry key="CacheFolderDescription">Simulation cache folder:</entry>
    <entry key="CacheFolderDefaultValue">default</entry>

    <entry key="CodeGenFolderName">Code generation folder</entry>
    <entry key="CodeGenFolderDescription">Code generation folder:</entry>
    <entry key="CodeGenFolderDefaultValue">default</entry>

    <entry key="OverridenCheckboxTooltip">Required by other project settings</entry>
  </message>
</rsccat>
