<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
    </head>
    <body>
        <form class="Hole">
            <label for="SubsectionTitle">SubsectionTitle</label>
            <input id="SubsectionTitle" value="SubsectionTitle"/>
        </form>
        <form class="Hole">
            <label for="SubsectionContents">SubsectionContents</label>
            <input id="SubsectionContents" value="SubsectionContents"/>
        </form>
    </body>
</html>
