<?xml version="1.0" encoding="UTF-8" ?>
<!--Copyright 2021 The MathWorks, Inc. -->
<rsccat version="1.0" locale="en_US" product="comparisons">
  <message>
    <entry key="InvalidColor">Value must be a 3-element vector. The vector elements must be integers between 0 and 255.</entry>
  </message>
</rsccat>
