<?xml version="1.0"?>
<!-- Copyright 2024 The MathWorks, Inc. -->
<rsccat version="1.0" locale="en_US" product="imagesui">
    <message>

        <!-- Context Menu -->
        <entry key="flipPlane" note="">Flip plane</entry>
        <entry key="removePlane" note="">Remove plane</entry>
        <entry key="removeAllPlanes" note="">Remove all planes</entry>
        <entry key="removeCrop" note="">Remove crop region</entry>
        <entry key="removeAnnotation" note="">Remove annotation</entry>
        <entry key="removeDataTip" note="">Remove data tip</entry>
        <entry key="removeAllAnnotations" note="">Remove all annotations</entry>
        <entry key="snapPlane" note="">Snap normal to...</entry>
        <entry key="planeDirection" note="">{0} direction</entry>
        <entry key="editLabel" note="">Edit label</entry>
        <entry key="copyColor" note="">Copy color</entry>
        <entry key="copyLocation" note="">Copy location</entry>
        <entry key="copyIntensity" note="">Copy intensity</entry>
        <entry key="exportToWorkspace" note="">Export to workspace</entry>
        <entry key="exportInfo" note="">Export info to workspace</entry>
        <entry key="exportScissorsMask" note="">Export 3-D scissors mask to workspace</entry>
        <entry key="exportAnnotation" note="">Export annotation to workspace</entry>
        <entry key="objectInfo" note="">Object info</entry>
        <entry key="scissorsMask" note="">3-D scissors mask</entry>
        <entry key="annotation" note="">Annotation</entry>
        <entry key="copyScreenshot" note="">Copy screenshot to clipboard</entry>
        <entry key="saveScreenshot" note="">Save screenshot to file</entry>
        <entry key="showDisplayInfo" note="">Display info</entry>
        <entry key="showScaleBar" note="">Scale bar</entry>
        <entry key="embedInLiveEditor" note="">Always embed Viewer in Live Editor</entry>

    </message>
</rsccat>

<!--Please use note attribute to describe context of message-->