<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2024 The MathWorks, Inc.-->

<rsccat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0" locale="ja_JP" product="parallel" xsi:noNamespaceSchemaLocation="../../resources/schema/msgcat.xsd">
  <message>
    <entry key="AddHiddenKeyFailed">キー {0} をノード {1} に追加できませんでした。</entry>
    <entry key="AddHiddenNodeFailed">ノード {0} をノード {1} に追加できませんでした。</entry>
    <entry key="AreKeysSetLevelFailed">''{0}'' キーが ''{2}'' ノードの {1} レベルに設定されているかどうかを判定できませんでした。</entry>
    <entry key="CannotConvertSchedulerTypeToApi1">クラスター タイプ ''{0}'' を変換することはできません。</entry>
    <entry key="CannotRenameNode">''{0}'' {1} の名前の変更は許可されていません。</entry>
    <entry key="CannotSetDefaultProfile">''{1}'' という名前のプロファイルは存在しないため、DefaultProfile を {0} に設定できません。有効なプロファイル名:\n\t{2}</entry>
    <entry key="CollapsedDefaultProfileNoLongerExists">DefaultProfile の値の ''{0}'' は、既存のプロファイルの名前ではありません。DefaultProfile をユーザー レベルで ''{1}''に設定します。有効なプロファイル名:\n\t{2}</entry>
    <entry key="ConfigurationsCreateNewFileDoesNotExist">ファイルが存在しないため、''{0}'' から新しい構成を作成できません。</entry>
    <entry key="ConfigurationsLoadFailed">ファイル ''{0}'' から構成を読み込むことができませんでした。</entry>
    <entry key="ConfigurationsLoadFailedUpgrade">アップグレード エラーのため、ファイル ''{0}'' から構成をインポートできませんでした。</entry>
    <entry key="ConfigurationsLoadMissingName">ファイル {0} からインポートするときに構成名を検出することができませんでした。</entry>
    <entry key="ConfigurationsLoadMissingValues">ファイル {0} からインポートするときに構成値を検出することができませんでした。</entry>
    <entry key="ConfigurationsLoadMissingVersion">ファイル {0} から構成をインポートするときにバージョン情報を検出することができませんでした。</entry>
    <entry key="ConfigurationsStructUpgradeFailed">構成をバージョン {0} から {1} にアップグレードできませんでした。</entry>
    <entry key="ConfigurationsUpgradeNewerVersion">Parallel Computing Toolbox のバージョン {0} を使用して、製品のバージョン {1} で作成された構成を読み込もうとしています。</entry>
    <entry key="ConfigurationsUpgradeUnknownVersionNumber">Parallel Computing Toolbox のバージョン {0} を使用して、不明なバージョン番号 {1,number,integer} が含まれる構成を読み込もうとしています。新しいバージョンの製品から構成を読み込もうとしている可能性があります。</entry>
    <entry key="CopyCollapsedNodeFailed">折りたたまれた値を ''{0}'' ノードからユーザー レベル ''{1}'' ノードにコピーできませんでした。</entry>
    <entry key="CopyUserNodeFailed">ユーザー レベルを ''{0}'' ノードから ''{1}'' ノードにコピーできませんでした。</entry>
    <entry key="CopyWorkgroupNodeFailed">ワークグループ レベルを ''{0}'' ノードから ''{1}'' ノードにコピーできませんでした。ワークグループ設定への書き込み権限がない可能性があります。</entry>
    <entry key="CreateSiblingNodeFailed">ノード ''{1}'' に対して兄弟ノード ''{0}'' を作成できませんでした。</entry>
    <entry key="DefaultProfileIsDefaultValue">DefaultProfile の値が、有効なプロファイル名ではない parallel.setting.DefaultValue になっています。これは、インストールが破損している可能性があることを示します。DefaultProfile をユーザー レベルで ''{0}''に設定します。有効なプロファイル名:\n\t{1}</entry>
    <entry key="DefaultProfileObjectNotFound">名前が ''{0}'' のプロファイルを見つけることができませんでした。</entry>
    <entry key="DeleteNamedNodesNameNotString">名前は文字ベクトルとして指定しなければなりません。</entry>
    <entry key="DeleteNodeHasFactoryValues">''{0}'' は、値が出荷レベルで定義されているため、削除できません。</entry>
    <entry key="DeployedNodesTransientCollectionNotEmpty">過渡特性コレクションには、既にいくつかのノードが含まれています。</entry>
    <entry key="DifferentJobParallelJobValuesInConfiguration">{0} プロパティの値が、名前が ''{1}'' の構成の job セクションと paralleljob セクションで異なります。paralleljob セクションの値は、プロファイルへの変換中に無視されます。</entry>
    <entry key="DisallowedThreadsProfile" context="error">'Threads' での関数 ''{0}'' の使用はサポートされていません。代わりに 'Processes' または別のクラスター プロファイルを使用してください。</entry>
    <entry key="ExportNoFilename">ファイル名が指定されていないため、''{0}'' にエクスポートできません。</entry>
    <entry key="ExportProfileNamesMustBeString">プロファイルは文字ベクトルとして指定しなければなりません。</entry>
    <entry key="FactoryProfileNotFound">{0} プロファイルが見つかりません。インストールが破損している可能性があります。</entry>
    <entry key="FailedRestoreKeyValuesOnNode">変更されたキー値は復元できませんでした。</entry>
    <entry key="FailedRestoreNodeRemoveKeys">追加された子キーは削除できませんでした。</entry>
    <entry key="FailedRestoreNodeRemoveNodes">追加された子ノードは削除できませんでした。</entry>
    <entry key="FailedToAddMcrUserDataProfile">ファイル ''{0}'' で指定されたプロファイルをインポートおよび使用できませんでした。</entry>
    <entry key="FailedToChangeName">''{0}'' の名前を ''{1}'' に変更できませんでした。</entry>
    <entry key="FailedToDeleteSettingsNode">ノード ''{0}'' を削除できませんでした。</entry>
    <entry key="FailedToUpgradeSchedulerComponent">''{0}'' プロファイルをアップグレードできません。このプロファイルは削除されています。</entry>
    <entry key="GetAtLevelFailed">{1} レベルで {0} を取得できませんでした。</entry>
    <entry key="GetKeyOnLevelFailed">''{2}'' ノードの {1} レベルにある ''{0}'' キーを取得できませんでした。</entry>
    <entry key="GetSetActionLevelNotString">{0} を呼び出す場合、レベルは文字ベクトルでなければなりません。</entry>
    <entry key="GetSetActionNotAllowedForProperty">''{0}'' は、タイプ {1} のオブジェクトの次のプロパティで使用できません。\n\t{2}</entry>
    <entry key="GetSetActionWithLevelNotAllowedForProperty">特定のレベルが設定された ''{0}'' は、タイプ {2} のオブジェクトの ''{1}'' プロパティで使用できません。</entry>
    <entry key="GetSetActionWithLevelPropNotString">レベルを指定して {0} を呼び出す場合、プロパティ名は文字ベクトルでなければなりません。</entry>
    <entry key="GetSetFailedToConvertStoredSettingToValue">{0} プロパティの設定に格納された値を {1} に変換できませんでした。</entry>
    <entry key="GetSetFailedToConvertValueForStorage">設定のストレージは、{1} プロパティのタイプ {0} の値を変換できませんでした。</entry>
    <entry key="GetSetNodeNotValid">''{0}'' {1} の設定ノードは無効であり、削除された可能性があります。</entry>
    <entry key="GetSetVectorizedActionWithLevelNotAllowed">特定のレベルのベクトル化された ''{0}'' は、{1} タイプのオブジェクトで使用できません。</entry>
    <entry key="ImportConfigurationButNotUsingProfiles" context="error">Unable to import configuration from file {0} because useprofiles is not true in pctconfig.</entry>
    <entry key="ImportConfigurationNameChangedNotVarName">''{2}'' は有効な MATLAB 変数名でないため、プロファイルへの変換中に構成名 ''{0}'' は ''{1}'' に変更されました。</entry>
    <entry key="ImportJSONProfileMissingField" context="warning">JSON 形式のクラスター プロファイルで必須フィールド ''{0}'' が見つかりません。</entry>
    <entry key="ImportJSONProfileUnsupportedVersion" context="warning">JSON 形式 version {0} のクラスター プロファイルのインポートはサポートされていません。サポートされている JSON 形式のバージョン: {1}。</entry>
    <entry key="ImportLegacyProfileInvalidClusterType" context="error">Failed to import profiles for ''{0}'' cluster. The .settings extension is supported only for shared cluster profiles that are downloaded from Cloud Center.</entry>
    <entry key="ImportMcruserdataMultipleProfiles">複数のプロファイルがファイル ''{0}'' からインポートされました。''{1}'' を既定値に設定します。</entry>
    <entry key="ImportMcruserdataProfileNamesChanged">同じ名前の既存プロファイルと競合しないように、ファイル {0} のインポート中に次のインポート済みプロファイル名が変更されました。\n{1}\n既定のプロファイルは ''{2}'' に設定されました。</entry>
    <entry key="ImportProfileFailedToAddProfiles">''{0}'' で定義されたプロファイルを追加できませんでした。</entry>
    <entry key="ImportProfileFailedToAddProjectComponents">ファイル ''{0}'' で定義されたプロジェクト コンポーネントを追加できませんでした。</entry>
    <entry key="ImportProfileFailedToAddSchedulerComponents">ファイル ''{0}'' で定義されたスケジューラ コンポーネントを追加できませんでした。</entry>
    <entry key="ImportProfileFailedToImportFolder">''{0}'' はフォルダーであるため、ここからプロファイルをインポートできませんでした。</entry>
    <entry key="ImportProfileFailedToImportSettings">ファイル ''{0}'' からプロファイルをインポートできませんでした。</entry>
    <entry key="ImportProfileFailedToRemove">プロファイルをインポートできませんでしたが、インポートされたタイプ ''{0}'' のオブジェクトは削除されませんでした。</entry>
    <entry key="ImportProfileInvalidFilename">ファイル ''{0}'' を検索できませんでした。</entry>
    <entry key="ImportProfileNoProfilesInFile">プロファイルまたはコンポーネントがファイル ''{0}'' で見つかりませんでした。</entry>
    <entry key="InvalidDeleteSyntax">構文が無効です。プロファイルまたはコンポーネントを削除するには、"delete(obj)" を使用してください。</entry>
    <entry key="InvalidMinMaxWorkerValuesInConfiguration">名前が ''{2}'' の構成の MinimumNumberOfWorkers ({0,number,integer}) と MaximumNumberOfWorkers ({1,number,integer}) の値は、プロファイルの NumWorkersRange と互換性がありません。これらの値は、プロファイルへの変換中に無視されます。</entry>
    <entry key="InvalidNamedNodeType">''{0}'' は有効なタイプではありません。有効なタイプ: {1}</entry>
    <entry key="InvalidSettingsLevel">無効な設定レベルが指定されました。</entry>
    <entry key="KeyNotExist">''{0}'' キーは、''{1}'' ノードに存在しません。</entry>
    <entry key="MATLABParallelCloudProfileExists">''MATLAB Parallel Cloud'' というプロファイルが既に存在するため、''MATLAB Parallel Cloud'' プロファイルを作成できません。既存の ''MATLAB Parallel Cloud'' プロファイルを削除するか、名前を変更してください。</entry>
    <entry key="MissingFieldInConfigurationStructure">指定された構造体は、''{0}'' フィールドがないため、有効な構成の構造体ではありません。</entry>
    <entry key="MoveNodeHasFactoryValues">''{0}'' ノードは、値が出荷レベルで定義されているため、移動できません。</entry>
    <entry key="MultipleNamedNodesCannotExport">次の {0} のエクスポートは許可されていません:{1}</entry>
    <entry key="NameOfDefaultProfileChanged">''{2}'' プロファイルの名前が ''{3}'' に変更されたため、DefaultProfile は ''{0}'' から ''{1}'' に変更されました。</entry>
    <entry key="NamedNodeCannotDuplicate">''{0}'' {1} の複製は許可されていません。</entry>
    <entry key="NamedNodeCannotExport">''{0}'' {1} のエクスポートは許可されていません。</entry>
    <entry key="NamedNodeFailedToRestore">ノード ''{0}'' を復元できませんでした。</entry>
    <entry key="NamedNodeNameNotVarName">名前は有効な変数名の文字ベクトルでなければなりません。</entry>
    <entry key="NamedNodeRestoreInvalidLevel">取得と設定のどちらにも使用できないレベルの復元ポイントは生成できません。</entry>
    <entry key="NamedNodeRestoreInvalidStruct">ノードの復元で指定された構造体が無効です。</entry>
    <entry key="NamedNodesBuildNewFailed">名前が ''{1}'' の {0} を作成できませんでした。</entry>
    <entry key="NamedNodesCollectionAddFromSame">同じコレクションから指定されたノードは追加できません。</entry>
    <entry key="NamedNodesCollectionAddFromSameSettingsNode">同じ最上位レベル設定ノードをもつコレクションから指定されたノードは追加できません。</entry>
    <entry key="NamedNodesCollectionAddFromWrongType">タイプ ''{0}'' の指名されたノードをタイプ ''{1}'' のコレクションに追加できません。</entry>
    <entry key="NamedNodesCollectionAddUsedNames">名前は文字ベクトルのセル配列でなければなりません。</entry>
    <entry key="NamedNodesDeletedInvalidChild">{1} ノードの名前が ''{0}'' の子は無効な {2} であるため、削除されました。</entry>
    <entry key="NamedNodesDeletedInvalidChildren">{0} ノードの次の無効な子は削除されました: \n\t{1}</entry>
    <entry key="NamedNodesFailedToRemoveInvalidChildren">{0} ノードの次の無効な子を削除できませんでした: \n\t{1}</entry>
    <entry key="NamedNodesMergeSettingsFailed">ノード ''{0}'' の設定をマージできませんでした。</entry>
    <entry key="NoDisplayAvailable">タイプ ''{0}'' のオブジェクトを表示できません。</entry>
    <entry key="NodeAndParentNotValid">ノードと親ノードは有効でなければなりません。</entry>
    <entry key="NodeFacadeCopyAllLevelsHasFactoryValues">ノード ''{0}'' は、値の一部が出荷時の設定に定義されているため、すべてのレベルでコピーできません。</entry>
    <entry key="NodeNotValid">ノード ''{0}'' は無効であるか、存在しません。</entry>
    <entry key="NonExistentProfile">''{0}'' はプロファイルの名前ではありません。有効な名前: \n{1}</entry>
    <entry key="ParentNodeInvalid">親ノードは無効で、設定ツリーから削除された可能性があります。</entry>
    <entry key="ProfileCannotChangeSchedulerComponent">名前が ''{0}'' のプロファイルの ''SchedulerComponent'' プロパティの設定は許可されていません。</entry>
    <entry key="ProfileCannotFindProjectComponent">''{0}'' プロファイルの ProjectComponent は ''{1}'' で、存在しません。</entry>
    <entry key="ProfileCannotFindSchedulerComponent">''{0}'' プロファイルの SchedulerComponent は ''{1}'' で、存在しません。</entry>
    <entry key="ProfileNameAlreadyExists">名前が ''{0}'' のプロファイルは既に存在します。</entry>
    <entry key="ProfileSchedulerComponentNotDefined">''{0}'' プロファイルでは、SchedulerComponent は定義されていません。</entry>
    <entry key="ProfileValidationInvalidJobVariant">ジョブ タイプ ''{0}'' は、iCreateAndSubmitJob でサポートされません。</entry>
    <entry key="ProfilesConfigCreateFromFileNotMat">構成をプロファイルとしてインポートする場合、ファイル名拡張子は .mat でなければなりません。</entry>
    <entry key="ProjectComponentNameAlreadyExists">名前が ''{0}'' のプロジェクト コンポーネントは既に存在します。</entry>
    <entry key="RenameConfigurationNameAlreadyInUse">名前が ''{0}'' の構成の名前を ''{1}'' に変更できません。名前 ''{2}'' は既に使用されています。</entry>
    <entry key="SaveUserToLevelFailed">''{0}'' ノードを {1} レベルに保存できませんでした。</entry>
    <entry key="SchedulerComponentNameAlreadyExists">名前が''{0}'' のスケジューラ コンポーネントは既に存在します。</entry>
    <entry key="SetAtLevelFailed">{1} レベルで {0} を設定できませんでした。</entry>
    <entry key="SetKeyOnLevelFailed">''{2}'' ノードの {1} レベルで ''{0}'' キーを設定できませんでした。</entry>
    <entry key="SettingsLevelCannotCallIsSet">設定レベル ''{0}'' で isSet を呼び出すことはできません。</entry>
    <entry key="SettingsLevelFromNameCollapsed">Collapsed は有効な設定レベルではありません。</entry>
    <entry key="SettingsLevelNotReadable">設定レベル ''{0}'' からは取得できません。</entry>
    <entry key="SettingsLevelNotWritable">設定レベル ''{0}'' に書き込めません。</entry>
    <entry key="SettingsNodeExportCannotMakeFolder">フォルダー ''{0}'' を作成できませんでした。</entry>
    <entry key="TypedNodesAddFailedToDelete">コレクションへのノードの追加が失敗し、追加されたノードは削除できませんでした。</entry>
    <entry key="TypedNodesCollectionAddDifferentTypes">別のタイプのコレクションからはノードを追加できません。</entry>
    <entry key="TypedNodesCollectionAddFromSame">同じコレクションからタイプ指定されたノードを追加できません。</entry>
    <entry key="TypedNodesCollections">タイプは文字ベクトルとして指定しなければなりません。</entry>
    <entry key="UnsetKeyOnLevelFailed">''{2}'' ノードの {1} レベルで ''{0}'' キーを設定解除できませんでした。</entry>
    <entry key="UnsetNodeFailed">{1} レベルで ''{0}'' ノードを設定解除できませんでした。</entry>
    <entry key="UpgradeConfigurationsFailedToChangeDefault">構成からプロファイルへのアップグレード中に既定のプロファイルを {0} に変更できませんでした。原因:\n\t{1}</entry>
    <entry key="UpgradeConfigurationsNamesChanged">次の構成名が、プロファイルへのアップグレード中に変更されました:\n{0}</entry>
    <entry key="UpgradeConfigurationsNamesChangedNotVarName">次の構成名が、プロファイルへのアップグレード中に変更されました:\n{0} プロファイル名は有効な MATLAB 変数名でなければなりません。詳細は、isvarname のドキュメンテーションを参照してください。</entry>
    <entry key="UpgradeConfigurationsToProfilesFailed">次の構成をプロファイルにアップグレードできませんでした:\n\t{0}</entry>
    <entry key="UpgradeConfigurationsUnexpectedError">構成をプロファイルにアップグレードしているときに予期しないエラーが発生しました。元のエラー: {0}</entry>
    <entry key="UserDefaultProfileNoLongerExists">ユーザー レベルの DefaultProfile の値が、既存のプロファイルの名前ではない ''{0}'' になっています。DefaultProfile をユーザー レベルで ''{1}''に設定します。有効なプロファイル名:\n\t{2}</entry>
    <entry key="ValidationEventDataDebugLogNotString">デバッグ ログは文字ベクトルとして指定しなければなりません。</entry>
  </message>
</rsccat>
