<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2025 The MathWorks, Inc.-->

<rsccat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0" locale="zh_CN" product="Advisor" xsi:noNamespaceSchemaLocation="../../resources/schema/msgcat.xsd">
  <message>
    <entry key="ModelAdvisorTabTitle">模型顾问</entry>
    <entry key="ToolstripSectionHeader_Configure">配置</entry>
    <entry key="ToolstripSectionHeader_Analyze">分析</entry>
    <entry key="ToolstripSectionHeader_View">视图</entry>
    <entry key="ToolstripSectionHeader_Resolve">解决</entry>
    <entry key="ToolstripSectionHeader_Export">导出</entry>
    <entry key="ConfigureSection_Btn_Configure_Title">配置</entry>
    <entry key="ConfigureSection_Btn_Configure_Description">设定配置文件</entry>
    <entry key="ConfigureSection_Btn_Settings_Title">设置</entry>
    <entry key="ConfigureSection_Btn_Settings_Description">设置</entry>
    <entry key="AnalyzeSection_Btn_SelectSystem_Title">选择系统</entry>
    <entry key="AnalyzeSection_Btn_Run_Title">运行</entry>
    <entry key="AnalyzeSection_Btn_SelectSystem_Description">选择要对其运行分析的系统</entry>
    <entry key="AnalyzeSection_Btn_Run_Description">运行检查项</entry>
    <entry key="ViewSection_Btn_ViewResults_Title">结果</entry>
    <entry key="ViewSection_Btn_ViewResults_Description">查看结果</entry>
    <entry key="ViewSection_Btn_UndockMA_Title">顾问</entry>
    <entry key="ViewSection_Btn_UndockMA_Description">在窗口中打开模型顾问</entry>
    <entry key="ResolveSection_Btn_Fix_Title">修复</entry>
    <entry key="ResolveSection_Btn_Fix_Description">修复检查项</entry>
    <entry key="ResolveSection_Btn_Justify_Title">申述</entry>
    <entry key="ResolveSection_Btn_Justify_Description">申述检查项</entry>
    <entry key="ExportSection_Btn_Export_Title">导出</entry>
    <entry key="ExportSection_Btn_Export_Description">导出结果</entry>
    <entry key="ConfigureListItem_SectionHeader_ManageConfiguration">管理配置</entry>
    <entry key="ConfigureListItem_SectionHeader_RecentlyLoadedConfig">最近加载的配置</entry>
    <entry key="ConfigureListItem_SelectPresetConfig">选择配置</entry>
    <entry key="ConfigureListItem_SelectPresetConfig_Description">从现有配置中选择</entry>
    <entry key="ConfigureListItem_LoadConfig">加载配置</entry>
    <entry key="ConfigureListItem_LoadConfig_Description">加载现有配置</entry>
    <entry key="ConfigureListItem_MACE">打开配置编辑器</entry>
    <entry key="ConfigureListItem_MACE_Description">编辑或创建配置文件</entry>
    <entry key="ExportListItem_SectionHeader_Format">导出格式</entry>
    <entry key="ExportListItem_SectionHeader_Template">Word/PDF 报告格式</entry>
    <entry key="ExportListItem_HTML_Title">HTML</entry>
    <entry key="ExportListItem_HTML_Description">另存为 HTML 报告</entry>
    <entry key="ExportListItem_PDF_Title">PDF</entry>
    <entry key="ExportListItem_PDF_Description">另存为 PDF 报告</entry>
    <entry key="ExportListItem_Word_Title">WORD</entry>
    <entry key="ExportListItem_Word_Description">另存为 Microsoft Word 报告</entry>
    <entry key="ExportListItem_Template_Title">模板文件</entry>
    <entry key="ExportListItem_Template_Description">默认</entry>
    <entry key="PresetConfigListItem_Default">默认</entry>
    <entry key="PresetConfigListItem_MAB">MAB</entry>
    <entry key="PresetConfigListItem_JMAAB">JMAAB</entry>
    <entry key="PresetConfigListItem_MISRA">MISRA</entry>
    <entry key="PresetConfigListItem_DO">DO 178</entry>
    <entry key="PresetConfigListItem_ISO">ISO 26262</entry>
  </message>
</rsccat>
