<?xml version="1.0" encoding="UTF-8" ?>
<!-- Copyright 2021-2024 The MathWorks, Inc. -->
<rsccat version="1.0"
        locale="en_US"
        product="MATLABTest"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../schema/msgcat.xsd">
    <message>
        <entry key="WindowTitle">MATLAB Test Manager</entry>

        <!-- Toolbar menu texts -->
        <entry key="RunAllMenuItem">Run all</entry>
        <entry key="StatementCoverage">Statement</entry>
        <entry key="DecisionCoverage">Decision</entry>
        <entry key="ConditionCoverage">Condition</entry>
        <entry key="MCDCCoverage">MC/DC</entry>
        <entry key="CoverageReportNotAvailableMenuItem">No code coverage reports available</entry>
        <entry key="PreviousRunNotAvailableMenuItem">No previous runs available</entry>
        <entry key="TestReportActiveTestSuiteMenuItem">Generate Test Result Report</entry>
        <entry key="TestReportSelectedTestsMenuItem">Generate Test Result Report for Selected Tests</entry>
        <entry key="EnableCoverage">Enable code coverage</entry>
        <entry key="EnableGenCoverage">Enable generated code coverage</entry>
        <entry key="EnableCoverageDescription">Collect code coverage when running all tests</entry>
        <entry key="EnableGenCoverageDescription">Collect generated code coverage when running equivalence tests</entry>
        <entry key="AutoOpenCoverage">Automatically open code coverage report</entry>
        <entry key="AutoOpenCoverageDescription">Automatically open code coverage report after code coverage is collected</entry>
        <entry key="EnableDiagnosticsOutputLogging">Enable logged diagnostics</entry>
        <entry key="EnableDiagnosticsOutputLoggingDescription">Display logged diagnostics in Command Window</entry>

        <!-- Toolbar Tooltips text -->
        <entry key="Stop" note="Stop the current opertion (running or refreshing tests, open report, etc.)">Stop</entry>
        <entry key="RunAllInTestSuite">Run tests</entry>
        <entry key="RefreshAllTests">Refresh tests</entry>
        <entry key="RunTestsInParallel">Run tests in parallel</entry>
        <entry key="CoverageCollectionSettings">Configure code coverage collection settings</entry>
        <entry key="ViewReport">View reports</entry>
        <entry key="ConfigureRunTestsSettings">Configure test run settings</entry>
        <entry key="LoadBaselineDataInToWorkspace" note="{0} are the baseline
        filenames associated with test points that show up as tooltip for data
        column text">load {0}</entry>
        <entry key="ExportTestRunToFile">Export test run to file</entry>
        <entry key="TestConfigToBuildFile">Copy current MATLAB Test Manager configuration to include in a build file</entry>

        <!-- More filters drop-down -->
        <entry key="MoreFilters">Filters</entry>
        <entry key="PassedTestResult">Passed</entry>
        <entry key="FailedTestResult">Failed</entry>
        <entry key="IncompleteTestResult">Incomplete</entry>
        <entry key="NotRunTestResult">Not run</entry>
        <entry key="QueuedTestResult">Queued</entry>
        <entry key="AllStatusesMenuItem">All statuses</entry>
        <entry key="TestResultHeader">Test Result</entry>
        <entry key="TestTypeHeader">Test Type</entry>
        <entry key="BaselineTestType">Baseline</entry>
        <entry key="EquivalenceTestType">Equivalence</entry>

        <!-- Column configuration dropdown button tooltip -->
        <entry key="ConfigureColumns">Configure columns</entry>

        <!-- Running progress bar text -->
        <entry key="RunningTests">Running tests...</entry>

        <!-- Summary buttons text -->
        <entry key="AllTestsButton">Total Tests</entry>
        <entry key="PassedButton">Passed</entry>
        <entry key="FailedButton">Failed</entry>
        <entry key="IncompleteButton">Incomplete</entry>
        <entry key="NotRunButton">Not Run</entry>

        <!-- Summary button tooltip texts -->
        <entry key="ShowAllResultStatus">Show all tests</entry>
        <entry key="ShowOnlyPassedResultStatus">Show only passed tests</entry>
        <entry key="ShowOnlyFailedResultStatus">Show only failed tests</entry>
        <entry key="ShowOnlyIncompleteResultStatus">Show only incomplete tests</entry>
        <entry key="ShowOnlyNotRunResultStatus">Show only tests that have not run</entry>

        <!-- Search box placeholder -->
        <entry key="SearchBox">Filter by text</entry>

        <!-- Table column headings -->
        <entry key="TestColumn">Test</entry>
        <entry key="DiagnosticColumn">Diagnostic</entry>
        <entry key="TypeColumn">Type</entry>
        <entry key="TagColumn">Tags</entry>
        <entry key="RequirementColumn">Requirements</entry>
        <entry key="TimeColumn">Time</entry>
        <entry key="DataColumn">Data</entry>

        <!-- Table expander header row -->
        <entry key="TableTitle">Test Details</entry>
        <entry key="Expander">Expand All</entry>
        <entry key="CollapseAll">Collapse All</entry>
        <entry key="TableMenu">Expand, collapse, and sort tests</entry>
        <entry key="SortBy">Sort By</entry>
        <entry key="LoadOrder">Test (Load Order)</entry>
        <entry key="NaturalSort">Test (Natural Sort)</entry>
        <entry key="Ascending">Ascending</entry>
        <entry key="Descending">Descending</entry>

        <!-- Table context menu items -->
        <entry key="RunSelectedMenuItem">Run selected</entry>
        <entry key="EditSelectedMenuItem">Edit selected</entry>
        <entry key="UpdateBaselineDataMenuItem">Update baseline data</entry>
        <entry key="RequirementsMenuItem">Requirements</entry>

        <!-- Table Type Column Renderer -->
        <entry key="AppTest">App</entry>
        <entry key="PerformanceTest">Performance</entry>
        <entry key="MockTest">Mock</entry>
        <entry key="EquivalenceTest">Equivalence</entry>
        <entry key="ParameterizedTest">Parameterized</entry>
        <entry key="BaselineTest">Baseline</entry>

        <!-- Table Time Column Renderer -->
        <entry key="TimeHourMinuteSecond">{0}h {1}m {2}s</entry>
        <entry key="TimeMinuteSecond">{0}m {1}s</entry>
        <entry key="TimeSecond">{0}s</entry>

        <!-- Table Notifications -->
        <entry key="AllRowsFilteredOut">No tests match the applied filter.</entry>
        <entry key="FiltersActive">One or more filters are applied.</entry>
        <entry key="ResetFilters">Clear filters</entry>

        <!-- Modal Overlays -->
        <entry key="RefreshingTests">Refreshing tests...</entry>
        <entry key="LoadingTestsIndeterminate">Loading tests...</entry>
        <entry key="LoadingTestsDeterminate">Loading test {0} of {1}...</entry>
        <entry key="SettingUpTestEnvironment">Setting up test environment...</entry>
        <entry key="OpeningTests">Opening test files...</entry>
        <entry key="NavigatingToRequirement">Navigating to requirement...</entry>
        <entry key="OpeningTestSuitesManager">Opening Test Suite Manager...</entry>
        <entry key="GenericBusyMessage">Busy...</entry>
        <entry key="SavingCoverageResult">Saving code coverage result...</entry>
        <entry key="CreatingCoverageReport">Creating code coverage report...</entry>
        <entry key="UpdatingCoverageSummary">Updating coverage summary...</entry>
        <entry key="CleanupRefreshSession">Finishing refresh...</entry>
        <entry key="GettingSelectedTestLineRange">Getting line range for selected test...</entry>
        <entry key="UpdatingBaselineData">Updating baseline data...</entry>
        <entry key="UpdatingRequirementLinks">Updating requirement links...</entry>
        <entry key="ImportingTestRunOverlay">Importing test run from file...</entry>
        <entry key="ExportingTestRunOverlay">Exporting test run to file...</entry>

        <!-- Running Progress Bar -->
        <entry key="CleanupRunSession">Finishing run...</entry>

        <!-- Custom Test Suites -->
        <entry key="TitleAndActiveTestSuite">MATLAB Test Manager: {0}</entry>
        <entry key="AllTestsInCurrentProject">All Tests in Current Project</entry>
        <entry key="ManageCustomTestSuites">Manage Custom Test Suites...</entry>
        <entry key="ManageCustomTestSuitesTooltip">Open Test Suite Manager to define custom test suites.</entry>
        <entry key="CustomTestSuiteHeader">Custom Test Suites</entry>
        <entry key="ImpactedTestsSinceLastCommit">Impacted Tests Since Last Commit</entry>
        <entry key="ImpactedTestsSinceLastCommitTooltip">Tests impacted by changes since the last commit</entry>


        <!-- Test Run History -->
        <entry key="PreviousRunTitle">MATLAB Test Manager: {0} - {1}</entry>
        <entry key="PreviousRunsMenuHeader">Previous Runs</entry>
        <entry key="PreviousRunMenuLabel">{0} - {1}</entry>
        <entry key="SelectedTestsRun">Selected Tests</entry>
        <entry key="ImportTestRunMenuLabel">Import Test Run...</entry>
        <entry key="ImportPreviousRunMenuLabel">{0} - {1} (Imported)</entry>

        <!-- Test Results Report -->
        <entry key="TestResultReportMenuHeader">Test Result Reports</entry>
        <entry key="SelectTestResultReportName">Select Test Results report file name and format.</entry>
        <entry key="LoadingTestResultIndeterminate">Loading test results...</entry>
        <entry key="LoadingTestResultDeterminate">Loading test results {0} of {1}...</entry>
        <entry key="TestResultConfirmDialogMessage">Some tests do not have results. Click ''Continue'' to generate a test report only for the tests that have results. These tests do not have results:\n{0}</entry>
        <entry key="TestResultSaveQuestionDialog">Would you like to save the html file in a non-empty folder?</entry>

        <!-- Code Coverage Report -->
        <entry key="CoverageReportMenuHeader">Code Coverage Reports</entry>
        <entry key="CodeGenCoverageReportMenuHeader">Generated Code Coverage Reports</entry>
        <entry key="SelectTests" note="0 is DataTimeString, 1 is SelectedTestNameString">{0} - Selected Tests {1}</entry>
        <entry key="TestSuite" note="0 is DataTimeString, 1 is TestSuiteNameString">{0} - Test Suite {1}</entry>
        <entry key="AllTests" note="0 is DateTimeString">{0} - All Tests in Current Project</entry>

        <!-- Code Coverage Summary -->
        <entry key="FunctionCoverage">Function</entry>
        <entry key="CoverageSummaryTitle">Coverage Summary</entry>
        <entry key="CoverageSummaryIsStaleMessage">Results do not update when you run a subset of the tests in the suite.</entry>
        <entry key="LastUpdated">Last Updated: {0}</entry>

        <!-- Diagnostics Report -->
        <entry key="DiagnosticsReportWindowTitle">{0}: {1}</entry>

        <!-- Data Column -->
        <entry key="BaselineData">Baseline Data</entry>

        <!-- Confirmation -->
        <entry key="UpdateBaselineDataDialogText">Are you sure you want to overwrite the baseline with new data for the selected tests?</entry>
        <entry key="UpdateBaselineDataDialogTitle">Update Baseline</entry>

        <!-- Buildtool Dialog -->
        <entry key="BuildtoolDialogTitle">Copy Current Test Configuration for Build File</entry>
        <entry key="BuildfileHyperlinkText">What is a build file?</entry>
        <entry key="CopyToClipboard">Copy code to clipboard</entry>
        <entry key="CodeSnippetCopied">Copied!</entry>
        <entry key="GeneratingTestTask">Generating TestTask...</entry>
        <entry key="CodeSnippetDescription">This code snippet reflects the current MATLAB Test Manager configuration, including the currently selected test suite, coverage settings, output detail, logging level, and setting for strict checks. Copy and paste this code snippet into a build file.</entry>
        <entry key="CodeSnippetPlanComment">{0} refers to the {1} object</entry> 
        <entry key="CodeSnippetGeneratedCoverageComment">Generated Code Coverage has been enabled in Test Manager but is not supported by TestTask</entry>

        <!-- Import/Export Test Run -->
        <entry key="ImportTestRunDialogTitle">Import test run from file</entry>
        <entry key="ExportTestRunDialogTitle">Export test run to file</entry>

        <!-- Errors -->
        <entry key="ErrorDialogTitle">MATLAB Test Manager</entry>
        <entry key="MLTestAttemptedLoadWithoutProject">Unable to open MATLAB Test Manager. There is no open project.</entry>
        <entry key="TestManagerOpenInAnotherMATLAB">Unable to open MATLAB Test Manager. The current project is open in another instance of MATLAB.</entry>
        <entry key="TestResultsOpenInAnotherMATLAB">Unable to read MATLAB Test results. The current project is open in another instance of MATLAB.</entry>
        <entry key="TestResultsNewerThanMATLAB">Unable to read MATLAB Test results. The current project contains test results from a newer version of MATLAB ({0}).</entry>
        <entry key="RunFailed">Run failed.</entry>
        <entry key="RefreshFailed">Refresh failed.</entry>
        <entry key="GenericError">Unable to complete the requested action.</entry>
        <entry key="NoTestsInActiveSuite">No tests match the criteria specified by the selected test suite.</entry>
        <entry key="NoTestsSelected">No tests selected.</entry>
        <entry key="NoTestsFound">No tests found. Check that there are tests in the project and they do not contain syntax errors.</entry>
        <entry key="SelectedTestsNotFound">Unable to find the selected tests. Check that the selected tests are in the project and do not contain syntax errors.</entry>
        <entry key="ActionIncompleteDiagnosticsH1Line">Test execution incomplete</entry>
        <entry key="ActionIncompleteDueToMATLABInterrupt">Unable to complete the requested action because MATLAB was interrupted using Ctrl+C or pressing the stop button.</entry>
        <entry key="OpenTestFileFailed">Unable to open the following test files:\n\n{0}</entry>
        <entry key="ParallelModeMissingPCT">Unable to start a parallel pool. To run tests in parallel, Parallel Computing Toolbox must be installed and licensed.</entry>
        <entry key="ParallelPoolUnavailable">Unable to find an open parallel pool. To run tests in parallel, enable automatic pool creation in the Parallel Preferences.</entry>
        <entry key="ThreadPoolNotSupported">Running tests in ThreadPool is not supported.</entry>
        <entry key="WarningDialogTitle">Warning</entry>
        <entry key="MissingCoverageReportWarning">Code coverage report unavailable. Rerun in MATLAB Test Manager with code coverage enabled to generate a code coverage report.</entry>
        <entry key="MissingDesignFilesForCoverageReportWarning">Unable to generate code coverage report because there are no MATLAB source code files in the current project.</entry>
        <entry key="MissingEquivalenceTestsForCodeGenReportWarning">Unable to create generated code coverage report because no equivalence tests for generated C/C++ code ran.</entry>
        <entry key="RequirementsToolboxRequired">To view requirements linked to tests, Requirements Toolbox must be installed.</entry>
        <entry key="RefreshInterruptedWarning">Loading of test suite information was interrupted when changing test suites. Refresh to display the tests in the current test suite.</entry>
        <entry key="FailedInitializationNoWritePermissions">MATLAB Test Manager failed to initialize because the project folder "{0}" is read-only. You can only use the MATLAB Test Manager with project folders that are writable.</entry>
        <entry key="MissingTestResult">Unable to find test results in data model.</entry>
        <entry key="NoTestResultAvailable">The test result report was not generated because there are no test results available.</entry>
        <entry key="InvalidParameterizationInTestResults">The test result report was not generated because parameterization information is invalid in one or more test results. Refresh tests to update parameterization information.</entry>
        <entry key="MissingStatusProperty">Missing status property. Check that message published contain status property.</entry>
        <entry key="MissingLineRange">No line range was found for the selected test. No requirement links were deleted.</entry>
        <entry key="FailedToUpdateBaseline">Failed to update baseline for the selected tests</entry>
        <entry key="FailedToExportBaseline">Failed to export baseline data to workspace</entry>
        <entry key="UpdateFailed">Update Failed</entry>
        <entry key="ExportFailed">Export Failed</entry>
        <entry key="TestNotFound">Unable to create or delete requirement links because no valid test was found. Modifying links for tests that have been commented out, script-based tests, or tests in MLX files is not supported.</entry>
        <entry key="NoTestsFoundImpacted">No tests found that are impacted by changes since the last commit</entry>
        <entry key="NoSourceControlIntegrationFound">Unable to find tests impacted by changes since the last commit because the current project does not use source control.</entry>
        <entry key="UnableToExportTestRun">Unable to export test run\n{0}</entry>
        <entry key="UnableToImportTestRun">Unable to import test run\n{0}</entry>
        <entry key="UnsupportedTestRunFileExtension">The test run file must have
       "{0}" extension</entry>

        <!-- Success -->
        <entry key="ExportedBaselineData">Exported baseline data to workspace</entry>
        <entry key="ExportComplete">Export Complete</entry>

        <!-- Warnings -->
        <entry key="DiagnosticsNotAvailableTitle">Diagnostics not available</entry>
        <entry key="DiagnosticsNotAvailableMsg">Unable to open test diagnostics because there are no failed tests.</entry>

        <!-- Forward Compatibility Dialog -->
        <entry key="TestResultsNewerThanMATLABPrompt">The current project contains MATLAB Test results from a newer version of MATLAB ({0}). To open the MATLAB Test Manager, you must delete the existing results.</entry>
        <entry key="TestResultsNewerThanMATLABDelete">Delete results and open MATLAB Test Manager</entry>

        <entry key="DialogCancel">Cancel</entry>
    </message>
</rsccat>
